[2019-06-06 09:38] pieterjanpintens commented on #566
I'm willing to make an attempt for a fix and Pull Request if you are willing to take it

[2019-06-06 12:57] lbetz commented on #566
I'm not sure if I like this syntax. Or maybe something like that:

vars => [ 'config', { prio => 'high'} ]

should returns:

vars += config
vars.prio = "high"

I'll have a look  in the evening how complicate it will be.

[2019-06-10 10:36] lbetz opened #568 "Remove deprecated data_provider"
Warning: Defining "data_provider": "hiera" in metadata.json is deprecated. It is ignored since a 'hiera.yaml' with version >= 5 is present
   (file: /etc/puppetlabs/code/environments/production/modules/icinga2/metadata.json)

[2019-06-11 08:20] #568 closed, assigned to lbetz

[2019-06-26 06:08] lbetz opened #570 "Pin versions for travis of required puppet modules for puppet 4"
Current version of modules like stdlib and concat doesn't support puppet 4 anymore.

[2019-06-26 06:12] lbetz commented on #570
refs #571

[2019-06-26 06:32] #570 closed, assigned to lbetz

[2019-06-26 14:38] yfried opened #572 "REOPEN: does not handle database host correctly"
I'm hitting the same issue as in #255.
Also, [the workaround described](https://github.com/Icinga/puppet-icinga2/issues/255#issuecomment-286647989) doesn't work for me, as mysql client fails to connect:
[code]

## Your Environment

* Module version (`puppet module list`):

icinga-icinga2 (v1.3.6)
icinga-icingaweb2 (v2.2.0)

* Puppet version (`puppet -V`):

Puppet v5.5.1

* Operating System and ver

[2019-07-11 12:45] lbetz commented on #572
Ok, I see the problem... -: takes care if the string is used as parameter of an Icinga object but not if we use it to connect a database.

The quick fix was to use the IP not use -: notation.

[2019-07-11 12:46] lbetz commented on #572
You use puppet v5.5.1, please update to the current puppet-icinga2 version.

[2019-07-11 13:52] lbetz commented on #572
You must not use any of the object attributes to assign as a string to an attribute. All this is parsed as unquoted. If you'd use the fqdn it'll work fine with the current version of this module.

[2019-07-12 10:48] lbetz commented on #566
refs #574

[2019-07-12 10:52] #566 closed, assigned to lbetz

[2019-07-12 20:05] lbetz opened #575 "Downgrade restore of vars"
vars => 'vars + config'

is currently no more supported.

[2019-07-13 13:17] #575 closed, assigned to lbetz

[2019-07-26 05:34] lbetz opened #576 "New HA-aware Features"
v2.11 introduces additional HA functionality similar to the DB IDO feature. This enables the feature being active only on one endpoint while the other endpoint is paused. When one endpoint is shut down, automatic failover happens.

This feature is turned off by default keeping the current behaviour. If you need it active on just one endpoint, set enable_ha = true on both endpoints in the feature c

[2019-07-26 05:37] lbetz opened #577 "Add new attribute last_failover to feature idomysql and idopgsql"
The IdoMysqlConnection and IdoPgsqlConnection objects provide a new attribute named last_failover which shows the last failover timestamp. This value also is available in the ido CheckCommand output.

[2019-07-26 05:41] lbetz opened #578 "Add info of new constant MaxConcurrentChecks to feature checker"
In v2.11 the deprecated concurrent_checks attribute in the checker feature has no effect anymore if set. Please use the MaxConcurrentChecks constant in constants.conf instead.

in docs set concurrent_checks to deprecated.

[2019-07-26 05:54] lbetz opened #579 "Add new constants and keywords"
Add the following new constants to icinga2::globals::reserved in module data common.yaml:

- Environment
- ApiBindHost
- ApiBindPort

and keywords:

- namespace
- using

[2019-07-26 06:12] lbetz opened #580 "Add missed flapping attributes to objects host and service"
Icinga 2 v2.8 implements a new flapping detection algorithm which splits the threshold configuration into low and high settings. flapping_threshold is deprecated and does not have any effect when flapping is enabled. This attribute was removed in v2.9.

[2019-07-26 06:19] lbetz commented on #579
namespaces and using aren't relevant in this module because they're not used in object definitions.

[2019-07-26 06:20] #579 closed, assigned to lbetz

[2019-07-26 06:54] lbetz opened #581 "Add new attributes to feature api"
In v2.10 the attributes

- tls_handshake_timeout
- environment
- max_anonymous_clients

are added.

[2019-07-26 06:55] #578 closed, assigned to lbetz

[2019-07-26 07:10] #581 closed, assigned to lbetz

[2019-07-26 07:32] #576 closed, assigned to lbetz

[2019-07-26 07:44] lbetz commented on #580
It's a bug because the new flapping mechanism was implemented in 2.8.0 and this is the last version supported by this module.

[2019-07-26 07:45] dnsmichi commented on #577
That's a runtime attribute populated from the core itself, you can not modify this from within the configuration in Puppet.

Maybe you're confusing this with `failover_timeout`?

[2019-07-26 07:55] lbetz commented on #577
No. Described in
https://icinga.com/docs/icinga2/v2.11.0-rc1/doc/16-upgrading-icinga-2/#flapping-configuration
under HA Failover.

[2019-07-26 10:41] #580 closed, assigned to lbetz

[2019-07-26 10:47] lbetz commented on #577
Ok, my fault it's an API attribute.

[2019-07-26 10:47] #577 closed, assigned to nobody

[2019-07-26 10:49] lbetz opened #582 "Add missed attribute categories to both ido features"

[2019-07-26 10:52] lbetz commented on #582
Fixed in the past.

[2019-07-26 10:52] #582 closed, assigned to nobody

[2019-07-26 11:20] lbetz opened #583 "Remove OpenBSD from official support list"
First we haven't correct unit tests and last but not least a vagrant box for acceptence tests is missed.

[2019-07-26 11:22] lbetz commented on #583
Mean remove it from metadata.json!

[2019-07-26 11:23] #583 closed, assigned to lbetz

[2019-07-26 14:07] lbetz opened #584 "Rework and correct documentation of Clustering Icinga 2"
Whole section looks confused, master with pki to none and no CA. The Client has to have an ca_host, ticket_salt etc.

[2019-08-14 15:04] asdf1234-deleted opened #585 "Cannot complete agent / client add via puppet"
## Expected Behavior
The profile modules/profile/manifests/icinga2/agent.pp I added should respect the pki setting I added:

My agent.pp: https://gist.github.com/mtdeguzis/7036fc9fe8a9e7bc4b4078708b79c205
testnode.pp role: https://gist.github.com/mtdeguzis/a3af52f453a31179d73826effc15b412

## Current Behavior
The puppet sync with master seems to ignore my pki setting of 'none'. I'll be happy to re

[2019-08-14 15:15] asdf1234-deleted commented on #585
if I move the icinga2 profile for puppet-dev into the modules, then the install the upstream module itself dies.

Jenkins:
[code]

Am I supposed to edit the existing module or rename what I am doing as an "Extension" of the installed module?

[2019-08-14 16:54] asdf1234-deleted commented on #585
I think is just my misunderstanding of the module. I was using the same module names as the one I installed from puppet forge. Created a new module that does the agent connection in it's own class

modules/uda_icinga/agent.pp
[code]

I know probably the best thing is to put this in the node role, but I wanted to share this common "module" with several roles

[2019-08-14 19:24] asdf1234-deleted commented on #585
My issue here was incorrectly adding "api" to the ` class { '::icinga2':    ` piece. Disregard.

[2019-08-14 19:24] #585 closed, assigned to nobody

[2019-08-21 19:20] cactushydrocodone commented on #405
I have the same problem right now, the second time.
Its REALLY annoying.
As soon as this happens, its a "deadlock". You cannot add new hosts, its not possible.
Every new host will have a unverified cert signed by itself, somehow.

[2019-08-22 15:01] zehweh opened #586 "Allow to get attributes from function result"
Currently, only hashes are allowed for `argument` in the `checkcommand` object.
To be able to use functions to copy `arguments` from other `checkcommand`s, strings need to be allowed.

Example usecase:
`my-disk` checkcommand which is based on the original `disk` checkcommand (only difference: sudo):

Hiera:
[code]

## Expected Behavior
[code]

## Current Behavior
`Evaluation Error: Error while eva

[2019-08-24 10:01] lbetz commented on #586
We write a simple parser. So the parser isn't able to handle such complex values depend on functions. Changing the type of arguments to hash or string results

arguments = get_check_command("disk).arguments"

This case is not easy to add to our parser, please use an static config file as file resource with a tag to icinga2::config::file.

[2019-08-24 10:06] lbetz commented on #586
Problem is at the moment methods like .arguments are not supported.

[2019-08-24 10:39] lbetz commented on #586
But it seems to be simple to implement. Try out branch 'enhancement/allow-to-get-attributes-from-function-result'.

[2019-08-24 10:49] lbetz opened #587 "Allow to parse an array in strings"
Current Behavior:
host.name + "[ item1, item2, host.address ]"

Expected Behavior:
host.name + [ "item1", "item2", host.address ]

[2019-08-25 12:57] lbetz opened #588 "Allow to parse a simple hash in strings"
Puppetcode:
attr => 'host.name + { item1 => value1, item2 => value2 }'

Current Behavior:
host.name + "{ item1 => value1, item2 = > value2 }"

Expected Behavior:
host.name + {
  item1 = "value1"
  item2 = "value2"
}

[2019-08-25 13:06] lbetz commented on #588
Not supported: nested array or hash

[2019-08-26 04:47] zehweh commented on #586
Thanks for your quick response.

Running your branch with:
[code]

still results in
`arguments = get_check_command("disk).arguments"`

I have to disable the parser like this:
`arguments: '-:get_check_command("disk").arguments'`

to get the correct config:
`arguments = get_check_command("disk").arguments`

[2019-08-27 19:39] lbetz commented on #586
In my setup everything works fine with the branch, my puppet code

icinga2::object::checkcommand { 'my-command':
  target => '/etc/icinga2/conf.d/my_commands.conf',
  command => [ 'sudo', 'PluginDir + /check_disk' ],
  arguments => 'get_check_command(disk).arguments',
}

apply the following result:

# This file is managed by Puppet. DO NOT EDIT.
object CheckCommand "my-command" {
  command = [ "su

[2019-09-05 06:43] zehweh commented on #586
This is weird.. I did some more testing. With hiera and without. Result is the same, it doesn't work for me.
[code]

[code]

results in

[code]

[2019-09-05 12:55] lbetz commented on #586
What returns $git branch?

Did you do an pull like
git pull origin enhancement/allow-to-get-attributes-from-function-result?

[2019-09-05 13:14] zehweh commented on #586
[code]

[code]

Also verified that the changes you made are actually there.. Seems all good.

[2019-09-10 06:49] mamiral opened #589 "Same zone defined and exported on multiple nodes error"
Hello, I guess this is more of a puppet problem, but maybe (as a feature) a class could be added which collects zones and adds all endpoints into one respective zone config object... If such thing is even possible in puppet.

What I'm trying to do:
I have predefined zones such as 'data manager' zone, 'maintenance' etc. I try to define and export respective zone when a node in zone is added (in for

[2019-10-04 14:49] rwaffen opened #591 "Host var value is replaced with icinga2 variable value"
I pass a fact to a host var, but getting a icinga2 internal variable returned.

[code]

[code]

For Solaris Zones the fact "virtual" returns "zone". But in icingaweb2 i see the value for machine_type ist replaced with "Master". Which is the name of the zone the host is living in.

## Expected Behavior
the value for machine_type should be "zone".

## Current Behavior
the value for machine_type is r

[2019-10-06 15:23] lbetz commented on #591
That is a correct behaviour. The parse of this module print zone without quotes to the icinga config because zone is an attribute.

You have to disable the parse for this value and set quotes by yourself.

infra::profile::icinga::export_host::vars:
  machine_type: "-:\"%{facts.virtual}\""

[2019-10-07 17:48] rwaffen commented on #591
"-:" disables the parsing?

[2019-10-08 04:58] lbetz commented on #591
Yes. Only for that value or attribute.

[2019-10-08 05:00] lbetz commented on #591
Please have a look at the documentation, chapter Parsing Configuration.

[2019-10-08 09:56] rwaffen commented on #591
ah okay. sorry.

that helped:
[code]

and if this is desired behavior, than we can close this issue.

[2019-10-08 09:56] #591 closed, assigned to lbetz

[2019-10-08 11:54] lbetz commented on #591
You're welcome.

[2019-10-09 17:12] lbetz commented on #589
Ah, sorry for the long time....

I don't use zones as exported resources, only endpoint are exported and collected by a tag. So of course all zones have to declare at any node.

[2019-10-30 09:00] mamiral commented on #589
Hi,
yes, i have also stopped using exported zones, had a troubles with satellites.

[2019-10-30 09:00] #589 closed, assigned to nobody

[2019-11-12 23:07] b3n4kh opened #592 "SELinux and icinga2::feature::api"
Enabling API Feature with 'puppet' as pki requires second puppetrun to work, if selinux set to Enforcing.

[code]

## Expected Behavior
Puppet copies the certificates and starts icinga.

## Current Behavior
Puppet failes to start icinga service since the certificates can not be read, due to wrong seltype, even though icinga2-selinux is installed.

## Possible Solution
Installing icinga2-selinux no

[2019-11-18 06:38] lbetz commented on #592
To solve your problem, the module has the feature to disable the package management.

package { ['icinga2', 'icinga2-selinux']: }

class { 'icinga2':
  manage_package => false,
}

Bye
Lennart

[2019-12-17 09:38] lbetz opened #593 "Add Support for Debian 10"

[2019-12-17 09:39] lbetz opened #594 "Add Support for RHEL 8"

[2019-12-17 14:09] lbetz opened #595 "Add Backports Repo on Debian"
Icinga2 ab v2.11.0 requires newer boost libraries. These are served on Debian via backports.

[2019-12-17 16:55] #595 closed, assigned to nobody

[2019-12-17 18:08] #584 closed, assigned to nobody

[2020-01-08 20:11] #572 closed, assigned to nobody

[2020-01-10 15:14] lbetz commented on #594
related to PR #600

[2020-01-10 15:15] #594 closed, assigned to nobody

[2020-01-13 06:53] #586 closed, assigned to lbetz

[2020-01-13 06:55] #592 closed, assigned to nobody

[2020-01-13 07:29] #587 closed, assigned to lbetz

[2020-01-13 21:07] #593 closed, assigned to nobody

[2020-01-13 21:10] #588 closed, assigned to lbetz

[2020-02-12 22:28] vicinus opened #605 "Faulty configuration created if NodeName is service.example.com"
If a fqdn starts with service., host. or user. then the required quotation marks are not generated, because it is mistaken for an attribute or variable (custom attribute) from the host, service or user context (host.name, service.check_command, user.groups, ...)

Example:

[code]
## Expected Behavior
The file /etc/icinga2/constants.conf should contain the following line:
[code]
## Current Behavior

[2020-02-15 13:59] lbetz commented on #605
Thx for your report.
The solution is described 'Parsing Configuration', with -: in front of a string the parser will be disabled for the complete string. But notice now you've to set " on your own like

constants => '-:"service.example.com"'

[2020-03-20 22:52] baldurmen opened #608 "This module doesn't seem to work properly on machines named "icinga2""
I tried to run this module a long time ago (#268) and for the love of me, I couldn't find what was going on.

Recently, I decided it was time to give it another go, and everything was working perfectly, until I got to provision my icinga2 master, who's hostname is `icinga2`.

On that machine (running the same exact puppet snippets as the other machines), I got all sorts of issues. Default data fro

[2020-03-22 19:24] baldurmen commented on #608
I did a few more tests, and it seems it might actually be a bug in Puppet. I'll keep looking and will update this ticket with more info

[2020-03-23 07:05] lbetz commented on #608
Yes, more info is required.
I tried to reproduce your problem on a centos7 platform named icinga2.localdomain with puppet 5.5.19 but everything works fine.

[2020-03-23 17:42] baldurmen commented on #608
Sorry, I know this was a bad bug report, the current world situation keeps me very busy :(

I'm currently writing a better bug report on Puppet's Jira, as I've been able to reproduce this issue with another module.

I'll close this for now, as it's not an icinga2 problem :)

Thanks for the work you do.

[2020-03-23 17:42] #608 closed, assigned to nobody

[2020-03-24 16:19] lbetz opened #610 "Remove Support for some platforms"
Debian 7 and 8
Fedora 25

[2020-03-24 16:20] #610 closed, assigned to lbetz

[2020-03-25 09:56] #605 closed, assigned to nobody

[2020-04-23 13:31] lbetz commented on #423
Docs reworked, done with puppet strings.

[2020-04-23 13:31] #423 closed, assigned to lbetz

[2020-04-24 07:03] lbetz opened #612 "Add new icingadb feature"

[2020-04-24 07:04] #612 closed, assigned to lbetz

[2020-04-24 15:54] lbetz opened #613 "Replace class repo with new class from module icinga"

[2020-04-29 14:17] tinuzz opened #614 "Attribute values starting with 'service' (and others) create broken configuration"
I am trying to configure a HTTP check for a vhost named 'service.example.com', and it produces a broken configuration.

[code]
This results in the following broken configuration:

[code]

## Expected Behavior

The value of the resulting 'vars.http_vhost' should have quotes surrounding it:

[code]

## Current Behavior

The value is missing quotes.

## Possible Solution

I think this is a bug in the

[2020-05-01 04:25] lbetz commented on #614
Thx for your report. You have identified the correct line but that's not a bug. The reason is described in the documentation under https://github.com/Icinga/puppet-icinga2#how-configuration-is-parsed. Your solution is to use -: to disable the parser.

display_name     => '-:"HTTP service.example.com (test)"'
...
  vars             => {
            'http_vhost' => '-:"service.example.com"',
...

[2020-05-01 06:45] tinuzz commented on #614
Oops, I'm sorry, I didn't read that. Didn't expect anything like that to be the default behaviour though, that's why I went bughunting in the source. Thanks.

[2020-05-01 07:51] tinuzz commented on #614
Hi, sorry to add another reply after closing the issue and I'm not even sure it's going to be helpful, but I just wanted to say, after trying to work with (around) this parser, that it strikes me as extremely odd to make this thing opt-out, rather than opt-in.

Since lots of data that is passed into these parameters isn't necessarily trusted not to contain any special characters, I don't really ha

[2020-05-01 08:02] #614 closed, assigned to nobody

[2020-05-01 11:10] lbetz commented on #614
Yes, the 'parser' isn't perfect. It's just a simple thing to reduce the quoting.

[2020-05-05 05:13] lbetz opened #615 "Lost pull request #611"
Don't know why the PR #611 was lost in v2.4.0

[2020-05-05 05:16] #615 closed, assigned to nobody

[2020-05-13 09:34] tinuzz opened #616 "Attribute parser breaks passwords"
The feature::idomysql class had a parameter '$password'.  Its value is used twice:

- To construct a MySQL command for importing the schema. [Value is used as-is](https://github.com/Icinga/puppet-icinga2/blob/master/manifests/feature/idomysql.pp#L240).
- To configure the IdoMysqlConnection parameters. The value is used here [in the 'attrs' parameter](https://github.com/Icinga/puppet-icinga2/blob/m

[2020-05-20 08:23] lbetz commented on #616
"... and this parser is in fact making it more difficult."

Yes and No. Have you ever tried the old module without a parser and used an assign rule?

But it's a point, not to parse every attribute.

[2020-05-20 08:39] tinuzz commented on #616
Hi,

No I have just started out using this module to configure Icinga2, so I don't have any insight in how it is an improvement over earlier iterations. Yesterday, I added some service groups using assign rules and that just worked, so it's not all bad.

However, to adhere more to [POLA](https://en.wikipedia.org/wiki/Principle_of_least_astonishment), I would recommend to make this parser opt-in, r

[2020-05-20 08:44] lbetz commented on #616
The discussion isn't new. For which scope this on/off option should belong? An attribute, an object and to all its attributes or globally.

[2020-05-20 08:45] lbetz commented on #616
Since a year I'd like to redesign the parser but ... no one gives time to me.

[2020-05-20 09:14] tinuzz commented on #616
I'm not sure I understand the full scope of this question, but intuitively, I would say "globally". When the parser is turned off by default, the only way to have it do anything, is to call it by function. Does that sound reasonable?

[2020-05-26 08:42] joernott opened #617 "Setting up certificates does not work if user != icinga"
My customer is using an enmvironment specific user for monitoring. When defining this user in hiera via
[code]
the execs for certificate generation and retrieval fail, as the folders belong to the monitoring user and /sbin/icinga2 runs as root. As it is switching to icinga automagically somewhere, it can't access the folders and puppet runs fail with messages like
[code]

## Expected Behavior
Icin

[2020-05-28 16:17] meni2029 opened #619 "Parameter icon_image value must not be an absolute path"
## Expected Behavior

**icon_image** parameter can be set for `icinga2::object::host` and `icinga2::object::service` with a relative path for the external user interface (relative from the webserver root folder of icingaweb2, e.g. `imgfolder/image.png`)
## Current Behavior

Only absolute path is allowed by puppet-icinga2 module. Icingaweb2 front-end doesn't know about the absolute path of its host

[2020-06-08 06:23] lbetz commented on #616
First of all, it affects all attributes that are also used for preparatory work such as passwords to filling databases.

- feature/idomysql
- feature/idopgsql

It becomes problematic if someone does not use schema_import, but still switches off the parser or uses constants.

[2020-06-08 10:09] lbetz commented on #616
So we break the API and I set this to v3.0.0, the up coming release (2.4.2 moved to 3.0.0)

[2020-06-08 10:11] lbetz commented on #616
... and all password attributes don't will be parsed.

feature/elasticsearch
feature/icingadb
feature/idomysql
feature/idopgsql
feature/influxdb
object/apiuser

[2020-06-09 12:26] #617 closed, assigned to nobody

[2020-06-09 14:51] #616 closed, assigned to lbetz

[2020-06-09 14:56] #619 closed, assigned to nobody

[2020-06-10 15:22] dosmanak opened #620 "Tunning of OS for icinga2 application"
Provide the options to tune system settings for the icinga2 application.

It would be beneficiary to be able to setup the system settings for Icinga, limits in particular.

## Expected Behavior
The icinga2 module offers the posibility to setup the system limits for the application.

## Current Behavior
The icinga2 is installed with default systemd limits.

## Possible Solution
For systemd it can b

[2020-06-10 16:26] lbetz commented on #620
Pretty idea, thx. But it works only on systemd based systems, of course. That mean we've to classify the supported plattforms, again. Shit.  But it's a sensible feature request.

[2020-06-15 07:34] lbetz commented on #620
At Icinga the limits can be set in a sysconfig file, see
https://icinga.com/docs/icinga2/latest/doc/17-language-reference/#constants
but we don't manage these setting in this module.

And maybe it's better to use a module like
https://github.com/camptocamp/puppet-systemd
for this problem.

[2020-06-15 10:10] lbetz commented on #620
@dosmanak you described a possible solution but that does not work. Did you try that?

[2020-06-15 11:12] dosmanak commented on #620
Well, I took working example from Debian Jessie, where I can see it works.
But as I check now, it does not work on Debian Stretch. I am confused and I am sorry I misslead you.

[code]
[code]
O both versions, the systemctl claims it should be 50000:
[code]

[2020-06-15 11:58] lbetz commented on #620
Hm, not problem you#re welcome and thx for the report. I tested it on CentOS 7 only and it also does not work.

[2020-06-15 13:54] dosmanak commented on #620
I did not expect the value defined in /etc/default/icinga2 still works using systemd. But I see it does.
So setting:
`ICINGA2_RLIMIT_FILES=50000` in /etc/default/icinga2 works and I expect it works even using sysV init.

[2020-06-15 14:19] lbetz commented on #620
Unfortunately, no. I did it on centos 6 and sysconfig does not work. I'm working on it.

[2020-06-18 15:50] PedroMSantosD opened #621 "Question: import db schema: custom prefix not used."
Hi,

This is a question on development environment - not production - just guidance needed.

when using the module to setup a different table prefix,
i.e. testing2113, the prefix used on the database still is "icinga_"; and
the query from icinga, using the custom prefix, keeps failing

puppet module current code

[code]
-->

## Expected Behavior
I expect mysql schema to be imported with the proper

[2020-06-18 15:57] lbetz commented on #621
We keep an eye on it, I thing it's possible.

[2020-06-18 15:58] lbetz commented on #621
But why you don't use a different database?

[2020-06-18 16:01] PedroMSantosD commented on #621
Hi @lbetz , Thanks for replying.

just playing with the prefix, as said, workaround is leave defaults/ change DB, etc.

Just commenting the issue I found, in case it might be useful for anyone.

[2020-07-10 12:36] lbetz commented on #620
Still a problem is, we need a restart and not a reload if we change these parameters.

[2020-07-17 10:07] lbetz opened #623 "Change all TLS certificates and keys to datatype Stdlib::Base64"

[2020-07-22 01:33] cwseys opened #624 "number with 'm' suffix is assumed to be a duration literal, converted to numeric literal"
Hi,
  I'm trying to use a custom variable 1000m in a service (icinga2::object::service.
[...]
$currmbps=1000
[...]
            vars => {
               maxbw     => "${currmbps}m"
            },
[...]

This creates a service config file with the following:
vars.maxbw = 1000m

Note, there are no quotes on this number.
When icinga2 executes the check command, it converts this to 60000 and executes t

[2020-07-22 04:38] lbetz commented on #624
Hi,

Tanks for reporting. I don't understand the Problem, 1000 minutes are 60000 seconds. The module as well as Icinga itself works correct, Icinga always convert an interval to a floating point.

Quoting 1000m leads to an syntax error in Icinga:
2020-07-21 21:30:43 -0700] critical/config: Error: Error while evaluating expression: Can't convert '1000m' to a floating point number.
Location: in /etc

[2020-07-22 17:07] cwseys commented on #624
The custom var 'maxbw' is not a time. The check command interprets the
string "1000m" as 1000 Mbps.

" The  module as well as Icinga itself works correct, Icinga always
convert an

Well, this is for a custom variable, not an interval, so I apparently
icinga doesn't explode in that case.

That works almost perfectly! The config file now contains "1000m" and
icinga passes that string to the check co

[2020-07-23 05:16] lbetz commented on #624
You're welcome. Ah. Sorry my mistake. Then the described way with -: to disable the parser is the right and only way. Because the parser has no change to know what kind of type you wanna use.

[2020-07-23 05:16] #624 closed, assigned to nobody

[2020-07-23 14:31] cwseys commented on #624
Perhaps scattering around this "escape code" in a few places in the
documentation would help?  Especially in the Duration Literal section?

https://icinga.com/docs/icinga2/latest/doc/17-language-reference/#duration-literals

Not sure that is the correct place though:  If one is writing the
icinga2 config by hand, one would just put "" around the string.

So I guess it would have to be in the puppe

[2020-07-23 18:03] lbetz commented on #624
https://github.com/Icinga/puppet-icinga2#how-configuration-is-parsed

[2020-08-17 11:33] remy1991 opened #625 "Mention Icinga2 package version."
There is no way to mention which icinga2 package version should be installed.

I can only find the following code snippet in install.pp under manifests and this will try to install the latest version present in the repository which can break installation due to some dependencies not being present. Also due to this there is no way to keep the icinga2 version unanimous across the infrastructure sinc

[2020-08-20 12:43] lbetz commented on #625
Checkout the documentation 'Usage - Installation' in README.md to use this module to install a specific version. But keep in mind, if you also manage other packages like icinga2-idomysql or iciga2-idopgsql, you have to manage these packages and the icinga2 package yourself

[2020-08-20 12:43] lbetz commented on #625
Please update to the current version 2.4.1.

[2020-08-20 12:56] remy1991 commented on #625
@lbetz Thank you for the info
I ended up implementing the same way but was just wondering if there a different way to do it hence this post.

Yes, this bit is the necessary.

Closing this, thanks.

[2020-08-20 12:56] #625 closed, assigned to nobody

[2020-08-20 13:58] lbetz commented on #625
There is purposely no other way. The package managers are too different in behaviour. And with the IDO and schema updates, it may not be used anyway.

We follow the concept that Puppet is not software management.

[2020-09-23 10:44] koraz0815 commented on #392
@baurmatt Did you still use this solutin for speed up your enviorment?

[2020-09-23 12:15] baurmatt commented on #392
@koraz0815 Some optimizations (e.g. switch to native Puppet data types) have been included in newer version of this module but especially the part I've managed in https://github.com/Icinga/puppet-icinga2/issues/392#issuecomment-345690163 is still used for our production setup.

[2020-09-23 12:59] koraz0815 commented on #392
@baurmatt Thank you for the script.
one other question:
Why did you exclude the monitor-Server from the puppet dbquery?
`! certname = \"${::trusted['certname']}\"`

[2020-09-23 13:03] baurmatt commented on #392
@koraz0815 tbh, I have no idea anymore. It was probably because we had a separate `icinga2::object::host` with some special magic. As of today this seems to be refactored and we currently run with:

[code]

[2020-10-02 16:27] thorstenk opened #631 "Accept SHA256 fingerprints (since Icinga2 2.12.0)"
`icinga2 pki save-cert` was changed to use SHA256 digest with version 2.12.0 (see commit https://github.com/Icinga/icinga2/commit/a91b9f2d#diff-6b6e5e369dd1e12a3d39c9fccfa7ee01R361).

## Expected Behavior

Class `icinga2::feature::api` accepts attribute `fingerprint` in SHA1 and SHA256 format.

## Current Behavior

Class `icinga2::feature::api` requires attribute `fingerprint` to be in SHA1 format

[2020-10-03 19:23] SimonHoenscheid commented on #613
Change 8eed0c47c238a2f84e54f4af37983ee1056969e8 breaks the tests, where is this mentioned module?

[2020-10-05 11:31] #613 closed, assigned to nobody

[2020-10-05 14:11] #631 closed, assigned to nobody

[2020-10-06 05:55] lbetz opened #635 "Add unit test for type fingerprint"

[2020-10-06 05:56] lbetz opened #636 "Add unit test for type interval"

[2020-10-06 05:57] lbetz opened #637 "Add unit test for type customattributes"

[2020-10-06 05:58] lbetz opened #638 "Add unit test for type logfacility"

[2020-10-06 05:58] lbetz opened #639 "Add unit test for type logseverity"

[2020-10-06 12:08] lbetz commented on #637
Is tested by the function tests.

[2020-10-06 12:08] #637 closed, assigned to nobody

[2020-10-06 12:42] #623 closed, assigned to nobody

[2020-10-06 12:43] lbetz commented on #639
refers #641

[2020-10-06 12:43] #639 closed, assigned to nobody

[2020-10-06 12:43] lbetz commented on #638
refers #641

[2020-10-06 12:43] #638 closed, assigned to nobody

[2020-10-06 12:43] lbetz commented on #636
refers #641

[2020-10-06 12:43] #636 closed, assigned to nobody

[2020-10-06 12:44] #635 closed, assigned to nobody

[2020-11-01 16:24] jensalmer opened #644 "Unable to pass literal as var due to hash parsing"
Due to the hash parsing introduced in e9d964311a9705fb093662ce75fac2b2de29e05a, string literals that look like a hash can no longer be rendered correctly.

Example case:

[code]
-->

## Expected Behavior
This should result in this generated config:
[code]

## Current Behavior
Results in invalid configuration:
[code]

[2020-11-02 08:37] lbetz commented on #644
Hi,

thx for your report. The parser is very simple and is not designed for this one. But you can use '-:' as prefix to disable parsing this string, e.g.

'http_string' => '-:"{\\"state\\":\\"RUNNING\\"}"',

you see, you've to add quotes yourself. If you have a puppet string with variables you've to escape the beginning and ending quotes too.

There's a short description in the README under 'How C

[2020-11-06 21:10] mattiasgiese-giz opened #645 "Application of the module fails on Windows Server 2019"
Applying the module on a freshly provisioned system leads to a complete failure on the puppet side. Puppet complains that it cannot open a handle to a service:

[code]

The only service resource in this specific catalog is the on coming from this module. After installing the `icinga2` package manually through chocolatey resolves the issue and the puppet run completes succesfully

## Expected Behav

[2020-11-09 09:09] lbetz commented on #645
Hi,

Windows Server 2019 isn't supported, but I tried it and it works fine. The error message also doesn't indicate a problem with the module. Is your puppet agent working correctly, maybe without any manifest?

Bye
Lennart

[2021-01-19 20:04] mattiasgiese-giz commented on #645
Please excuse my very late update on this. After banging my head against the wall for a good while i finally found the culprit.
With a recent Puppet 6.x release you are able to directly set the user context for a service on Windows. I was 'misusing' resource overrides to change the context of the Icinga service resource like this:

[code]

It would be nice if one could change the account directly

[2021-01-20 13:58] lbetz commented on #645
You're welcome. Fine and a PR would be fine. Windows is always the last one on our list because the handling for test and our low knowledge about Windows...

[2021-01-25 08:11] lbetz opened #648 "Manage owner, group and permission of config files"
For deamon configs like icinga2.conf etc. use icinga2::globals::user, icinga2::globals::group and 0640.

For all other config files think about three new parameters to manage owner, group and permissions. Simpler would be using the same like above.

[2021-01-25 08:13] #644 closed, assigned to nobody

[2021-01-25 08:15] lbetz commented on #621
We discussed that but the possible use is  to special.

[2021-01-25 08:15] #621 closed, assigned to nobody

[2021-01-25 08:20] lbetz commented on #620
We discussed this and this configuration is not necessary in any known environment. If so, then a bug in the core may be to blame.

[2021-02-06 14:43] lbetz opened #650 "Add new parameter logon_account"
A parameter logon_account to set the Windows service user.

refs #649

[2021-02-12 20:38] #645 closed, assigned to nobody

[2021-02-22 10:15] famfop opened #651 "Plugins from icinga exchange"
I am using this repository for managing my icinga2 installation. Now I wish to install some custom checks from icinga exchange. The installation instructions I found tell "copy files to `PluginDir`". Is there a convenient way of dealing with plugins from icinga exchange with this repository?

For example I wish to install the [Advanced Nagios Plugins Collection](https://exchange.icinga.com/harisek

[2021-02-22 15:35] lbetz commented on #651
Heavy question and there isn't a simple answer. Because there isn't a convenient way ...

A look into the ITL shows PluginDir is used for monitoring/nagios-plugins, PluginContribDir for nearly all other CheckCommands.

On the other hand /usr/lib/nagios/plugins or /usr/lib64/nagios/plugins should be the target for binaries from packages, direct builds from source should go to /usr/local/ e.g. nagio

[2021-02-23 12:30] famfop commented on #651
Ok thank you then I will go ahead and do my own solution. Especifically the mem-check is a good example of my confusion: There is a CheckCommand already defined which was imported to Director through the kickstart wizard. Unfortunately on my system there is no check_mem.pl script. So basically now I need to go through all ITL CheckCommands and look for the ones that actually do not exist. I will p

[2021-02-23 13:04] lbetz commented on #651
Thru the director kickstart run, all loaded checkcommands are imported and stored under external commands. That mean all external commands come from the ITL or from your running configuration if you write your own check commands in there.

[2021-02-23 13:15] #651 closed, assigned to nobody

[2021-02-25 23:39] jcharaoui opened #652 "Support conditional blocks inside objects"
One of the great features of Icinga2 is the ability to include code blocks within host and service definitions.

For example:
[code]
Currently, it's not possible to define the `if` / `else` blocks using the Puppet module, the only alternative is to drop an extra config file.

[2021-02-25 23:42] jcharaoui commented on #652
This could be solved in the same manner as the Puppetlabs Apache module, using a `custom_fragment` [parameter](https://github.com/puppetlabs/puppetlabs-apache/blob/main/manifests/vhost.pp#L171-L173).

[2021-03-01 05:01] lbetz commented on #652
We discussed it years ago and decided against it. In contrast to Apache, the order is decisive and "only" at the end makes very few users happy. But you can use a fragment for an entire object, see icinga2::config::fragment.

[2021-03-01 19:14] jcharaoui commented on #652
Fair enough, thanks for taking the time to reply.

[2021-03-01 19:14] #652 closed, assigned to nobody

[2021-03-04 06:02] lbetz opened #653 "Allow to send cert req without ticket"
Since Icinga v2.8 cert reqs can be sign on the CA server by hand.

[2021-04-20 06:19] #620 closed, assigned to lbetz

[2021-04-20 06:20] lbetz opened #656 "Release for Puppet 7"

[2021-04-20 06:32] lbetz opened #657 "Check parameters of type Duration"
to allow host.*, service.*, and Strings like "$m$" for macros.

[2021-04-20 06:32] lbetz opened #658 "Add task to renew certificates"

[2021-04-21 06:16] lbetz opened #659 "Add some words to reserve list"
Check out this words....

Command
Checkable
Comment
CustomVarObject
Logger
DateTime
Type
Function
Array
Configuration
Reference
StreamLogger
Namespace
ConfigObject
PerfdataValue

[2021-04-21 07:15] #653 closed, assigned to lbetz

[2021-04-21 07:33] #659 closed, assigned to nobody

[2021-04-21 08:54] #648 closed, assigned to nobody

[2021-04-21 11:50] #650 closed, assigned to nobody

[2021-04-21 12:20] lbetz opened #660 "Change owner of config file to icinga"

[2021-04-21 12:21] lbetz commented on #660
to get more close to the package behaviour.

[2021-04-21 12:21] #660 closed, assigned to nobody

[2021-04-24 07:50] lbetz opened #661 "Add manage_packages to replace manage_package"
in the future and add a deprecate message.

[2021-04-24 08:16] #661 closed, assigned to nobody

[2021-04-24 11:51] #656 closed, assigned to nobody

[2021-05-01 07:31] UiP9AV6Y opened #662 "Add Integer to Icinga2::Interval type alias"
#654 introduced a breaking change by changing the parameter type. currently `Icinga2::Interval` only allows
strings as parameter, although stringified integers are
accepted.

## Expected Behavior

i would like to have support for integer types as it was before 3.1.0

[code]

## Current Behavior

compiling the catalog fails due to changes to the parameter type. i would have to either change all the

[2021-05-01 08:21] #662 closed, assigned to nobody

[2021-05-12 13:19] trefzer opened #664 "logonaccount breaks service on puppet < 6"
commit 53edacb3a35ce49c3ee4e832703a79bccef43bca introduced the logonaccount parameter for closing #650.
This parameter is not available on puppet <6 (according to puppetlabs documentation https://puppet.com/docs/puppet/5.5/types/service.html).
metadata requires puppet version >= 4.10.0.

Either require puppet version >=6.0.0 or check puppet version before using logonaccount for service resource.

[2021-05-12 18:26] #664 closed, assigned to lbetz

[2021-06-10 07:28] Gninieb opened #665 "Event Commands - visudo - Permissions for icinga user"
FEATURE Request: May it be possible to add a array parameter for roll out permission for the icinga user on the agent to trigger event commands like start/stop/restart service xyz

[code]
-->

## Expected Behavior
At the moment it's time wasting to use event commands because you have to add authorisation for the icinga user in visudo to start/stop/restart a service by hand.

In my case I want to u

[2021-06-10 08:10] lbetz commented on #665
Sorry, but managing sudo config isn't a job for a module like icinga2. Such a module is used only to configure the icinga2 software and not sudo, logrotate, apache, etc. Please use another module e.g. saz/sudo. And bring it together in your own profile class.

[2021-06-18 15:37] lbetz opened #666 "Attribute severity of object SyslogLogger no longer appears to be optional"

[2021-06-18 16:48] #666 closed, assigned to nobody

[2021-06-18 21:44] baldurmen opened #667 "New tags named "rm" and "delete""
Hi!

You just published two new tags named [rm](https://github.com/Icinga/puppet-icinga2/releases/tag/rm) and [delete](https://github.com/Icinga/puppet-icinga2/releases/tag/delete).

I guess those were mistakes?

[2021-06-19 01:55] lbetz commented on #667
thx

[2021-06-19 01:55] #667 closed, assigned to nobody

[2021-06-30 17:39] sircubbi opened #669 "Using puppet PKI is unsupported on newer Puppetmaster"
Using puppet-certificates for Master<->Agent communication, eg. setting up the API with
[code]
does not work, if a newer Puppetversion (Puppet 6/PE 2019.x) is used. The culprit is, that newer Puppetmaster uses an intermediate-certifacte for signing all node-certificates (see https://puppet.com/blog/certificate-improvements-puppet-6/).
As far as I concluded from reading the source of Icinga2, there

[2021-07-01 12:56] sircubbi commented on #669
I reworked the VerifyCertifcate()-method to use the full certificate chain in the ca.crt-file. See pullrequest at https://github.com/Icinga/icinga2/pull/8859. I am open for comments of course.

[2021-07-27 15:01] madelaney opened #670 "Unable to set package version."
## Expected Behavior

I'd like to be able to set the package version.

## Current Behavior

I can only set the package to be installed, but I cannot mange the package version itself.

## Possible Solution

If we look at [install.pp (lines 24 - 27)](https://github.com/Icinga/puppet-icinga2/blob/master/manifests/install.pp#L24-L27), we could replace the value of `ensure` with a variable (which defau

[2021-07-27 20:02] cocker-cc opened #671 "Update to use pdk 2.x without fails"
Make "pdk validate" succeed on Module "puppet-icinga2"

## Expected Behavior

`pdk validate` should not fail.

## Current Behavior

`pdk validate` fails…

[code]
… on many Ruby-Files:
[code]

## Possible Solutions

* adapt `.rubocop.yml`
* improve Ruby-Files
* put Ruby-File on Ignore-List

## Your Environment

[code]

[2021-07-28 09:36] lbetz commented on #670
Hi,

please set 'manage_packages => false' and manage the packages on your own as described in the documentation:

# class of extra module icinga/icinga
include ::icinga::repos

package { 'icinga2':
  ensure => latest,
  notify => Class['icinga2'],
}

class { '::icinga2':
  manage_packages => false,
}

[2021-07-28 09:46] lbetz opened #673 "Check docu for deprecated parameters"
like manage_package etc.

[2021-07-28 09:48] lbetz commented on #671
ok, I'm still using pdk 1.18 at the moment.

[2021-08-19 16:34] #671 closed, assigned to lbetz

[2021-08-19 16:34] #670 closed, assigned to nobody

[2021-08-19 16:36] lbetz commented on #665
And the most important thing is, this module doesn't manage an user that's done by the packages.

[2021-08-19 16:38] lbetz opened #675 "Write new feature influxdb2"
new since icinga2 v2.13.0

[2021-08-20 08:39] #669 closed, assigned to nobody

[2021-08-21 05:10] lbetz opened #676 "Add missing params basic_auth, ssl_insecure_noverify to feature influxdb"

[2021-08-21 05:16] lbetz opened #677 "Add param connect_timeout to feature api"
also add tls1.3 to param ssl_protocolmin

[2021-08-21 05:18] lbetz opened #678 "Add param insecure_noverify to feature elasticsearch"

[2021-08-21 05:22] lbetz opened #679 "Add TLS support to feature gelf"

[2021-08-21 05:25] lbetz opened #680 "Add object type icingaapplication"

[2021-08-21 05:26] lbetz opened #681 "Add param connect_timeout and TLS support to feature icingadb"

[2021-08-21 05:29] lbetz opened #682 "Add new data type for ido cleanups"

[2021-08-21 05:30] lbetz opened #683 "Add TLS support to feature idopgsql"

[2021-08-21 05:53] lbetz opened #684 "Add new feature windowseventlog"

[2021-09-03 22:17] linuxmail commented on #491
hi,

just a question ... I have also this problem. I have in my Hiera config:

[code]

Thats all and cert / key / ca is set, which is not required. Puppet module is the latest version.  Did I something wrong ?

[2021-09-04 07:32] lbetz commented on #491
Hi Denny,

I'm not sure if I understand you, should the problem be fixed?

Bye
Lennart

[2021-09-06 16:07] linuxmail commented on #491
hi Lennart

yeah . I thought, it is fixed, but I have to chattr +i the file, to avoid overwritung with the SSL params.

[2021-09-10 06:09] lbetz commented on #491
No I am confused. Did you mean the cert and key is also written if the parameters wasn't set?

[2021-09-10 06:17] lbetz commented on #491
Ah I see, please check out branch 'linuxmail'.

[2021-09-10 08:31] lbetz commented on #491
No, sorry, I don't understand the problem. I think, I need more details. Which file do you set to read only?

[2021-09-10 08:47] lbetz opened #685 "Cannot create MySQL database tables if enable_ssl is set without any other ssl parameter"

[2021-09-12 10:30] linuxmail commented on #491
Hi Lennart,

I have added to my Hiera `icinga2::feature::influxdb::enable_ssl: true`, which enabled the TLS communication. The problem is now,  that we don't require the params `ssl_ca_cert`, `ssl_cert` and `ssl_key` in `/etc/icinga2/features-available/influxdb.conf`

[code]

If these params are enabled .. the connection to our InfluxDB doesn't work anymore, because our wildcard cert was changed.

[2021-09-12 19:23] lbetz commented on #491
Hi Denny,

my puppet manifest:

class { '::icinga::repos':
  manage_epel => true,
}
class { '::icinga::server':
  global_zones         => [ 'global-templates', 'linux-commands', 'windows-commands' ],
  logging_type         => 'syslog',
  logging_level        => 'warning',
}
class { '::icinga2::feature::influxdb':
  ensure     => present,
  host       => '127.0.0.1',
  database   => 'icinga2',
  us

[2021-09-13 04:22] #665 closed, assigned to nobody

[2021-09-13 06:28] lbetz opened #686 "Update testing doc to use pdk validate command"
refs #671

[2021-09-13 07:00] linuxmail commented on #491
Hi,

hmm ok, maybe an older Icinga Modul in the environment definition has a higher presence, than the version from PuppetForge. I will check later.

[2021-09-13 14:43] linuxmail commented on #491
Hi Lennart,

I have really say sorry for the noise from me.  I had an older Icinga2 module in the environment.conf, which has a higher priority, than the PuppetForge one. I removed it and than .. the SSL vars are not added anymore.   The ticket can closed (again)

Thanks !

[2021-09-13 17:42] lbetz commented on #491
ok.

[2021-09-13 17:42] #491 closed, assigned to lbetz

[2021-09-13 17:44] #686 closed, assigned to lbetz

[2021-09-13 17:45] #685 closed, assigned to lbetz

[2021-09-13 17:48] #676 closed, assigned to lbetz

[2021-09-13 17:49] #681 closed, assigned to lbetz

[2021-09-13 17:51] #680 closed, assigned to lbetz

[2021-09-13 17:52] #677 closed, assigned to lbetz

[2021-09-13 17:53] #678 closed, assigned to lbetz

[2021-09-13 17:54] #679 closed, assigned to lbetz

[2021-09-13 17:55] #684 closed, assigned to lbetz

[2021-09-13 17:56] #683 closed, assigned to lbetz

[2021-09-17 07:05] #675 closed, assigned to lbetz

[2021-09-17 09:32] #673 closed, assigned to lbetz

[2021-09-17 09:55] #682 closed, assigned to lbetz

[2021-09-18 12:26] lbetz opened #687 "Keys are shown in Reports for features elasticsearch, idomysql and influxdb"
Add show_diff => false to the fie resources of all keys for the features.

[2021-09-18 12:27] #687 closed, assigned to nobody

[2021-10-14 14:16] joernott opened #688 ""Clever" escaping of variables ruins configuration"
When setting a host variable containing special characters, the puppet module tries to do some "clever" escaping of that string. So, I have a password for accessing the health check API and I am trying to set the host variable "health_check_password" to "password_containing_an_unbalanced_bracket)". That results in an entry   vars.health_check_password = "password_containing_an_unbalanced_bracket")

[2021-10-14 14:34] lbetz commented on #688
Hi Joern,

nice to hear something from you... please disable the parser for all passwords.

    health_check_password = "-:\"${health_check_password}\"",

[2021-10-14 15:31] joernott commented on #688
Hi Lennart,
thanks for the quick reply. The "-:" somehow escaped me before.

It just took me a while to figure out the edge case for a monitored server which is not managed by puppet and thus defined "manually" in hiera (and the password in an eyaml. But for that case, I simply ended up with

'dev-bas1-pos-v02.coimpany.com':
      vars:
        pos_dev_01_tst_password: "-:\"%{lookup('health_dev_ba

[2021-10-14 15:31] #688 closed, assigned to nobody

[2021-10-22 16:29] lbetz opened #689 "Accept Datatype Sensitive for Secrets"
Add Variant Sensitive[String] to String types:

icinga2::feature::api::ticket_salt
icinga2::feature::api::ticket_id
icinga2::feature::elasticsearch::password
icinga2::feature::icingadb::password
icinga2::feature::idomysql::password
icinga2::feature::idopgsql::password
icinga2::feature::influxdb::password
icinga2::feature::influxdb::basic_auth['password']
icinga2::feature::influxdb2::auth_token
ici

[2021-10-25 13:36] thomas-merz opened #690 "Please do not force-push in HEAD branch"
Lieber @lbetz ,
es gibt Leute/Firmen, die eure Repos regelmäßig und automatisch lokal syncen und jedes Mal (das ist IMHO nicht das erste Mal!?) damit unnötige Arbeit haben, wenn Du `git push -f` direkt im `HEAD` Branch ausführst.

Unsere lokale commit-Historie bis heute:
<img width="1264" alt="image" src="https://user-images.githubusercontent.com/22958542/138705204-f6759866-4c9d-4e47-b82f-06af4cf5

[2021-10-25 13:39] thomas-merz commented on #690
Lokaler Fix:
* unprotect repo (if protected "Allowed to force push")
* `git reset --hard HEAD^1 && git push -f origin HEAD`
* protect repo again
* sync again

[2021-10-28 04:35] lbetz commented on #690
Check. Please note that the language here is English.

[2021-10-28 06:53] thomas-merz commented on #690
Check, too 😄

[2021-10-28 06:53] #690 closed, assigned to nobody

[2021-10-29 11:35] to-kn commented on #689
This sadly is broken atm, since for example the ido-config contains now:
[code]
This is only on puppet 6, on puppet 7 everything works as expected...

[2021-10-29 15:40] lbetz commented on #689
Strange. I tested it on different platform and different puppet versions. What kind of puppet version in detail and on what distribution it fails?

[2021-11-03 07:26] zilchms commented on #689
I have the same issue.
Puppetmaster and Agent (the icinga node with the broken config) are SLES 12.
Puppetversion: 6.25.0 for both.
Icinga-icinga2 module version 2.3.0 from puppetforge (duh)

Addition: I am pulling the plaintext password from my hiera. The problem seems to be between wrapping the plaintext password and unwrapping it again.

[2021-11-03 13:26] zilchms commented on #689
After a bit of investigating, i would wager that the problem lies somewhere in the [idomysql.pp](https://github.com/Icinga/puppet-icinga2/blob/master/manifests/feature/idomysql.pp)
More [specifically](https://github.com/Icinga/puppet-icinga2/blob/master/manifests/feature/idomysql.pp#L323):

  icinga2::object { 'icinga2::object::IdoMysqlConnection::ido-mysql':
    object_name => 'ido-mysql',
    ob

[2021-11-03 14:48] lbetz commented on #689
Hi Markus,

that's correct, the unwrap is done in the parser in

https://github.com/Icinga/puppet-icinga2/blob/master/lib/puppet_x/icinga2/utils.rb#L243
https://github.com/Icinga/puppet-icinga2/blob/master/lib/puppet_x/icinga2/utils.rb#L263
https://github.com/Icinga/puppet-icinga2/blob/master/lib/puppet_x/icinga2/utils.rb#L322

the returned string will be written to file.

[2021-11-03 16:40] zilchms commented on #689
True. I got to there in the afternoon. Remains to be found, why the password does not get unwrapped correctly. I will go and do some more debugging now.

Edit: I got down to the unwrap parts in the utils.rb, but I dont know enough about Rubyprogramming to do serious debugging there (at least what i feel comfortable with)
My intuition was that the Sensitive type as described [here](https://puppet.c

[2021-11-04 11:43] cocker-cc commented on #689
Edit: deleted, as I made a Mistake in my Comment

[2021-11-04 12:33] lbetz commented on #689
I still cannot reproduce the problem. It would be helpful if you could tell me what I can do.

[2021-11-04 14:42] sircubbi commented on #689
Same problem here on puppet 7.

[2021-11-04 15:47] lbetz commented on #689
Please, what puppet version in detail. Here I haven't any problems with the last versions of Puppet 5, 6, and 7.

[2021-11-04 15:51] sircubbi commented on #689
Puppet 7.9.0 (PE 2021.3). (Running on Rocky 8)

[2021-11-08 08:28] rwaffen commented on #689
same here

[code]
[code]
[code]
[code]

[2021-11-09 18:27] zilchms commented on #689
Ok lets start by getting a baseline:

OS Versions: SLES 12
puppet versions: 6.25.0
Module versions: icinga-icinga2 (v3.2.0), puppetlabs-stdlib (v7.1.0), puppetlabs-concat (v7.1.1)

Hiera Entry:
[code]
Site Entry:
[code]

This results in a broken idomysql file:
[code]
@lbetz can you reproduce this? Or is this setup working on your end? Maybe it has something to do with the ruby version or some othe

[2021-11-10 09:48] lbetz commented on #689
@zilchms

I tested your code on puppet 6.25.0 and stdlib/concat 7.1.0 on a centos8, because I haven't a SLES12 test platform, yet. And my result look like:

# This file is managed by Puppet. DO NOT EDIT.
library "db_ido_mysql"

object IdoMysqlConnection "ido-mysql" {
  host = "localhost"
  user = "icingaservice"
  password = "testpassword"
  database = "icinga"
  enable_ssl = false
}

I am very co

[2021-11-10 09:59] zilchms commented on #689
Hmmm, now thats some funky stuff. Aaaand I found the problem (at least in my setup) ....
I am ensuring environment isolation with the generate types mechanic from puppet and my scripts are not generating those consistently .... After regenerating the types it works without issue.
@to-kn @sircubbi @rwaffen  Do you have environment isolation enabled too and did not regenerate after updating like I d

[2021-11-10 10:03] lbetz commented on #689
Arrrg, that explains it.

@rwaffen I tested your setup and it sill works...

[2021-11-10 10:04] lbetz commented on #689
environment caching could be a problem after updating to the new module version...!?

[2021-11-10 10:14] zilchms commented on #689
Aye, this can happen everytime a variable changes type. To top that off, that isnt even guaranteed to happen for everyone and everytime. Some with the exact same setup might experience that, others dont. That bug is pretty old and is a result to a bug referred to as environment bleed. Generating types was introduced to solve that (but brings its own problems).
Though I am not sure if environment b

[2021-11-10 10:36] zilchms commented on #689
Nevermind.... On my test VM unwrapping now works as intended, on my production environment though... it doesnt...
Even after regenerating types. Back to debugging.....

Edit: Now its non-deterministically writing the password or the Redacted Value message....

[2021-11-10 10:39] sircubbi commented on #689
I have yet to try regenerating types. We are using PE with r10k here (which isn't the recommended setup I guess), so maybe there is some issue with our different environments.

[2021-11-10 13:22] zilchms commented on #689
@lbetz is your testenvironment consistent in its ido-mysql.conf content? I successfully reproduced my non-deterministic switching of contents from 'testpassword' to 'Sensitive [value redacted]' and vice versa on a second pretty clean server now.

[2021-11-11 07:49] lbetz commented on #689
@zilchms :Ach shit. My "Testumgebung" is just a standalone puppet agent. And, yes, my result is consistent. A test server environment first I have to deploy.

[2021-11-11 11:14] zilchms commented on #689
Ok. My test environment consists of a puppet master and some agents. Every agent I tried to give the idomysql feature shows the same result -> "Sensitive [content redacted]"
I did confirm that the hiera hash containing the password got handed through to the class correctly every time, so fancy facter problems seem to be out the window. Also they always arrive wrapped correctly when arriving at the

[2021-11-12 23:45] rwaffen commented on #689
will test this on monday again. and yes, we also have environment isolation.

[2021-11-15 08:42] zilchms opened #691 "Chocolatey missing in dependencies"
When applied on a windows agent, chocolatey as a package provider is used. Chocolatey however is not in the dependencies of the module.

## Expected Behavior

The module should tell the user that it has a dependency on chocolatey if it is used in the code.

## Current Behavior

Without the chocolatey module it fails with:

Failed to apply catalog: Parameter provider failed on Package[icinga2]: Inv

[2021-11-15 13:59] rwaffen commented on #689
i updated all our environments to get around some bugs in environment isolations. normaly we update only environments which have changes.

normally we do this per environment, but i also did it in general
[code]

but still i get this:
[code]

[2021-11-15 15:07] zilchms commented on #689
Huh. That is interesting. I managed to fix my problems just now (you can believe the feeling of happiness I am experiencing right now). Let me try to write down my journey to a solution:

---- Please read in full first and dont do it step by step, unless you want to suffer like i did ----

1. Upgrade **all** your environments to the latest puppet-icinga2 version.
2. Check if you have any environme

[2021-11-15 21:58] rwaffen commented on #689
okay, so when i update icinga2-module in all environments, this schould be okay? 🤔
maybe can test this next week at my project,

[2021-11-16 11:57] zilchms commented on #689
I would believe so yes. If that does not fix it on your deployment, I am running out of ideas. I dont even have a testenvironment left now, since I fixed everything on my end.

[2021-11-17 09:54] lbetz commented on #691
thx

[2021-11-17 09:54] #691 closed, assigned to nobody

[2021-11-22 14:17] sircubbi commented on #689
Actually, that alone is not enough. In our case (using r10k with pe-puppet) I had to update all environments, then regenerate the types in all environments and after all that the puppetserver needs a restart (otherwise it doesn't seem to catch up with the new types). At least for now everything looks working again.

[2021-11-22 15:29] lbetz commented on #689
Interessting. I used the same type as puppet does in the postgresql and mysql modules, I thought. I've to check it again.

https://github.com/puppetlabs/puppetlabs-postgresql/blob/dd190cd4105020f0b04d469b685e2c80b8e613ac/lib/puppet/functions/postgresql/postgresql_password.rb#L25

Maybe one of you would like to write a few lines for the documentation?

[2021-11-22 15:32] lbetz commented on #689
I'm not sure, but maby it's better to move the unwrap from ruby to puppet?

[2021-11-22 16:34] cocker-cc commented on #689
My Opinion (not referencing these particular Cases): The `unwrap` should always be at least possible Level in the Call-Stack, so that as many as possible previous Levels do not have to bother with it.

[2021-11-23 14:07] rweigle commented on #689
We have the same issue in our api-users.conf:
[code]

Additonally we can see the problem in ido-mysql.conf as well.

We read our password from an eyaml file so our hiera entry looks like this:
```icinga::web::api_pass: "%{lookup('secrets::icinga::server::web_api_pass')}"```

We are using puppet 7.12.1 on Debian bullseye.
Environments are used via r10k and the module was only updated in a test envi

[2021-11-23 16:04] zilchms commented on #689
@rweigle Yea, that was kind of to be expected. This bug should be affecting all files where the utils.rb is used to build the contents (all of those should be listed in the first comment of this issue).
@cocker-cc & @lbetz I would agree, moving it from the Ruby Level to the Puppet Level would be bad style in my opinion. We dont have any proof suggesting that moving it, would fix the bug. Additiona

[2021-11-23 17:50] cocker-cc commented on #689
The Approach…
[code]
… and the Approach…
[code]
… should not make any Difference.

[2021-12-03 18:55] lbetz commented on #689
Maybe one of you would like to write a few lines for the documentation?

[2021-12-04 14:15] zilchms commented on #689
Can do, would that fall under the "How Configuration is parsed" section? Or where should information about that be placed? Maybe a new section "Known Issues"?

[2021-12-06 10:34] lbetz commented on #689
@zilchms The last one. A description of when and why the problem occurs and how to fix it. I think, the README.md is a good place, Known Issues would be ok for me.

[2021-12-06 10:36] rweigle commented on #689
I would suggest a "Know Issues" section, as it seem to be an environment bleed and apparently does not happen to everyone. I was able to fix it for me by cleaning up the environments (deleting the .resource_types directories) than regenerate them for all affected environments with `puppet generate types --environment xxx` and restarting the puppet server afterwards.

[2021-12-06 10:44] lbetz commented on #689
I'm open to any suggestions since I can't reproduce it myself.

[2021-12-06 15:31] #689 closed, assigned to nobody

[2021-12-09 05:27] grant-veepshosting commented on #689
Previously we could use plaintext passwords in Hiera instead of the better security that this change provides.
I think we could leave the Hiera data "as is", and add some Sensitive directives to the lookup_options instead ?
Would you consider doing some documentation on exactly how to do this with the new version of the code and module please?
Reference https://puppet.com/blog/my-journey-securing-

[2021-12-09 06:44] lbetz commented on #689
@grant-veepshosting The use of Sensitive Datatype should be optional, so that a plaintext transfer should also be possible. Have you read #693? If you are still affected by this, an info about it would be very important for us.

[2021-12-10 06:52] grant-veepshosting commented on #689
Thanks for that - I have read through that link, the documentation and the underlying code changes.
All I needed to do to fix the problem was to add single quotes around each of the password '<pw>' in Hiera.
This is probably a best practice anyway, but hopefully this helps someone else in the future!

[2021-12-10 12:19] lbetz commented on #689
Thx so much. That is an important info. If you think about it, not even far-fetched.

[2021-12-15 06:58] lbetz commented on #689
I spent several hours yesterday and today recreating the issue, unsuccessfully. I installed a puppetserver (puppet 7.13.0), started with v3.1.0 of puppet-icinga2 to get an Icinga with features ido-mysql (password via Hiera), api (Constant TicketSalt via Hiera) and three ApiUser objects with passwords from Hiera and set in the manifest within declaration.
Then I updated the module to v3.2.0 and rer

[2021-12-15 12:08] bastelfreak commented on #689
Hi,
I had the same problem after upgrading the module.
puppetserver: Puppet Enterprise 2019.8.7
puppet agent: 6.23.0

I was able to fix this by running `puppet generate types --environment $my_env` on the puppetserver. This is usually done by PE, but that got disabled in my environment by accident. @lbetz I guess this is only reproducible when you've multiple environments and some have the older m

[2021-12-15 19:05] rwaffen commented on #689
can confirm this. tested on a fresh puppet7 setup (new puppetserver and icinga server) with 3 branches:
- one without the module
- one with 3.1.3
- one with 3.2.0

working in my 3.2.0 branch/environment:
got strange behavior. when i did the generated i got the "sensitive" message in my config file. than i restarted my puppetserver and all got really strange. now i dont get the sensitive at all. no

[2021-12-16 13:42] lbetz commented on #689
Without  environment isolation it is as @rwaffen report it. A simple restart solves the problem.

But switching between the versions break the correct behaivor again.

[2021-12-17 12:33] lbetz opened #694 "Constant in a sensitive data string are quoted"
object ApiListener "api" {
  ticket_salt = "TicketSalt"
}

because ticket_salt as argument is converted to sensitive and will be quoted (see -:"TicketSalt" in parser). Possible solution, do not add -:"*" to constants.

[2021-12-17 12:35] #694 closed, assigned to nobody

[2022-01-13 07:06] lbetz opened #695 "Finish refactoring function API 4.x"
refs #597

- rework function call of icinga2_attributes to icinga2::icinga2_attributes
- also the call in template object.erb
- replace old function with new one and a warning
- function icinga2_attributes needs attention: scope of puppet variables icinga2::_constants and icinga2::_reserved

[2022-02-09 16:04] joernott opened #699 "Passwords being replaced by "Sensitive[redacted]" in files"
## Expected Behavior

The passwords should be redacted in the reports and in Puppetdb but I prefer the config files to actually contain the passwords and not "Sensitive[redacted]".

## Current Behavior
My ido-pgsql.conf looks like this:
[code]
There are currently 3 files showing this behaviour:
./features-available/api.conf:  ticket_salt = "Sensitive [value redacted]"
./features-available/ido-pgsq

[2022-02-09 17:34] lbetz commented on #699
Hi Jörn,

after updating the modul in all your environments you have to restart all puppetserver processes. Please take notice of https://github.com/Icinga/puppet-icinga2#environment-bleed.

Bye
Lennart

[2022-02-10 09:48] joernott commented on #699
Hi Lennart,
updating the module on our dev puppetserver is fairly trivial. But in production, we have around 40 environments. We bundle and tag "releases" containing specific versions of puppet modules and our software. These are deployed automatically in our automated test pipeline environments and manually in maintenance windows on preproduction/production or customer environments. We have to do

[2022-02-11 16:00] lbetz commented on #699
It wasn't the plan for that to happen. By the time it was noticed, the 3.2.0 release had been out for a few days and it was too late to undo it. See #689

[2022-02-16 09:45] lbetz commented on #699
Hi Jörn,

Is there anything else I can do for you?

Bye
Lennart

[2022-02-16 16:32] joernott commented on #699
We'll try to figure this out, @bastelfreak is currently working on the topic and we'll comment here our way of handling it in staged environments. So, at the moment, there is nothing, you can do there.

[2022-02-19 14:19] waja commented on #288
@linuxmail how did your `CheckCommand` for `check-email-delivery` on your icinga configuration end up? I'm also over it, and I'm wondering how to get that in a perfect way. Everything I'm trying sucks in some way.

[2022-02-20 17:21] linuxmail commented on #288
@waja oh, let me check ....

* checkcommands.pp

[code]

* service_check_email_delivery.conf
[code]

The rest of the settings (passwords from IMAP /  SMTP, are done via Director modul. This works now since 5 years :-)

cu denny

[2022-02-23 12:30] waja commented on #288
@linuxmail Thanks for your puppet config. I tried to reproduce a stock icinga2 config ... but I'm stumbling over the needed quotes for `--plugin ' <many options>'` of the `check-email-delivery` check command. Maybe you can also share the relevant part from the output files?

What does NOT work for plugin1:
[code]

With extra "'" around the `--plugin` option, it works, but I'm unable to create them

[2022-02-23 22:10] linuxmail commented on #288
hi @waja

If I check in Icingaweb Director the command .. (so without the Puppet parts behind) it looks like this:

[code]

that is, what I get, after Puppet generated the command with the config above .. and Icinga than call it, which looks like this:

[code]

cu denny

[2022-02-24 13:50] waja commented on #288
@linuxmail Okay ... this works, cause you are using `Usage 1:`, where you can completely omit the keys `order = -1` and key `order = 21` cause they are just ignored. The reason here is you used `skip_key = true` and this caused just printing the value without a key.

What I'm trying to solve is to use `Usage 2:`, cause this offers the possibility to not just check via ssl (imaps/993), but also wit

[2022-02-24 15:32] linuxmail commented on #288
but you can replace order = 23 with the TLS one ...

[2022-02-26 15:23] lbetz opened #700 "MySQL and MariaDB use different commandline options for TLS"
Infects the idomysql feature if import_schema is used.

[2022-02-26 15:24] lbetz commented on #700
An import if a real mysql client is used, is actually not possible.

mysql --ssl-mode vs. mariadb --ssl

[2022-02-26 15:29] #700 closed, assigned to nobody

[2022-05-10 04:51] lbetz commented on #699
@joernott, can this ticket be closed?

[2022-05-10 11:43] lbetz opened #701 "Support Rocky and AlmaLinux"
don't forget to update README.md

[2022-05-10 11:47] #701 closed, assigned to nobody

[2022-05-11 09:22] joernott commented on #699
@lbetz, the problem is not gone but we worked around it by disabling puppet on our icinga masters for several weeks until all environments were updated with newer icinga2 modules. Whenever we needed to run puppet, we manually corrected the screwed up passwords after disabling puppet again.

The issue can be closed, as we still have our bug report towards puppetlabs.

[2022-05-30 05:47] #699 closed, assigned to nobody

[2022-05-30 05:47] #695 closed, assigned to lbetz

[2022-06-02 11:33] zilchms opened #702 "Refactor Hepler Function uitils.attributes from puppet_x context to puppet"
Release 3.3.0 introduces error:
Evaluation Error: Error while evaluating a Function Call, uninitialized constant Puppet::Pops::Loader::RubyFunctionInstantiator::PuppetX (file: /etc/puppetlabs/code/environments/production/modules/icinga2/manifests/config.pp, line: 19, column: 28)

## Expected Behavior
Refactoring classes should not introduce errors. Maybe the testsuite didnt pickup on this? I am cu

[2022-06-08 06:51] sircubbi commented on #702
FYI: saw the same issue, played a little bit with it and rolled back to icinga-icinga2 3.2.2 for the moment.

[2022-06-08 08:52] lbetz commented on #702
Shit, that wasn't planed. Sorry for that. Do you use environment caching? Did you try to clear the cache?

[2022-06-08 08:55] sircubbi commented on #702
At least we have a lot of different environments and it is no easy task to update all environments at once. While fiddling with it our puppetmaster stopped working completly and since I hadn't any time to do some proper diagnostics I just rolled back for the moment. Maybe I can try again on the weekend, but if all environments need to have that change, it is quite of a hassle unfortunately.

[2022-06-08 09:03] lbetz commented on #702
I start to test it, now.

[2022-06-08 12:03] lbetz commented on #702
It does not seem to work with the switch to puppet function api 4.x without restarting the puppet server.

see branch fix/702

[2022-06-08 12:19] zilchms commented on #702
At first I did not restart the server service or cleared the cache, which resulted in the above mentioned error.
I did restart the puppetserver after updating the module to 3.3.0 now, cleared the cache and got a different error this time:

Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Internal Server Error: org.jruby.exceptions.LoadError: (LoadError) no such file to lo

[2022-06-08 12:52] lbetz commented on #702
correct. This is definitely a bug, a missing require. The main problem is the remove of the function attributes from module Puppet::Icinga2 to PuppetX::Icinga.

I am working on this branch to solve the problem.

[2022-06-08 13:04] lbetz commented on #702
Shoud be solved.

[2022-06-08 14:49] lbetz commented on #702
If a update to 3.3.0 was done, this patch need a puppetserver restart. Otherwise updating from 3.2.2, no restart is required.

[2022-06-08 17:54] zilchms commented on #702
Thanks for the quick fix :)

[2022-06-09 05:41] lbetz commented on #702
You're welcome. Thx for the report.

[2022-06-09 08:22] sircubbi commented on #702
Hmmm, unfortunately I am not very happy with that fix. While there isn't any more errors in the puppet run, it does have an huge impact on the performance here.
I updated from 3.2.2 to 3.3.1, cleared the environment cache, restarted the puppetmaster (actually did that several times, just to be sure). However running puppet on our icinga-master now takes ages to finish. Preparing the catalog on the

[2022-06-09 10:28] zilchms commented on #702
Is the runtime always 8 minutes or only when the catalog is not cached? Since for my setup, the puppetruns remain very fast (1,5 seconds) when loading the cached catalog.

[2022-06-09 11:33] sircubbi commented on #702
The runtime (and the high CPU-usage) stays that high with subsequent runs. Sure, our Icingamaster has a lot of resources that needs to be compiled, but it isn't really an issue with the old 3.2.2-version.

[2022-06-09 19:57] lbetz commented on #702
@sircubbi An update from 3.2.2 to 3.3.1 doesn't require a restart or a cache clearing.

[2022-06-10 08:21] sircubbi commented on #702
Well, that wasn't clear from above comment, but ok. I did some fresh tests:

1) Running the agent on our icinga2-master when 3.2.2 is installed:
[code]

2) just replacing the icinga2-module on the puppetmaster (without any cache clearing or restart):
[code]

3) making sure that it is no fluke I rerun the agent two more times:
[code]

4) replacing the icinga2-module on the puppetmaster back to 3.2.

[2022-06-10 16:08] lbetz commented on #702
Only something about functions was changed in this fix. Functions are evaluated on the Puppetserver, i.e. the catalog compile times would be affected here.

[2022-06-10 17:17] sircubbi commented on #702
Yep, it absolutely is. As written: the CPU-usage goes up to 100% on the puppetmaster for several minutes (while the agent on the icinga2-server waits for the catalog). With 3.2.2 it takes the puppetmaster like 30-45 seconds to compile the catalog, while it takes around 8 minutes with 3.3.1).

[2022-06-13 12:02] lbetz commented on #702
@sircubbi I have unsuccessfully tried to recreate this behavior. Do you use many extra icinga puppet objects?

[2022-06-13 12:08] sircubbi commented on #702
Well, we actually have quite a few objects that are collected from all our hosts:
[code]

[2022-06-13 12:08] lbetz commented on #702
@sircubbi  Do have any performance impacts on the side of the agents? They use the same code / function but without extra icinga puppet objects.

[2022-06-13 12:10] sircubbi commented on #702
At least not noticeable, no. All other agents seem to work fine, only the icingamaster itselfs takes really long for the agentrun while waiting on the catalog from the puppetmaster.

[2022-06-13 12:14] lbetz commented on #702
@sircubbi Strange. The objects above are exported resources, aren't they?

And from personal interest, why 490 zones and only 292 endpoints?

[2022-06-13 12:25] sircubbi commented on #702
Ah, I just realized that some resources are counted double in that query. I guess when looking at our icingamaster only the resources created by that node and all imported resources are important). So I guess a more cleaner picture would be this:
[code]
So I guess an agent-run on the icinga-master has to consider slightly more than 2000 different resources.

We have around 100 hosts that are colle

[2022-06-13 12:32] lbetz commented on #702
Why this discrepancy between 3.2.2 and 3.3.1 occurs I do not know "yet".

But exported resources are very expensive and should be limited to hosts, zones and endpoints in the Icinga environment.
Services are to be assigned directly on the Icinga server itself using apply (no exported resources).

[2022-06-13 12:40] sircubbi commented on #702
Well, that is known and we mostly use apply for all of our services. There are some corner cases where it was easier to have a host just export a small set of "special"-services. The biggest part of the service-objects are actually no exported resources, but some virtual services that the icinga-server creates from our netbox-generated hierafile. So far it wasn't a big issue, as the puppetmaster t

[2022-06-13 16:59] lbetz commented on #702
@sircubbi  Now, I spent several hours and I think, I get something.

The new function calls in

https://github.com/Icinga/puppet-icinga2/blob/88e057065790b9b7621f48d0d902b628b00f580d/templates/object.conf.erb#L26-L32

increases my puppet run from 1:21 up to 1:45.

600 hosts (exported resources) and 2500 services (apply directly on icinga server)

[2022-06-13 19:16] lbetz commented on #702
Too bad, it won't be any faster with an EPP instead of ERB template.

[2022-06-14 08:03] sircubbi commented on #702
When looking at the historie that template always contained function-calls, why is it so slow with the new version?

[2022-06-24 07:38] Napsty opened #703 "user / users became a reserved keyword? Not stringified in final Icinga2 config"
Since puppet-icinga2 module was updated to the latest version a couple of days ago, we see issues related to "users" and "user" keywords used in configs.

### Example 1: users as keyword in check command

A check "users" is applied to all the Linux hosts. Puppet config (YAML style):

[code]

This results in the following config on the Icinga 2 servers once Puppet agent ran:

[code]

And the corres

[2022-06-24 07:48] lbetz commented on #703
The solution is right at the beginning of section 'How configuration is paresed' (https://github.com/icinga/puppet-icinga2#how-configuration-is-parsed).

[2022-06-24 07:49] Napsty commented on #703
Thanks for the quick answer and hint Lennart. Will try!

[2022-06-24 07:55] lbetz commented on #703
But users is not a reserved word and should be quotet by default. Constants, reserved words and what is used as variables in apply for loops are not quotet.

[2022-06-24 08:16] Napsty commented on #703
It's interesting. This one works:

[code]

But this one doesn't:

[code]

and results in:

[code]

Using the `-:` on the check_command does the job:

[code]

Thank you for your help!

[2022-06-24 08:16] #703 closed, assigned to nobody

[2022-06-27 07:55] lbetz opened #704 "Tune icinga::icinga2_attributes function call"
closure_scope wasted time:

https://github.com/Icinga/puppet-icinga2/blob/88e057065790b9b7621f48d0d902b628b00f580d/lib/puppet/functions/icinga2/icinga2_attributes.rb#L30-L40

Because function api 4.x has its own scope, move merge and cancat to a puppet code based function.

[2022-06-27 07:55] lbetz commented on #704
refs #702

[2022-06-27 08:50] lbetz commented on #702
@sircubbi Can you try branch fix/704-tuning?

Should be faster, not so fast like v3.2.2, but faster.

[2022-06-27 08:54] #702 closed, assigned to lbetz

[2022-06-27 09:20] sircubbi commented on #702
I can confirm that fix/704-tuning fixes the performance issue for me. Actually I don't see much difference in the runtime compared to v3.2.2, so much better than with v3.3.1. Thanks.

[2022-06-27 09:42] lbetz commented on #702
@sircubbi thx. Release is coming...

[2022-06-27 12:24] #704 closed, assigned to nobody

[2022-07-05 18:45] lbetz opened #707 "Complete attributes for the icingadb object type"
https://icinga.com/docs/icinga-2/latest/doc/09-object-types/#icingadb

[2022-07-06 07:27] lbetz opened #708 "Ubuntu Jammy support"

[2022-07-06 11:44] mphilipps commented on #661
For anyone else running into this issue:
The issue here and commit should say "Add manage_packages to replace manage_package" and for time being this means you have to set both manage_packages and manage_package to false if you want to handle package installation yourself.

Feel like just straight up removing the old parameter would have been less confusing/error prone.

[2022-07-06 12:54] lbetz commented on #661
Hm, ups.

[2022-07-11 18:07] #707 closed, assigned to nobody

[2022-07-14 08:44] lbetz commented on #708
There is still no puppet 6/7 for Ubuntu jammy.

[2022-09-21 07:17] Napsty opened #710 "How to add custom variables to a template?"
## Context

Icinga2 supports the definition of custom variables in the templates, for example host templates. These custom vars are then automatically applied on all the Hosts using this host template.

[code]

But how can this be added with the Puppet module?

## Expected Behavior
Adding the custom variable to the host template "generic-host", configured in Puppet:

[code]

Results in the followi

[2022-09-21 07:27] lbetz commented on #710
Hi Claudio,

vars has to be a hash. So your yaml code must look like that:
[code]

[2022-09-21 07:37] Napsty commented on #710
@lbetz Lennart, as always, you're faster than I documenting the current problem internally ;-). Will try this!

[2022-09-21 07:39] lbetz commented on #710
I am on vacation at home.

[2022-09-21 07:49] Napsty commented on #710
Working, thanks for the quick solution!

[2022-09-21 07:49] #710 closed, assigned to nobody

[2022-10-05 09:11] deric opened #711 "Object#=~ is called on TrueClass"
I have many warnings in `puppetserver` logs that looks like this:
[code]
`puppet-icinga2` version `3.3.1`.

Is it possible to fix this?

One of the [affected lines](https://github.com/Icinga/puppet-icinga2/blob/master/lib/puppet_x/icinga2/utils.rb#L186)

[code]
Probably we could check the `row` type at the beginning of the `parse(row)` function? It might slightly speed up parsing.

[2022-10-07 12:45] lbetz commented on #711
Thx. I will look at it.

[2022-10-12 04:18] caniwi commented on #711
I am getting this message as well.  I am running icinga2 v3.4.0

[2022-10-12 06:00] lbetz opened #712 "Symlink realpath faild at first run"
symlink_realpath(/etc/icingaweb2/enabledModules/fileshipper) realpath() failed: No such file or directory

[2022-10-12 06:07] lbetz commented on #711
What kind of puppet version you're running on the server? My 7.13.1 doesn't report that in puppetserver.log with severity INFO.

[2022-10-12 06:16] deric commented on #711
`puppetserver` in version `7.9.1-1bullseye`

[code]
@lbetz You're right it's not logged in `puppetserver.log` but systemd's journal: `journalctl -e -u puppetserver`

[2022-10-13 16:14] lbetz commented on #711
Ok, I don't have these messages on my puppetserver 7.5.0 with ruby 2.7.3p183... mybe I have to update first.
... gotcha.

[2022-10-14 05:28] lbetz commented on #711
Ok, either I have no idea how to fix it, or the cache is interfering.

[2022-10-14 06:45] lbetz commented on #711
fixed in branch bug/711, please restart your puppetserver before testing it.

[2022-10-14 15:35] deric commented on #711
@lbetz So far it looks good. Thanks for the quick fix!

[2022-10-14 16:05] lbetz commented on #711
thx. 9 days ago, not sooo quick.

[2022-10-14 16:06] lbetz commented on #711
Release will come at the weekend.

[2022-10-14 16:07] #711 closed, assigned to lbetz

[2022-10-14 17:17] #712 closed, assigned to nobody