[2017-02-06 15:24] lbetz commented on #227
It's not supported by the module.

You can also omit the "if-" string, then all generated service names are directly taken from the if_name variable value.

[2017-02-07 07:39] #226 closed, assigned to nobody

[2017-02-08 12:56] anirban0105 opened #229 "Create vars.foo["bar"] objects"
I am facing similar issue described in https://github.com/Icinga/puppet-icinga2-legacy/issues/325 for the icinga2 module.

I am trying to create the default configuration files from Icinga 2 using the puppet module but I can't find a way to create vars objects. It is not possible to migrate the following snippet into the current puppet module:

  vars.notification["mail"] = {
    /* The UserGroup

[2017-02-08 13:07] lbetz commented on #229
Hi,

what do you get, if you leave the quotes?

mail => '{ groups = [ "icingaadmins" ] }‘

[2017-02-08 14:13] anirban0105 commented on #229
Hi,

mail => { groups = [ "icingaadmins" ] } is not a valid puppet syntax.

However, I managed to get it working with the following:
    vars               =>  {
      notification       => {
        mail => {
          groups => [ 'icingaadmins' ]
        },
      },
    },
The output is below as expected:
  vars.notification["mail"] = {
    groups = [ "icingaadmins", ]
  }

Closing the issue.

[2017-02-08 14:13] #229 closed, assigned to nobody

[2017-02-10 10:00] liketed commented on #217
This is still valid even though the module is now available on forge and #213 is merged.

[2017-02-10 10:03] liketed opened #231 "Error installing module from forge for non r10k users"
Re-opening #217, as I dont know what the visibility is when commenting on a closed bug, it doesnt re-open.

#213 should have fixed #217 but the issue remains.

[2017-02-10 10:04] bobapple commented on #217
We didn't have a release since the merge. This fix will be available in v1.0.3

[2017-02-10 10:06] liketed commented on #217
Ahhhh, that's right. Ok, thanks :)

[2017-02-10 10:06] #231 closed, assigned to nobody

[2017-02-15 22:18] rychannel opened #232 "Exported Resources don't work"
On my Icinga server I get the following error when trying to pull in the exported resources.

Error: Could not retrieve catalog from remote server: Error 500 on SERVER: {"message":"Server Error: Evaluation Error: Error while evaluating a Resource Statement, Evaluation Error: Error while evaluating a Function Call, prefix(): expected first argument to be an Array or a Hash, got \"\" at /etc/puppetl

[2017-02-17 21:27] lbetz commented on #232
That's new. Please tell me your distribution and the puppet version you used. Did you notice the requirements? The required modules in the correct version especially the stdlib?

[2017-02-18 08:32] lazyfrosch commented on #232
Wild guess: no include of `::icinga2` before realizing objects?

[2017-02-20 16:22] bobapple opened #234 "Update docs of example4 with hint for Puppet 4"
Looks like Puppet Forge is testing the examples for validation. In our rake task we disable examples explicitly from testing.

With Puppet 3.x validation fails for example4:

[code]

[2017-02-21 07:58] #221 closed, assigned to nobody

[2017-02-21 08:00] bobapple commented on #151
@kwisatz @lbetz is this still of interest?

[2017-02-21 08:03] kwisatz commented on #151
Honestly, I think that stressing that "very complex" behavior in host or service objects should not be realized in Puppet but using tagged files instead. Ok, you're losing the syntax checks puppet offers, but icinga2 will catch those kind of errors.
I can see that the complexity far outweighs the usefulness in this case.
I'm not saying it should never be done, or eventually accepted as a PR, but i

[2017-02-21 17:41] ghost opened #235 "Enhance docs on how to enable and use features"
Hi,

I get a strange error in puppet and the newest icinga-icinga2 puppet module.

`
 class { 'icinga2::feature::idomysql':
    user          => 'icinga2',
    password      => 'supersecret',
    database      => 'icinga2',
    import_schema => true,
    require       => [
                     Mysql::Db['icinga2'],
                     Class['::icinga2'],
                     ],
   }`
[code]
Why i

[2017-02-22 07:59] bobapple commented on #235
I am not able to reproduce this. Do you have some other puppet code somewhere in addition to what you pasted? Maybe you declared `::icinga2::feature::ido-mysql` somewhere else?

Also, you should not `require => Class['::icinga2']` when using a feature class.

[2017-02-22 13:26] ghost commented on #235
Hi,

I have three puppet files

init.pp

[code]

[code]

[code]
Maybe the problem comes from the features line

features    => [ 'api', 'checker', 'command', 'ido-mysql', 'mainlog',
                     'notification', 'statusdata', 'syslog' ],

I don't understand the error message right now.

[2017-02-22 13:32] bobapple commented on #235
You should remove the `ido-mysql` from your `features => [...]` array.

Probably we need to make the documentation more clear that you are supposed to either enable a feature with the `features => [...]` array **OR** by declaring the class, not both.

[2017-02-22 13:34] ghost commented on #235
Hi,

great.  If I use the feature option it would create a mysql configuration with the default values?

[2017-02-22 14:50] bobapple commented on #235
Without further configuration the ido-mysql feature will set the following defaults:
[code]

It will also not import the schema by default. It's recommended to set a proper configuration by declaring the classs.

[2017-02-22 18:10] ikirker opened #236 "Using pki => "ca" can either cause incomplete deps or circular reference"
I'm trying to use this module, and trying to get Icinga2 to configure the certificates automatically:

[code]

This means that it uses the `icinga2` command to try and create certs. Unfortunately, this doesn't seem to always ensure that the `icinga2` command is available first, which makes it able to fail on first run:

[code]

I tried fixing the dependency chain using:

[code]

But then I get a c

[2017-02-22 18:11] ikirker commented on #236
(Oh, and, that Yumrepo resource is my own, rather than an automatic repo resource handled by the module: I've not been having this module manage it.)

[2017-02-23 07:58] bobapple commented on #236
You need to include or declare the `::icinga2` class which handles the installation of Icinga 2

[code]

[2017-02-23 10:34] ikirker commented on #236
Ah, sorry, I should have been clearer but I didn't want to post a huge mass of Puppet.

As well as the above, I'm already including the main class and some other Icinga class resources:

[code]

[2017-02-24 07:49] snahelou commented on #232
Same problem for me when I use icinga2::feature::idopgsql it crash randomly

My setup:

Work: icinga2 + icinga2::feature::command
Doesn't work: icinga2 + icinga2::feature::command + icinga2::feature::idopgsql

[2017-02-24 08:02] snahelou opened #237 "ido schema import dependency"
Hello guys,

I tested your module in my dev env and I think you have some bugs with your `icinga2::feature::idopgsql`

First is a missing dependent when import schema is false.
[code]

You will have

[code]

Second is with your import schema exec command which not support a custom port
[code]
[code]

Hope it can help you

Regards

[2017-02-24 10:58] deric opened #238 "Can't pass function via variable"
I'd like to modify variables of a service with something like this

[code]
however the template always produces invalid statement with incorrect quotation:
[code]

[2017-02-24 12:48] lbetz commented on #237
Yes, you're right. The dependency points to /dev/null if the schema is'nt manmaged. The same problem for mysql.

[2017-02-24 12:48] rychannel commented on #232
Rhel 7 and puppet 4.8 (PE 2016.5.1)

Sent from my iPhone

[2017-02-24 12:49] rychannel commented on #232
I have the correct version of Stdlib installed.

Sent from my iPhone

[2017-02-24 13:09] bobapple commented on #236
I am not able to reproduce this, but it looks like an ordering issue.

Here's a potential fix: 734d82cb276d6e3111f98f41b25b8dac45931b95
Can you test it and give me feedback?

[2017-02-24 13:44] #235 closed, assigned to nobody

[2017-02-24 13:45] bobapple commented on #232
@rychannel can you add some more puppet code so we can try to reproduce this?

[2017-02-24 14:25] rychannel commented on #232
Here is the profile that runs on the clients (which are Windows 2012 R2 btw)

[code]

[2017-02-24 14:45] bobapple commented on #232
Does the `fqdn` fact work on your windows machine?

[2017-02-24 15:01] rychannel commented on #232
yes

[2017-02-24 15:14] bobapple commented on #232
Can you dump the resource from your PuppetDB?

For me it looks like one of your variables is empty, but its hard to tell without further information

[2017-02-24 15:26] #237 closed, assigned to lbetz

[2017-02-26 22:21] #238 closed, assigned to lbetz

[2017-02-27 08:59] deric commented on #238
Looks good. Thanks a lot! :+1:

[2017-02-27 12:05] ikirker commented on #236
@bobapple Using that version, and deleting the `icinga2-bin` package resource and the explicit requirement for it in the use of `icinga2::feature::api`, does seem to work.

I don't think I understand why, at the moment, though. 😳

[2017-02-28 12:20] bobapple opened #239 "Create signed certificate with custom CA"
When using a custom CA with `::icinga2::pki::ca`, the certificate for the master is not generated.

[2017-02-28 12:22] #236 closed, assigned to bobapple

[2017-02-28 12:22] #239 closed, assigned to bobapple

[2017-02-28 14:36] matthiasritter opened #240 "dependency cycles"
Hi,
I've just testet all releases from v0.7.0 to v1.1.0 and get the following error message:

Error: Failed to apply catalog: Found 2 dependency cycles:
(Exec[concat_/etc/icinga2/features-available/mainlog.conf] => File[/etc/icinga2/features-available/mainlog.conf] => Concat[/etc/icinga2/features-available/mainlog.conf] => File[/etc/icinga2/features-available/mainlog.conf])
(File[/etc/icinga2/cons

[2017-02-28 14:55] bobapple commented on #240
You most likely have an outdated `concat` module. We had similiar issues in #211 and #224

See the [dependencies](https://github.com/Icinga/puppet-icinga2#dependencies) section of the docs for more information

[2017-02-28 15:09] matthiasritter commented on #240
Oh you're right. Thanks for the hint!

[2017-02-28 15:09] #240 closed, assigned to nobody

[2017-02-28 15:36] lazyfrosch opened #241 "Can't enable feature::idomysql without importing schema"
When wanting to setup the IDO feature, but not enabling `import_schema`

[code]

[2017-02-28 16:01] bobapple commented on #241
duplicate #237

[2017-02-28 16:01] #241 closed, assigned to nobody

[2017-03-01 13:13] matthiasritter opened #242 "enable_ha for notification feature"
Hi,
I'm missing the parameter "enable_ha = true" in the notification feature.

object NotificationComponent "notification" {
  enable_ha = true
}

It is needed, when operating 2 or more master-systems.
Thank you

[2017-03-01 18:31] lbetz commented on #242
Notifications are load-balanced amongst all nodes in a zone. By default this functionality is enabled. If your nodes should send out notifications independently from any other nodes (this will cause duplicated notifications if not properly handled!), you can set enable_ha = false in the NotificationComponent feature.

[2017-03-01 19:30] #242 closed, assigned to lbetz

[2017-03-02 10:30] matthiasritter opened #244 "specific version for icinga2-*"
Hi,
is there a reason why a specific version of icinga2 isn't implementet (yet)? Currently it is set to "installed".
If using puppet to install and configure icinga2 on more then only a few systems (in our case 3000+), there is a need to set a specific or at least "latest" as version-parameter.
What are your thoughts about this?
Thanks

[2017-03-02 10:32] Reamer commented on #244
I'am against "latest", but we should make it configurable. Default should be "installed" or "present".

[2017-03-02 10:37] matthiasritter commented on #244
yeah, I agree with you

[2017-03-02 15:53] Sukiyakijango opened #245 "applied service (icinga2) duplicated declaration"
hi there, thx for theis great module.
i have an issue with the applied service with string (for syntax) with the same descriptor/identifer... for example if i have ...
apply Service  for (proc_name => proc_config in host.vars.procs) to Host {
....
  check_command = "proc"
 .....}
and
apply Service for (app_name => port in host.vars.tcp_ports) to Host {
...
  check_command = "tcp"
 ....
}
in the ca

[2017-03-02 16:01] bobapple commented on #245
We have a pull request for this over here: https://github.com/Icinga/puppet-icinga2/pull/228

However it still needs to be reviewed

[2017-03-02 16:17] Sukiyakijango commented on #245
ah ok thx dint see that one
total diffrent approche to fix it  but wonderfull :)

[2017-03-02 16:33] bobapple commented on #244
Building the version string is nearly impossible during to differences for each operating system.

Lets say we add a parameter `version`. The users expectation is to fill in a valid Icinga 2 version number like `2.6.2`. However, the `package` resource requires a full package name to install a specific version. Building the correct package name only out of this version number is hard. Let's see the

[2017-03-02 19:56] lbetz opened #246 "attribute keys are missed for parsing"
The attribute keys are used to identify values that must not quoted thru the parsing mechanism. So we must not delete attribute with an undefined value.

Idea: move delete_undef_value from dedicated object definition to the main object resource and add a new parameter to the attributes function to get a list of unquoted words.

[2017-03-02 20:08] Reamer commented on #246
Hi @lbetz,
If you remove delete_undef_value from dedicated object, we will get Warnings which I described in PR (https://github.com/Icinga/puppet-icinga2/pull/222). The icinga2::object is created in each dedicated object. I think "delete_undef_value" function is at last position before Puppetserver tries to save our icinga::object.
Just a thought maybe I am totally wrong.

[2017-03-02 20:18] lbetz opened #247 "hash key with empty hash as value is parsed wrong"
::icinga2::object::host { 'host1.example.org':
  target         => '/etc/icinga2/example.d/hosts.conf',
  import         => [ 'generic-host' ],
  address        => '127.0.0.1',
  vars           => {
    os           => 'Linux',
    http_vhosts  => {
      httpd      => {},
    },
  },
}

=>

# This file is managed by Puppet. DO NOT EDIT.

object Host "host1.example.org"  {
  import "generic-host"

[2017-03-02 20:34] Reamer commented on #244
I think the main reason of @matze85 for make the version configurable is to keep all icinga2 agents up to date.
Maybe we can add a "Warning" for change the version to a specific value. How users solve your described problem to place the right version on a specific operatingsystem shouldn't the problem of this module.

[2017-03-02 20:39] lbetz commented on #245
proc_name and app_name are taken for the service name as default. Services with the same name applied to one host doesn't make sense.

Why you wanna use the same service name?

[2017-03-02 20:49] lbetz commented on #244
Reamer is completely right. Puppet as an config management tool shouldn't perform tasks of a software management.

[2017-03-02 20:58] lbetz commented on #246
Not remove, move to the object define resource ::icinga2::object.

[2017-03-02 21:14] Reamer commented on #246
I'll will take a look into puppetserver log with your patch.

[2017-03-02 21:52] Reamer commented on #246
I checked it in puppetserver log with your patch and all Warnings are now present again. Thats because you removed delete_undef_value from dedicated object.

[2017-03-02 22:07] lbetz commented on #246
OK, that's mean the problem is inside puppet and not between puppet and erb or ruby. Makes sense, puppet is implemented in ruby. Shit so we've to move delete_undef_values back to all objects and implement something to handover the attribute keys for parsing.

[2017-03-02 22:55] lbetz commented on #246
Please try the current commit to branch bug/attribute-keys-are-missed-for-parsing-246.

[2017-03-03 06:59] matthiasritter commented on #244
@Reamer Yes that's the main reason. If the version is not parameterizable in this module it's worthless for us.

[2017-03-03 08:05] Sukiyakijango commented on #245
@ibetz in this case (as an example) proc_name and app_name both have the value "openssh", so it makes perfekt sence to check if the proc of oppenssh is there and if the tcp port is open...
but im perfectly happy with the solution of pull request #228
this issue can be closed if an when #228  is accepted and merged
thx

[2017-03-03 08:39] Sukiyakijango commented on #244
i dont see the harm in making it parameterizable... there a quite a few people using puppet to control versions accros theier infrastructure... as an example we use it to control our puppet(server) version...
or mariadb version.. till i began using this module i even controlled the icinga2 versions... including  schema migration... diffrent os diffrent hiera files...

[2017-03-03 15:17] #245 closed, assigned to lbetz

[2017-03-03 15:23] lbetz commented on #244
@Sukiyakijango this works?

[2017-03-03 15:28] Reamer commented on #244
It can work, if you have a hiera hierarchy like this one
- %{::osfamily}/%{::operatingsystem}/%{::operatingsystemrelease}

Best Regards
Reamer

[2017-03-03 16:17] #247 closed, assigned to lbetz

[2017-03-03 16:36] #246 closed, assigned to lbetz

[2017-03-03 19:34] Reamer commented on #246
Tested with current master and Puppet 4 -> No warning

[2017-03-06 11:48] Sukiyakijango commented on #244
like promised we do something like
`$dbversion = regsubst($::icinga2_wrapper_module::version, '^(\d+)\.(\d+)\.(.*)$', '\1.\2.0')
exec { "schema-upgrade-to-version-${dbversion}":
        command     => "/bin/mysql -u root -p'${root_db_pass}' ${db_name} < /usr/share/icinga2-ido-mysql/schema/upgrade/${dbversion}.sql",
        user        => root,
        subscribe   => Package['icinga2-ido-mysql'],

[2017-03-06 12:00] lbetz commented on #244
How this will work if you update two or more versions?

The icinga project do that in different files and so we get problems. The solution to put schema updates in the module itself raises the complexity and maintenance effort of the module. At the moment I think it's a good idea the have an option manage_package to disable the handling of any packages and you can do everything you want outside in

[2017-03-06 12:06] Sukiyakijango commented on #244
it was never my idea to put this in the puppet-icinga2 module...
my idea is if you accept the pull request to this issue...
the folks out there can work a way to do theier updates or fix a version via theier roles and profiles...
we do continus updates so the code snipet works for us great...

[2017-03-06 12:12] lbetz opened #250 "replace service restart with reload"
An icinga2 reload is better instead of a restart. If you haven't a valid configuration after a restart you haven't a running process. A reload is sufficed for all configuration changes.

[2017-03-07 11:50] lbetz opened #251 "set groups default to undef for object servicegroup"

[2017-03-07 11:58] #251 closed, assigned to lbetz

[2017-03-07 12:00] lbetz opened #252 "add example of the whole example config"

[2017-03-07 12:05] #252 closed, assigned to nobody

[2017-03-07 12:41] choonming opened #253 "Module parsing '(' incorrectly"
I have a vars hash in my service object :

[code]

However, the module is parsing it incorrectly and appending " to the ( resulting in the following:
[code]

Not to mention, when there is a nested () in the value, it'll parse it incorrectly as well
[code]

Can we not parse the vars attribute but only parse the assign/ignore attributes only? Currently using v1.1.0

[2017-03-07 15:40] lbetz commented on #253
Yes, we don't consider SQL statements. I play with the idea to use a tag at the front of the string to disable the parsing.

The parser is just for simple parsing. Please use file resources to implement complex structures.

[2017-03-08 08:40] choonming commented on #253
@lbetz IMHO, it is nice to have the parser to parse the config to ensure its done correctly but then again a simply parser in my opinion, could just simply enclose the key/value of the attributes with double quotes. Converting ( to (" is overly complicated and breaks so many things on so many levels.

We have to be realistic that in some configs the assign rules or apply rules can be complex. I do

[2017-03-08 08:51] lbetz commented on #253
What's about my solution to tag the string like -: to disable the parser? Additional it could be possible to enable or disable the parser completely and enable it for dedicated values with +:?

[2017-03-08 08:57] lbetz opened #254 "use a tag to disable parsing for a single attribute value"
Use -: as tag. Maybe later we can add a parameter to the icinag2 main class to turn on and off parsing globally and add the tag +: to activate the parser for single attributes.

[2017-03-08 08:58] lbetz commented on #253
Related #254

[2017-03-08 09:29] lbetz commented on #253
Try the related branch
enhancement/use-a-tag-to-disable-parsing-for-a-single-attribute-value-254

Keep in mind that now you have to set your own quotes like:
mysql_execute => '-:"select count (user) from mysql.user"',

[2017-03-08 10:19] choonming commented on #253
@lbetz can I make a suggestion? Instead of turning off completely the initial double quotes, how about simply just parsing it to be enclosed with double quotes and do nothing else to the string when that tag or flag is used?

[2017-03-08 12:45] lbetz commented on #253
No, that's to less. Same tag has to work for expressions in assign rules. Without quotes.

[2017-03-08 23:20] bobapple commented on #234
Looks like puppet forge is ignoring examples now, quality score is up to 4.7 again.
I think it's sufficient to add a note somewhere that this example is only for Puppet 4, if not already included.

[2017-03-12 14:09] jkroepke opened #255 "1.1.0+ does not handle database host correctly."
Hi,

after upgrade this module from 1.0.2 to 1.1.1 this modules updates my ido mysql config:

[code]

which results into this error:

[code]

[2017-03-12 14:28] lbetz commented on #255
#246 considers all attributes to be not quoted in values. "database" is an attribute of object type IdoMysqlConnection, but must not include database*.

[2017-03-12 14:38] lbetz commented on #255
Depends on that database is an attribute and can be a hash maybe. And so it has to be possible to access a key of the hash like 'vars.os' or in this case database.whatever.

[2017-03-12 14:44] lbetz commented on #234
add a comment that the example is for puppet 4 only

[2017-03-12 14:53] #234 closed, assigned to lbetz

[2017-03-12 14:56] lbetz commented on #255
Quick fix for you, use the ip address instead of the fqdn. Sorry.

[2017-03-13 11:49] bobapple commented on #232
I'm closing this due to lack of information

[2017-03-13 11:49] #232 closed, assigned to nobody

[2017-03-13 11:52] bobapple commented on #253
See #254

[2017-03-13 11:52] #253 closed, assigned to nobody

[2017-03-13 12:04] bobapple commented on #244
Would the issue be solved if we use `ensure_packages` from [stdlib](https://github.com/puppetlabs/puppetlabs-stdlib#ensure_packages)?

Users who want to set a specific package name or installation options could do so by using `ensure_packages` themself. We had a similar discussion in #28

[2017-03-13 12:26] lbetz commented on #244
Noop, the function ensure_packages works only if you are using the same attributes AND values.
That mean, using
ensure_packages('icinga2', { ensure => installed })

inside the module and outside a declaration like
package { 'icinga2':
  ensure => latest,
}

will raise an error.

[2017-03-13 12:37] lbetz commented on #244
With #250 I think we can implement one parameter 'ensure_package' for using inside the package resources of icinga2 and the ido feature classes. Then we need also a trigger to the service if we updated the package. With #250 we'll be protected from an aborted restart when a ido schema update is needed.

[2017-03-13 13:27] #227 closed, assigned to lbetz

[2017-03-13 13:29] bobapple commented on #151
I agree with that. I will close this issue and remove the branch.

[2017-03-13 13:29] #151 closed, assigned to lbetz

[2017-03-13 13:59] #250 closed, assigned to nobody

[2017-03-14 20:53] lbetz opened #256 "consider-type-of-attribute"

[2017-03-14 20:55] lbetz commented on #256
relate #255

[2017-03-14 20:56] #255 closed, assigned to lbetz

[2017-03-15 05:42] #256 closed, assigned to lbetz

[2017-03-15 05:54] lbetz commented on #255
Please, try the current master branch.

Now database.* is interpreted as hash if database is a hash as object attribute or constant.

Now it's also possible to use
host => '-:"database.int.example.de"'
to disable the parsing for host.

[2017-03-15 10:18] walterheck commented on #254
Can this be released asap please? We have a severely broken icinga environment due to this problem.

[2017-03-15 10:20] bobapple commented on #254
Hey @walterheck
Expect a release during this week, at the latest beginning of the next week.

[2017-03-15 12:07] LorenzBischof opened #257 "Exported resources convert single element array into string"
Would it be possible to allow strings when only one element is passed? I am asking because of the following issue:
https://tickets.puppetlabs.com/browse/PDB-170
[code]

[2017-03-15 12:29] LorenzBischof commented on #257
I created an intermediate define and exported that. I then used any2array to convert it back to an array.

[2017-03-15 12:29] #257 closed, assigned to nobody

[2017-03-15 15:22] LorenzBischof opened #258 "Object arguments ordering not persistent"
The order of arguments in objects isn't persistent and changes on every puppet run. Would it be possible to sort these somehow so that they are always in the same order?
[code]

[2017-03-15 15:24] bobapple commented on #258
What version of Puppet and Ruby are you using?

[2017-03-15 16:50] LorenzBischof commented on #258
[code]

[2017-03-15 21:06] #244 closed, assigned to nobody

[2017-03-15 21:30] lbetz commented on #258
I used the same and my second run looks:

root@centos7 icinga2]# puppet apply examples/example_config.pp
Notice: Compiled catalog for centos7.openvpn in environment production in 4.19 seconds
Notice: Finished catalog run in 0.60 seconds

[2017-03-15 23:50] LorenzBischof commented on #258
Sorry I should have added that I am using exported resources.

[2017-03-16 05:03] lbetz commented on #258
And you're running CentOS 7.3 on both machine, the exporter and the collector?

[2017-03-16 08:18] bobapple opened #260 "Add concurrent check parameter to checker object"

[2017-03-16 09:23] #260 closed, assigned to bobapple

[2017-03-16 12:18] #254 closed, assigned to lbetz

[2017-03-16 12:28] LorenzBischof commented on #258
Yes, but it also happens on Centos 6.8. I guess this is probably a Puppet bug, just too bad it worked with the old module.

I just noticed that the resources that are showing the problem aren't even exported. They are checkcommand and template objects. I will try and diagnose the problem better and report back with more info.

[2017-03-16 13:20] bobapple commented on #258
Could this be related to unsorted arrays/hashes in Ruby 1.8?

[2017-03-16 13:54] LorenzBischof commented on #258
Good point, we are still using ruby 1.8.7 on our puppetmaster. I wonder if that's the problem

[2017-03-16 13:57] bobapple commented on #258
That may cause the problem, we require Ruby >= 1.9 because of this issue

[2017-03-16 13:58] LorenzBischof commented on #258
Ok, we are evaluating Puppet 4 anyway so this just adds a bit more pressure to upgrade. Thanks for helping

[2017-03-16 13:58] #258 closed, assigned to nobody

[2017-03-16 14:14] LorenzBischof opened #261 "undefined method `keys' for []:Array"
I get the following error after updating to the latest 1.2 version:
[code]
I set one constant via Hieradata:
[code]

[2017-03-17 05:55] unki commented on #260
Thanks! I'm pleased with your way as well.

[2017-03-17 05:59] unki commented on #261
Maybe related - since updated to 1.2.0 I get an error in ```config.pp:26``` as well, but with different error message:

[code]

[2017-03-17 10:03] choonming commented on #261
Seems like its the latest module.

[code]

@lbetz @bobapple any chance of fixing this soon?

[2017-03-17 10:12] Reamer commented on #261
@choonming Do you have clear your puppetmaster cache (restart)?

[2017-03-17 10:19] lbetz commented on #261
@Reamer good point! That# an explanation why I'm not able to reproduced this error.

[2017-03-17 11:44] choonming commented on #261
@Reamer @lbetz the problem is now resolved after the restart

[2017-03-17 12:40] #261 closed, assigned to nobody

[2017-03-20 10:32] bobapple opened #262 "Replace selectors inside resource blocks"
Regarding puppet-lint, it is not recommended to use selectors inside resource blocks. We do that a lot and should fix it.

Reference: http://puppet-lint.com/checks/selector_inside_resource/

[2017-03-20 10:42] bobapple opened #263 "Fix strings containing only a variable"
There are some strings defined that contain only a variable. Regarding puppet-lint this is a no-go

[code]

Reference: http://puppet-lint.com/checks/only_variable_string/

[2017-03-20 12:45] lbetz opened #264 "case statement without default in influx feature"
manifests/feature/influxdb.pp - WARNING: case statement without a default case on line 194

[2017-03-20 12:54] lbetz opened #265 "case statement without default in idomysql feature"
manifests/feature/idomysql.pp - WARNING: case statement without a default case on line 229

[2017-03-20 14:59] lbetz opened #266 "case statement without default in feature api"
WARNING: case statement without a default case on line 239

[2017-03-20 16:59] #263 closed, assigned to lbetz

[2017-03-20 16:59] #262 closed, assigned to lbetz

[2017-03-20 21:32] teancom opened #267 "Undefined method keys for []:Array"
After updating the icinga2 module to latest (from 0.6.0 previously), I get the following failure:

[code]

This is with puppet 3.8.7 and facter 2.4.6.

[2017-03-20 21:33] Reamer commented on #267
maybe an stdlib problem. Have you the required version >= 4.10.0?

[2017-03-20 21:34] teancom commented on #267
I have stdlib 4.12.0

[2017-03-20 21:36] Reamer commented on #267
What ruby version do you use?

[2017-03-20 21:38] teancom commented on #267
ruby-1.8.7.352-7.el6_2 on Centos6 (latest available for centos 6)

[2017-03-20 21:41] teancom commented on #267
I just updated to stdlib 4.15.0 to double-check, no change.

[2017-03-20 21:53] martinheinr commented on #267
Are you using Icinga 2.6.2 Release ? I had similar problems until I updated to the latest release

[2017-03-20 21:56] teancom commented on #267
Yeah, icinga2 2.6.2 from http://packages.icinga.org/epel/

I'm going to try rolling back releases of puppet-icinga2 to see if I can figure out where it stopped working.

[2017-03-20 22:01] teancom commented on #267
Rolling back to v1.1.1 fixed the problem.

[2017-03-21 04:59] Caprico85 commented on #267
Did you try restarting your puppetmaster to clear caches? See https://github.com/Icinga/puppet-icinga2/issues/261

[2017-03-21 06:10] lbetz commented on #267
Restarting your puppet master or clearing the cache will fix the problem. And please keep in mind, we use sorted hashes and arrays. Both don't supported by ruby version less than 1.9.

[2017-03-21 16:02] teancom commented on #267
I tried up revving to 1.2.0 again, restarted my puppet master, no change. Still the same error.

[2017-03-22 09:27] LorenzBischof commented on #267
Could this be the same issue?: https://github.com/envato/rails_4_session_flash_backport/issues/19 Since Ruby 1.8.7 is not supported this will probably not be fixed...

[2017-03-24 22:23] baldurmen opened #268 "prefix(): expected first argument to be an Array or a Hash, got """
OS: Debian Jessie
Puppet: `3.7.2`
Facter: `2.2.0`
Ruby:  `2.1.5`
Puppetlabs-concat: `2.2.0`
Puppetlabs-stdlib: `4.13.1`
Icinga2: `2.6.0-2` (from the Debian repository)

I get the error using either `v1.1.1` or `v1.2.0`.

When I run the `idomysql` class, I get this error:

[code]
i'm using the class call in the examples:

[code]

Including only the `icinga2` class works fine.

I've tried restarting

[2017-03-25 19:07] druchoo opened #269 "wrong number of arguments calling `attributes` (4 for 3)"
**OS**: CentOS Linux release 7.2.1511 (Core)
**Puppet**: 4.8.1
**Facter**: 3.5.0
**Ruby**: 2.0.0
**puppetlabs-concat**: 2.2.0
**puppetlabs-stdlib**: 4.12.0

I get the following error using `v1.2.0` or latest commit (`170f14a`). Error not encountered with `v1.1.1`.

Manifest:
[code]

[2017-03-26 06:40] lbetz commented on #269
Please clear your cache on your master.

[2017-03-26 06:45] lbetz commented on #268
Did you clear your puppet master cache?

[2017-03-26 15:51] baldurmen commented on #268
I have to say this is the first time I ever have to do this, but yes, I ran `rm /var/lib/puppet/client_data/catalog/*`.

If that is not enough to clear the cache, please tell me how.

[2017-03-26 16:36] Reamer commented on #268
A restart of Puppetserver should be enough to clear the cache. Puppetserver has also a curl command. You can find more information under this [link](https://docs.puppet.com/puppetserver/latest/admin-api/v1/environment-cache.html)

[2017-03-26 17:04] baldurmen commented on #268
I'm not running Puppet Server, only a WEBrick Puppet master.

I did restart the master a few times just to be sure.

[2017-03-27 09:16] bobapple commented on #268
@baldurmen are you including the `::icinga2` class when using `::icinga2::feature::idomysql`? If not, you should.

Also, this module requires at least Puppet 3.8. You probably should update your puppet master.

[2017-03-27 13:42] druchoo commented on #269
Restarting Puppet master resolved issue. Thanks for your help.

[2017-03-27 13:42] #269 closed, assigned to nobody

[2017-03-27 17:00] baldurmen commented on #268
I'm calling icinga2 this way:

[code]
As for Puppet 3.8, I'm using the Debian packages from the Debian repository. Next step is Puppet 4.8 and I'm not ready to make that step just yet.

Is Puppet 3.7 so different from Puppet 3.8 that it could make this crash?

[2017-03-28 16:01] lbetz commented on #268
Works this syntax on puppet 3? I only now it from puppet 4.

[2017-03-29 13:24] baldurmen commented on #268
#199 states that this should work with Puppet 3.8.6. I'll try to update through old jessie-backports packages to that version tomorrow and see if it fixes my problem.

[2017-03-30 19:44] baldurmen commented on #268
I updated to Puppet `3.8.5` and I get the same problem. This seems to be a real bug, not just something caused by me using a version of Puppet that is not supported.

[2017-04-03 07:38] bobapple opened #272 "Fix arrow_on_right_operand_line lint"
Puppet lint is not happy with the following:

[code]

[2017-04-03 08:01] #272 closed, assigned to lbetz

[2017-04-03 09:59] lbetz commented on #268
I cannot reproduce that. Please post your complete manifest.

[2017-04-03 10:12] lbetz commented on #266
Catched by validate_re($pki, [ '^puppet$', '^none$', '^icinga2', '^ca' ], ...

[2017-04-03 10:12] #266 closed, assigned to lbetz

[2017-04-03 10:13] lbetz commented on #265
Catched by validate_re($pki, [ '^puppet$', '^none$' ], ...

[2017-04-03 10:13] #265 closed, assigned to nobody

[2017-04-03 10:14] lbetz commented on #264
Catched by validate_re($pki, [ '^puppet$', '^none$' ], ...

[2017-04-03 10:14] #264 closed, assigned to nobody

[2017-04-06 12:51] bobapple commented on #268
@baldurmen can you post your puppet code so we have a better chance to reproduce this?

[2017-04-06 12:53] bobapple commented on #267
@teancom how do you run your puppetmaster? how did you perform the restart?

[2017-04-06 12:55] bobapple opened #273 "Add tests for custom facts"

[2017-04-06 13:18] bobapple opened #274 "Remove sles-12 reference from Gemfile"
A new version of facterdb was released and includes now the SLES12 patch from @jfryman. We can now switch to the official facterdb gem in favour of the fork.

[2017-04-06 14:16] bobapple commented on #273
fixed by 3499bbe25a4bdeb326776bba5402f85521f2a206

[2017-04-06 14:16] #273 closed, assigned to bobapple

[2017-04-06 14:22] #274 closed, assigned to bobapple

[2017-04-06 14:58] teancom commented on #267
Behind apache with passenger, and I restarted apache.

[2017-04-06 15:13] bobapple commented on #267
Can you paste the puppet code you are using? We are currently trying to reproduce this issue

[2017-04-06 20:43] baldurmen commented on #268
I'm not sure I understand your request. The only "puppet code" i used to try to use this module is:

[code]

I put this in a class named `icinga2-meta`, called from hiera.

[2017-04-07 04:23] lbetz commented on #268
This snippet isn't run capable. You use manage_package => false, how the package installation is done? How the database management? Please post the complete code.

[2017-04-07 06:46] bobapple opened #275 "Replace deprecated stdlib functions"
The following functions we use from the `stdlib` module are deprecated and need to be replaced with `validate_legacy`

- `is_array`
- `is_bool`
- `is_string`
- `validate_array`
- `validate_bool`
- `validate_hash`
- `validate_re`
- `validate_string`

[2017-04-07 06:49] lbetz commented on #275
In this case we have to update to stdlib 4.13.0 and above.

[2017-04-07 07:29] bobapple commented on #275
I wouldn't update the stdlib requirement to 4.13 immediately, many people still run on old versions. Let's keep this issue as reminder.

[2017-04-07 09:05] #206 closed, assigned to bobapple

[2017-04-07 09:14] bobapple opened #276 "Fix ::icinga2::pki::ca for FreeBSD"
Running `::icinga2::pki::ca` on FreeBSD (10 and 11) does not work properly.

[code]

[code]

Currently I can see two issues:
- `$path` varoable in `create-icinga2-ca` exec
- `$::icinga2::params::ca_dir` variable is wrong for freebsd

[2017-04-07 10:00] #276 closed, assigned to bobapple

[2017-04-07 13:12] bobapple opened #277 "Fix schema import for FreeBSD"
The IDO schema import on FreeBSD for MySQL and PostgreSQL currently doesn't work because of wrong file paths.

The correct location is:
* `/usr/local/share/icinga2-ido-mysql/schema/mysql.sql`
* `/usr/local/share/icinga2-ido-pgsql/schema/pgsql.sql`

[2017-04-07 13:31] #207 closed, assigned to nobody

[2017-04-07 14:05] bobapple opened #278 "Add IDO PostreSQL integration tests"

[2017-04-07 18:01] baldurmen commented on #268
Thanks, that is clearer.

This is how my meta module is organized:

[code]
init.pp:
[code]
install.pp:
[code]
config.pp
[code]

Note that I'm not using the puppetlabs apt module but another one. I'm using the puppetlabs mysql module but I'm not using the short form to stay explicit in my manifests.

I'm not sure why you need this though. How I install the icinga2 package from Debian jessie-backpor

[2017-04-10 07:12] bobapple opened #279 "Remove checker feature from examples for agents"

[2017-04-10 08:27] #277 closed, assigned to bobapple

[2017-04-10 09:43] bobapple commented on #278
Implemented in: https://github.com/Icinga/puppet-icinga2/tree/ido-pgsql-testing-278

On `.deb` based systems it's currently not possible to install both packages `icinga2-ido-mysql` and `icinga2-ido-pgsql`. This branch will be merged when the limitation has been removed.

[2017-04-10 11:42] lbetz commented on #268
Sorry, but your code runs 'great' on my debian jessie, puppet 3.7.2 etc.

[2017-04-10 11:54] bobapple commented on #268
@baldurmen can you give us any other hints on how to reproduce this issue?

[2017-04-10 11:57] bobapple commented on #267
@teancom can you provide the puppet code you use so we can try to recreate the issue?

Together will all versions you use for Puppet, Ruby, OS, ...

[2017-04-10 13:52] lbetz commented on #268
I only get this error by swapping both icinga2 classes like:

[code]

It's an ordering problem.... and not an ordering between resouces but rather a ordering of parsing variables. What's happened when you replace that snippet with the following?

[code]

[2017-04-10 14:09] lbetz opened #280 "Add condition to be sure that icinga2 base class is parsed first"
before all feature classes and define resources, i.e.

  if ! defined(Class['::icinga2']) {
    fail('You must include the icinga2 base class before using any icinga2 feature class')
  }

[2017-04-10 23:24] teancom commented on #267
Sorry, I didn't mean to ignore you. It's a fairly large module, that'll I've have to redact. I'll see about getting a minimum viable reproduction of the problem.

[2017-04-11 05:48] lbetz commented on #280
Done only for feature classes. All objects could be used as exported resource without an icinga2 instance.

[2017-04-11 05:59] #279 closed, assigned to lbetz

[2017-04-11 05:59] #280 closed, assigned to lbetz

[2017-04-11 06:33] bobapple commented on #267
I think your issue is the same as #268
Can you confirm?

[2017-04-11 07:14] lazyfrosch commented on #267
Just using Ruby 1.8.7 is enough obviously.

Seems like icinga2_attributes is not compatible to Ruby 1.8.7

Tweaked Gemfile:

[code]

Running test:

[code]

Leading to error:

[code]

[2017-04-11 07:18] lazyfrosch commented on #267
Only location where Ruby 1.8 should still be in place is RHEL 6 (RHEL 5 is EOL)

Since there are other problems in Ruby 1.8, like Hash key sorting etc. I would not support that version anymore.

Other Puppet module projects do the same, and I think we should follow them.

If you need to use RHEL6 as a user, please go for the newer Puppet packaging, as its the only supported version upstream.

Thou

[2017-04-12 13:37] bobapple commented on #267
I'm closing this issue since it is related to Ruby 1.8.7 which is not supported by this module. Please refer to the [dependencies](https://github.com/icinga/puppet-icinga2#dependencies) section of the documentation.

[2017-04-12 13:37] #267 closed, assigned to nobody

[2017-04-12 13:40] bobapple commented on #268
I'm closing this issue since we're not able to influence the order of variable parsing. Please refer to the [usage section](https://github.com/Icinga/puppet-icinga2#usage) of this modules documentation.

[2017-04-12 13:40] #268 closed, assigned to nobody

[2017-04-18 01:23] TinajaLabs opened #281 "Does not create /etc/icinga2/features-available/ directory"
This has started up.
[code]
* Redhat 6.7
* Current release of puppet-icinga
* It has worked OK on other hosts.

Applies to all features that have been defined and is obviously throwing the error when the features-available directory cannot be found.

Also noted that conf.d directory is not being written, although this might be because of the issues noted above.  I changed confd setting from false

[2017-04-18 05:01] lbetz commented on #281
Looks like the package isn't installed. Did you declare the main class icinga2 first? Or did you use manage_package => false and forgot to did it in front by your own?

[2017-04-18 08:27] TinajaLabs commented on #281
I'll check that in the morning.  Thank you.

[2017-04-19 06:28] lbetz opened #282 "key and cert permissions on windows"
file permission on windows plattform are SYSTEM to read key and certificate but icinga2 runs as NETWORK by default. So icinag2 can't read these files.

[2017-04-19 17:26] dgoetz opened #283 "SLES Lib directory is not architecture specific"
On SuSE the constants are architecture specific while the packages do not install the plugins in architecture dependent paths.

Changing [params.pp line 118](https://github.com/Icinga/puppet-icinga2/blob/master/manifests/params.pp#L118) to look like debian instead of redhat solves this.

[2017-04-21 06:11] lbetz opened #285 "Disable feature checker doesn't trigger a refresh"

[2017-04-21 07:18] lazyfrosch opened #286 "RSpec Puppetlabs modules incompatible to Puppet 3"
Latest releases of some Puppetlabs modules are no longer compatible to Puppet 3, and therefor breaking our tests.

Includes at least:
* puppetlabs-apt
* puppetlabs-concat
* puppetlabs-stdlib

We should find a proper way to split fixtures between Puppet Versions (probably by using different fixtures when `PUPPET_VERSION` is Puppet < 4)

[2017-04-21 07:22] lazyfrosch commented on #286
stdlib seems not *yet* affected...

[2017-04-21 07:48] #286 closed, assigned to nobody

[2017-04-21 07:59] walterheck commented on #286
Isn't Puppet < 4 EOL? https://puppet.com/misc/puppet-enterprise-lifecycle

[2017-04-21 08:13] lbetz commented on #285
All features affected if you use the features parameter in the main class. Moved resource of features-enable directory from install class to config to trigger a service refresh.

[2017-04-21 08:15] bobapple commented on #286
@walterheck yes it is. However, there are still plenty of users out there who are using Puppet 3, because a migration (especially in bigger environments) takes ages. Therefore, this module is Puppet 3 compatible.

[2017-04-21 08:15] lazyfrosch commented on #286
If we lived in a perfect world...

[2017-04-21 08:17] #285 closed, assigned to lbetz

[2017-04-21 08:33] #283 closed, assigned to bobapple

[2017-04-21 14:28] linuxmail opened #288 "@@icinga2::object::checkcommand -> setting parameter twice or more -> Last one wins"
hi,

I have the following checkcommand:

[code]

the problem is, I have to set "--plugin" twice:

[code]

In a plain checkcommand file it works without any problems via order ID, but I can't get the command into a Puppet configuration. The last one overwrites the first one.
Is there any workaround for that problem without a template?

cu denny

[2017-04-21 16:39] lbetz commented on #288
Why you're using --plugin as key in both arguments when you set skip_key to true? I.e. use --plugin1 and --plugin2.

[2017-04-21 21:47] linuxmail commented on #288
hi @lbetz

absolutly good question. That was realy a wrong thing. It was working on a different Icinga2 installation, because the plugin uses default parameters which inherits the first parameter. On my new installation it wasn't working, because the plugin has a different path, so that  skip_key = true is bad.
Anyway, I fixed it and useing as workaround --plugin and the -p, so both parameters get

[2017-04-22 16:18] linuxmail opened #289 "Apply: How to set "if(...) { .. }"
hi,

how can I set something like:

[code]
I want to test: https://monitoring-portal.org/index.php?thread/33662-solved-notification-definition-in-icinga-2/&postID=217609#post217609

cu denny

[2017-04-22 16:45] lbetz commented on #289
Problem is the if condition, same exists with other flow logic elements. If you wanna use such config snippets try the define resource: icinga2::config::fragment

With the content attribute you're complete free, but of course you have to write the whole object definition as text.

[2017-04-22 16:50] linuxmail commented on #289
hi @lbetz

thanks. I'm using for services already apply rules via files, so it is O.K.

Thanks for helping on a weekend :-)

cu denny

[2017-04-22 16:51] lbetz commented on #289
You're welcome. So I close this issue.

[2017-04-22 16:51] #289 closed, assigned to nobody

[2017-04-24 07:00] #288 closed, assigned to nobody

[2017-04-24 07:04] bobapple commented on #281
@TinajaLabs do you have any feedback?

[2017-04-24 13:05] lbetz opened #291 "Add owner-, groupship and permissions to file resources"
to protect for wrong permissions set by default resource for file.

[2017-04-25 04:59] TinajaLabs commented on #281
Yes.  I fixed it eventually by resetting the value of manage_package => true.

The problem is I had to completely delete all references to Icinga2 before it would go back to writing the directories.  It would be good to know what the rules are for creating the directories and which components, the existence of which would indicate the system is detected as previously installed.

I suspect that the

[2017-04-28 00:38] TinajaLabs commented on #232
Doh! - I'm getting the same error.

This seems to be the offending line in /manifests/config.pp:
```  $constants = prefix($::icinga2::_constants, 'const ')```

I thought it might be error of empty variable in my constants array, defined in class  '::icinga2': , but cannot identify any problems.

- Current version of puppet-icinga2
- rhel 6.7
- puppet agent 4.8.1
- puppet master 4.8.1

trying to le

[2017-04-28 08:39] lazyfrosch commented on #232
@TinajaLabs You are not even using exported resources. Your problem might be an ordering problem, where you use a feature or object, before including the main class icinga2.

See also #268

Please make sure that you are not realizing / declaring any `icinga2::*` defined resources or classes before `::icinga2`

And please open a new issue :)

[2017-04-28 12:42] hboetes opened #292 "Access denied for user 'icinga2'@'localhost'"
I created the puppet module below to install icingaweb2

And it's getting stuck at creating the `class{ '::icinga2::feature::idomysql':`

[code]
I can login to the database with the configured user and password, the database is properly populated. This is on xenial 64 bit. What is going wrong here?

[code]

[2017-04-28 13:42] hboetes commented on #292
To answer my own question: just drop the line:
```require       => Mysql::Db[$ic2db],```

[2017-04-28 13:42] #292 closed, assigned to nobody

[2017-04-28 17:13] #281 closed, assigned to nobody

[2017-04-28 17:54] TinajaLabs commented on #232
Apologies.  I did not see the issue #268 that you referenced.  I only noticed the error was the same.

I have now narrowed the issue to the same code related to ```idomysql```.

Further I see now that we deploy against redhat 6.7 and it does indeed default to 1.8.7.  RVM is not even in our repo.  We are not a ruby shop and just use it to make puppet happen.  Our deployments are many and require of

[2017-04-28 19:21] lazyfrosch commented on #232
When you are using `puppet agent 4.8.1` as mentioned above Puppet is not running on system Ruby...

Please open a new issue when you can track down why `idomysql` gets included before `icinga2`

[2017-05-04 19:26] deric opened #294 "Support += operator"
I've noticed that configuration like
[code]
is not supported in Puppet module yet. Is there some workaround or a plan to implement this feature?

Currently I'm have configuration:
[code]
and I'd like to merge `vars + config` with another Hash. I guess the easiest way is to use deep hash merging in Hiera, or am I missing something?

[2017-05-05 13:35] hboetes opened #295 "idomysql fails setting the password"
Evironment: puppet-4.10.0, all relevant modules come from git, OS: ubuntu-16.04.02

I have this code, or rather a part of the whole code, but this is the relevant part for this bug:

[code]

I got this debug output:

[code]
Reading the config file mentioned in the log:
[code]

Yes, that's a random password, not the password I set for the dbase.

I suspect this is caused by `spec/classes/idomysql_s

[2017-05-05 13:45] hboetes commented on #295
The plot thickens, after the next puppet run the password is corrected in the beforementioned config-file, but I still get the following error:

[code]

And the database is really configured with the right credentials; `mysql -psecret1 -u icinga2 -h 127.0.0.1 -P3306` succeeds.

[2017-05-05 13:59] hboetes commented on #295
The config file `/etc/dbconfig-common/icinga2-ido-mysql.conf` still contains the random password, after replacing it with the right password and running puppet again I finally got a good result.

[2017-05-05 14:00] hboetes commented on #295
So please fix this bug and set the right password in right files!

[2017-05-05 14:26] bobapple commented on #295
Well.. this is not the default behaviour. Puppet does not use dbconfig when installing packages. Probably you have misconfigured something in the apt module. Please review your code.

[2017-05-05 14:26] #295 closed, assigned to nobody

[2017-05-05 16:58] hboetes commented on #295
I haven’t changed anything in my apt module. It’s completely standard. The whole system is a fresh default install. dbconfig is used by apt on ubuntu for configuring that stuff. Please reopen the bug.

[2017-05-07 14:31] linuxmail opened #296 "example4 -> master zone missing?"
Hello,

is it possible, that the from [example4](https://github.com/Icinga/puppet-icinga2/blob/master/examples/example4/profile/manifests/master.pp) the "master" zone and endpoint is missing?

[2017-05-08 07:11] hboetes commented on #295
As you can see the the ido-mysql package provided by **your** repository uses dbconfig in the postinstall script.

[code]

[code]

[2017-05-08 16:23] waldiTM opened #297 "No way to specify an unmanaged CA file in api feature"
``icinga2::feature::api`` insists in managing file resources with specified content for all certificate related files. This makes it impossible to make the class get the cert and key the specified way, but retrieve the CA list, which is solely used for authentication of the remote, another way or even use the system global CA list.

[2017-05-08 18:57] lbetz commented on #294
Using

vars => 'vars + config'

is completely correct. That's the way of this module and icinga accept vars = vars + config. Also correct should be vars = vars + config + other_dictionary, but keep in mind + in icinga isn't a deep merge.

[2017-05-08 19:01] lbetz commented on #296
No, the zone exists.

  # Feature: api
  class { '::icinga2::feature::api':
    accept_commands => true,
    accept_config   => true,
  }

has a default zone and endpoint definition. The endpoint is the constant NodeName (default is the fqdn) and the zone is ZoneName set to 'master' thru the main class declaration.

  class { '::icinga2':
    manage_repo    => true,
    purge_features => false,

[2017-05-09 07:01] bobapple commented on #297
Does setting `pki => none` help you?
You can also set custom sources for all certificates.

[2017-05-09 07:58] deric commented on #294
Sure, `vars = vars + config` is valid Icinga 2 code. The question is how to transfer Puppet variables (hashes) into icinga? When I write
[code]
where do I define the `other_dictionary`? From the example above `vars` are defined on the host (I can't pass custom variable to `Host` object) and `config` is basically a subset of the `vars` hash. For let's say service specific configuration I could defi

[2017-05-09 08:03] waldiTM commented on #297
On Tue, May 09, 2017 at 12:01:14AM -0700, Blerim Sheqa wrote:

No, that does not help.  It still wants to manage file resources for it.

[2017-05-09 09:51] linuxmail commented on #296
Hi,

thanks for the explanation. In my case the master zone wasn't created because of my mixed setup tests.

cu denny

[2017-05-09 09:56] linuxmail commented on #297
hi @waldiTM

I had the same issue, because I had to add a CA to the existing one. So I disabled the pki in my hiera file with:

`icinga2::feature::api::pki: 'none'`

and the file isn't touched anymore. Maybe you overwrite it elsewhere ?

[2017-05-09 10:44] linuxmail opened #298 "Hiera advice for zone/endpoint/hosts needed, for independent DCs"
Hello,

I need an advice for integrating zones/endpoints and hosts for Icinga2 agents and non-agent hosts for **independent** datacenters.

We have at office a central Icinga2 master running which is managed via Puppet. I have to add satellites, agents and non-agent (snmp) hosts which are managed through a different Puppet server. In that way, I have to add the zones/endpoints and hosts manually i

[2017-05-09 19:45] lbetz commented on #298
https://github.com/Icinga/puppet-icinga2/tree/master/examples/example1/modules/profile/manifests/icinga2

is an example thats describe a solution for you. You've just to migrate the declaration part to hiera. That's all if you use the definitions of the profile classes in this example.

[2017-05-09 19:53] lbetz commented on #297
Set
icinga2::feature::api::pki: 'none'
and use file resource with a tag 'icinga2::config::file' to manage all your file like key, cert, and cacert.
Or you can handle your key, cert, and cacert via base64 encoded strings in parameters ssl_key, ssl_cert, and ssl_cacert.

Same behavior for your class icinga2::pki::ca to manage a CA, i.e. on your master.

[2017-05-09 20:24] lbetz commented on #295
# puppet apply examples/init_idomysql.pp

works pretty fine on my debian jessie, see below:

Notice: Compiled catalog for debian8.openvpn in environment production in 6.71 seconds
Notice: /Stage[main]/Mysql::Server::Config/File[/etc/mysql]/ensure: created
Notice: /Stage[main]/Mysql::Server::Config/File[/etc/mysql/conf.d]/ensure: created
Notice: /Stage[main]/Mysql::Server::Config/File[mysql-config-

[2017-05-09 20:28] lbetz opened #299 "ido packages are managed before repository"
Notice: /Stage[main]/Icinga2::Feature::Idomysql/Package[icinga2-ido-mysql]/ensure: created
Notice: /Stage[main]/Icinga2::Feature::Idomysql/Exec[idomysql-import-schema]/returns: executed successfully
Notice: /Stage[main]/Apt::Backports/Apt::Pin[backports]/File[backports.pref]/ensure: defined content as '{md5}cbe93f6e39e44610f5b39ba0b739285c'
Notice: /Stage[main]/Apt::Backports/Apt::Source[backports

[2017-05-09 20:35] lbetz opened #300 "concat resource with tag does not trigger a refresh"
-> Concat <| tag == 'icinga2::config::file' |>
-> File <| ensure != 'directory' and tag == 'icinga2::config::file' |>
~> class { '::icinga2::service': }

[2017-05-11 08:38] hboetes commented on #295
I just checked with a minimal recipe and that works, do note that `/etc/dbconfig-common/icinga2-ido-mysql.conf` is still generated with a wrong password. But my full recipe fails and I can't see why because it basically does the same. I included it for reference. This recipe includes a workaround which makes it work, but if you comment out the dbconfig workaround I hope you  can reproduce the prob

[2017-05-11 14:56] #296 closed, assigned to nobody

[2017-05-12 00:40] TinajaLabs opened #301 "Learning: clustering - where are the host and service files"
**current version of puppet-icinga2, puppet-icingaweb2,**
**icinga2: v2.6.3**
**Icingaweb2: 2.4.1**
**redhat 6.7**

I'm trying to create a 2 layer master/client configuration (no satellite for now) and I'm getting the zones files created, but I notice that for all 3 setups (master, satellite, client) the setting to create conf.d is always false.

[code]

In all my previous icinga2 installs it was

[2017-05-12 05:46] lbetz commented on #301
Hi Chris,

that's right. The example are for layer 3 setups. When you wanna setup a layer two you can use conf.d. The zones.d directory is used for auto sync of config to other zones like a satellite zone or maybe a agent. If you'd like to do an auto sync create a directory in zones.d with the name or zone as directory name and all files inside will transfer to this zone.
But in your setup this is

[2017-05-12 15:22] hboetes opened #302 "ido-mysql install fails while using official icinga packages"
Here is a minimal recipe that fails. If you set `manage_repo` to `false` the same recipe succeeds.

I have a clean install, made a snapshot, ran this recipe with `manage_repo true` and it fails. Error input included below:

[code]

[code]

[code]

With `manage_repo` disabled I get this output:
[code]

And the password in `/etc/dbconfig-common/icinga2-ido-mysql.conf` is also wrong.

[code]

In both

[2017-05-12 16:25] TinajaLabs commented on #301
Thank you, @lbetz

[2017-05-12 17:03] #301 closed, assigned to nobody

[2017-05-13 05:21] walterheck opened #303 "Use puppet-blacksmith for module versioning and publishing"
Would it make sense to start using puppet-blacksmith for bumping versions and publishing to the forge? https://github.com/voxpupuli/puppet-blacksmith

Makes life a little easier :)

[2017-05-15 07:32] lbetz opened #304 "PR #293 does not work correctly"
Error: Evaluation Error: Error while evaluating a Resource Statement, Evaluation Error: Error while evaluating a Function Call, validate_re(): input needs to be a String, not a Hash at /etc/puppetlabs/code/modules/apt/manifests/key.pp:62:3  at /etc/puppetlabs/code/modules/apt/manifests/source.pp:79 on node debian8.int.netways.de

[2017-05-15 07:35] lbetz commented on #304
Sorry, old apt module. Damn.

[2017-05-15 07:35] #304 closed, assigned to nobody

[2017-05-15 07:44] lbetz opened #305 "module requirements broken."
the current version of apt require stadlib > v4.16.0, icinga2 has a requirement of 4.10.0 ans above.

[2017-05-15 07:52] #300 closed, assigned to lbetz

[2017-05-15 07:55] #305 closed, assigned to nobody

[2017-05-15 11:57] lbetz commented on #299
Seems to be fixed by #293.

[2017-05-15 12:35] lbetz commented on #299
For osfamily debian appears the problem of containing of classes. We use a repo class and we declare the class apt inside.

[2017-05-15 13:14] #299 closed, assigned to nobody

[2017-05-15 13:15] #298 closed, assigned to nobody

[2017-05-15 13:16] #297 closed, assigned to nobody

[2017-05-17 20:47] TinajaLabs opened #307 "Enhancement: add custom includes to icinga2.conf"
I have 2 dirs I've added to ```/etc/icinga2```:
[code]
It uses the same pattern as the ```features-available```, ```features-enabled``` in which enabled features are links to specifically available features.  (I've seen similar pattern in apache configs)

I have all my many tracks' hosts defined in *.conf files of tracks-available but for the specific monitoring server, I only link to the ones tha

[2017-05-19 09:09] bobapple commented on #302
What does `show grants for 'icinga2'@'localhost';` print?
Which module is logging the error message, `mysql` or `icinga2`?

[2017-05-19 09:14] bobapple commented on #303
@walterheck thank you. Fortunately life's not so hard currently, since we're using TravisCI to push automatically to the forge on each tag. I'll consider blacksmith if things get harder :)

[2017-05-19 09:14] #303 closed, assigned to nobody

[2017-05-19 09:21] bobapple commented on #307
Hi @TinajaLabs

I agree that it makes sense to be able to include custom directories. There are also other scenarios I can think of: custom notification scripts, mix of static with dynamic configuration etc.

We'll consider this feature request for a future release, I'm not sure if we can make it for v1.3. We also should discuss if we need both, `include` and `include_recursive`.

Thank you

[2017-05-26 18:47] linuxmail opened #308 "Only last empty hash is stored"
Hello,

I try create a host template for the mysql_health_check ... and I have problems to get a syntax like:
[code]
With the following code:
[code]
The last line wins.

I have a similar config for my interfaces or blockdevices, but thy exists in my hiera YAML config and I get the correct output:

[code]
My Yaml
[code]

So it looks like, that my Puppet syntax is wrong. Can someone point me in the

[2017-05-29 06:37] lbetz commented on #308
Hi Denny,
I cannot see any errors. Please try the example 'example_config' this will apply the whole example config in /etc/icinga2/example.d and a host NodeName in hosts.conf with vars.disks["disks"] = {}.

Bye Lenn.

[2017-05-29 15:08] lbetz commented on #294
I'm not sure but maybe you mean

vars => 'vars + config + host.vars.otherdirectory'

to use a dictionary out of a host context? But you've to use an apply rule.

[2017-05-30 13:58] linuxmail commented on #308
Hi @lbetz

the error is, that I expecting:

[code]

but I get

`vars.check["3"] = {}`

So all other lines above are lost/overwritten. I tried the complete example:

[code]

the result is:

[code]
I think, it makes a difference if I put the syntax into a classical manifest, or use hiera_hash. I use for disks the same logic, but in a yaml and it works.
Maybe it has somthing todo with: [https://githu

[2017-05-31 14:04] oryagel opened #309 "Upgrade from puppet-icinga2-legacy"
Hi,
We're still using the legacy module. We would like to start using this module instead. Can we just change the module and everything will work? Are there any compatibility issues?

Thanks

[2017-05-31 14:34] walterheck commented on #309
It won't work magically, took us quite a bit of refactoring to get it all working properly. Hope you have a proper test environment to make this work first :)

[2017-05-31 17:06] lbetz commented on #308
Ah, ok. That's a bug. I will have a look on friday I hope.

[2017-05-31 17:09] lbetz commented on #309
Hi,
I am sorry but the modules aren't compatible. We did a complete rewrite and now we do some things completely different like the api handling. Many Parameters moved from the main class to the feature classes and renamed.

[2017-06-01 05:59] #308 closed, assigned to lbetz

[2017-06-01 08:30] oryagel commented on #309
Thanks!

[2017-06-01 08:30] #309 closed, assigned to nobody

[2017-06-12 07:12] #294 closed, assigned to nobody

[2017-06-14 17:24] BrianAI opened #311 "ordering-api-with-pki-after-package"
## Expected Behavior
I can configure a module that installs the icinga2 client, configures the zones and generates the PKI key / gets it signed.

## Current Behavior
I need to run the puppet module twice due to the pki generation trying before the icinga2 binary exists.

See here:

[code]

On the second run, this works perfectly fine.  i've tried ordering with require, or -> and it errors out. her

[2017-06-19 05:56] lbetz commented on #311
I don't know why but the ordering of your puppet run is wrong. The packages['icinga2'] resource has to be apply before creating the cert request with the command icinga2. What kind of os or distribution you used?

[2017-06-19 06:17] lbetz commented on #302
Ok, if I understand right this is a problem when updating the package icinga2-ido-mysql? That mean we have to set the dbc_dbpass correctly for debian/ubuntu via puppet?

[2017-06-19 06:32] BrianAI commented on #311
We use centOs 6/7, and puppet 3 ( latest version available) and I should note I've tried to force ordering (since I saw the same issue in the output up top) but that just causes a dependency loop :(

[2017-06-19 15:26] lbetz commented on #302
Please try branch: bug/ido-mysql-install-fails-while-using-official-icinga-packages-302

[2017-06-19 15:28] lbetz commented on #311
Ok strange. I have to tested with puppet 3 again.

[2017-06-19 18:51] hboetes commented on #302
I’m sorry, I can’t test the new changes since I’ve given up on the installing icinga with puppet project since I ran into too many problems. But thanks for taking my bug report seriously and good luck with fixing the existing problems.

[2017-06-19 22:50] mjm1138 opened #317 "strings get parsed strangely for services"
## Expected Behavior
Here's my puppet code:

[code]

## Current Behavior
Here's the code that gets generated on the server:

[code]
Note that it is inserting a double quote after the first paren in the query string rather than at the beginning of the string.  I am at a loss to explain it.  Does it have to do with "auto quoting"?  Any guidance would be welcome, thanks.

## Your Environment

* Modul

[2017-06-20 05:04] lbetz commented on #317
We wanted to implement just a simple parser but it grew over time. Problem is here the () expression. You can disable the parser with -: in the front of a value. That mean you've to do quoting by yourself like
vars.mysql_check_query => '-:select count(1) from information_schema.processlist where command<>\'sleep\' and time > 120'
I hope or
vars.mysql_check_query => '-:select count(1) from informat

[2017-06-20 05:07] lbetz commented on #317
Sorry to fast....
vars.mysql_check_query => '-:"select count(1) from information_schema.processlist where command<>\'sleep\' and time > 120"'
But I'm not sure how to quote correctly...

[2017-06-20 05:24] lbetz commented on #302
It's too bad that you stopped your work with this module. Maybe you can answer my question? Pop up the described problem if you updated icinga2 or thru an initial setup by puppet?

[2017-06-20 05:46] lbetz commented on #311
It's an ordering problem with puppet 3. I hope I can fix it in the evening (UTC+2) today.

[2017-06-20 09:31] BrianAI commented on #311
Great!  Thanks for checking it out :) look forward to it

[2017-06-20 15:59] #302 closed, assigned to lbetz

[2017-06-20 16:03] lbetz commented on #311
merge to master.

[2017-06-20 16:03] #311 closed, assigned to lbetz

[2017-06-20 16:12] mjm1138 commented on #317
Ah, thank you, that solves it!  For reference, here's what I'm using:

[code]

Regards,
-Mike

[2017-06-20 16:12] #317 closed, assigned to nobody

[2017-06-21 08:47] lbetz opened #319 "fix certname in api and pki::ca class to constant NodeName"
For CN in certificate don't use fqdn as default, must set to constant NodeName.

[2017-06-21 09:09] #319 closed, assigned to lbetz

[2017-06-23 19:45] BrianAI opened #320 "RedHat not supported for puppet 3.x"
## Expected Behavior
I should be able to install icinga2 client in redhat (against puppet 3.x)

## Current Behavior
I get the following error when trying to apply:

[code]

## Possible Solution
I believe this is caused by a  case sensitivity:
[code]

[code]

[2017-06-24 07:01] lbetz commented on #320
Matches are case-insensitive. Did you test it?

[2017-06-24 09:27] lazyfrosch commented on #320
What version of Puppet and Ruby is that?

[2017-06-25 02:11] BrianAI commented on #320
My apologies, this was a fault of ours.  We were using test machines and didn't stub kernel fact.  Closing.

Again, sincerest apologies.

[2017-06-25 02:11] #320 closed, assigned to nobody

[2017-06-25 11:04] jkroepke opened #323 "Release new version on forge"
Hi,

thanks for continues development this puppet module.

The last release is far away. Can you tag and publish a newer version of this module?

Cheers,
Jan

[2017-06-26 05:51] lbetz commented on #323
Will happen today.

[2017-06-26 05:51] #323 closed, assigned to nobody

[2017-06-26 13:50] lesinigo opened #324 "icinga2::feature::api defaults to literal "TicketSalt" string when using pki=icinga2"
I had problems letting nodes get their certificates using `pki='icinga2'`, after some debugging I traced them down to the `icinga2_ticket_id()` code using the literal string "TicketSalt" to generate the ticket on the puppet server.

I was setting my ticket salt in my profile like this on all my master nodes:
[code]
...and I left `icinga2::feature::api::ticket_salt` at the default value, which comm

[2017-06-27 04:29] lbetz commented on #324
Sorry what's your point? Storing the ticket_salt value in api.conf on other nodes than the ca master is a bug of course. Do you have other points?

[2017-06-27 04:41] lbetz opened #325 "ticketsalt only should be stored on ca nodes"

[2017-06-27 04:42] lbetz commented on #324
#325

[2017-06-27 13:37] lesinigo commented on #324
The current description of `icinga2::feature::api` parameters and assorted documentation, and the way the other features are managed in this module, seems pretty coherent and to me sounds like "use this puppet parameter to tune the corresponding one in `/etc/icinga2/features-*/api.conf`".

If that's the case, I would personally keep that parameter to save settings in conf file and use a different

[2017-06-28 16:44] ghost opened #327 "puppet 5"
Any plans to support Puppet 5?

[2017-06-29 01:19] kaprizki opened #328 "When passing non-fqdn name for the NodeName the certificate is still generated with cn set to fqdn"
## Expected Behavior
In AWS I would like to generate certificates for the master and clients using icinga2 cert tools with cn set to the NodeName. Node name in my case is aws instance id on the client and predefined DNS name on the master.

## Current Behavior
Currently even if you set NodeName to custom value module ignores it and creates certificates with CN set to fqdn of the nodes.

## Possibl

[2017-06-29 07:05] lbetz commented on #328
related to #319

[2017-06-29 07:05] #328 closed, assigned to nobody

[2017-06-29 07:08] lbetz commented on #328
_constants is a merge of defaults and settings/parameters of the icinga2 class. Last one is stronger.

[2017-06-29 07:32] lazyfrosch commented on #327
Do you have tested it? Should work.

[2017-06-29 11:19] ghost commented on #327
No I haven't tested it. I was just wondering because the specification at
puppet forge didn't include Puppet 5

On Thu, Jun 29, 2017 at 9:32 AM, Markus Frosch <notifications@github.com>
wrote:

[2017-06-29 11:40] lazyfrosch commented on #327
@noobcontrol a lot of modules don't have that yet, see #330 for our first tests

[2017-06-30 12:07] hammondr opened #331 "Repeated agent runs should generate identical config files (concat ordering)"
Each time my agents run, the icinga2 module will reorder lines in various config files.  This triggers a refresh of the agent (not a big deal) but also indicates the puppet run made changes (incorrect).

Examples from an agent run
[code]

## Expected Behavior
icinga2 config files only change when necessary.

## Current Behavior
icinga2 config files are changed (by reordering of directives / stanza

[2017-06-30 12:33] lazyfrosch commented on #331
This is a problem on Ruby 1.8, which comes with CentOS 6.

Please use a more modern Puppet, or at least Ruby, this is not fixable on our side!

See:
* [current README.md](https://github.com/Icinga/puppet-icinga2/blob/7b98452f80e3f3ba721eb8fc2c7529b1d6bcdfab/README.md#limitations)
* https://github.com/Icinga/puppet-icinga2/issues/146#issuecomment-273055374
* https://tickets.puppetlabs.com/browse/PU

[2017-06-30 12:34] #331 closed, assigned to nobody

[2017-06-30 14:12] kaprizki opened #332 "icinga2 option generates self signed certificates that are rejected by master"
## Expected Behavior

After running module on the new server the new icinga2 certificates are generated and signed by the master. New client is able to connect to the master.
## Current Behavior

Currently certificates are generated as self-signed so master refuses the connections with the error:

[code]

## Possible Solution

Additional step needs to be implemented to sign the certificate using t

[2017-07-04 06:55] lbetz commented on #332
That you describe is the expected behavior. For the very first time the client requires a self sign certificate to establish the connection a connection to the ca on the master to send a certificate request. The icinga2::feature::api class has to know the ticket salt from the master to authenticate its request against the master.

[2017-07-04 06:56] lbetz commented on #332
But there is a security risk because at the moment the ticket salt is also written to the config api.conf on the client. See #325.

[2017-07-04 06:59] lbetz opened #333 "protection of private classes is wrong"
if defined($caller_module_name) and $module_name != $caller_module_name and $caller_module_name != '' {
    fail("icinga2::feature is a private define resource of the module icinga2, you're not permitted to use it.")
  }

should be

if !defined(...) or $module_name != ...

to prevent a call from outside any class and from other modules.

[2017-07-08 17:05] kaprizki opened #335 "Safe tag is not safe enough"
## Expected Behavior

Create exported resource on a client:
[code]
Collect resource on the master:

[code]
Run puppet on client, then master. Expect file /etc/icinga2/zones.d/i-08cb83418219625ea/i-08cb83418219625ea.conf created with node definition.

## Current Behavior

run on the master fails with the error:

[code]

## Possible Solution

When safe tag is created the `.` needs to be replaced wit

[2017-07-10 06:55] lbetz commented on #335
First you doesn't need to send a notify to the icinga2 service. This is handled by the module automatically.

Snippet from https://docs.puppet.com/puppet/5.0/lang_reserved.html#tags:
Tag names should match the following regular expression:
\A[a-z0-9_][a-z0-9_:\.\-]*\Z

And you're using two unallowable signs ' and ] at the end of the String.
-> target => "/etc/icinga2/zones.d/${instance_id}/${insta

[2017-07-10 06:55] #335 closed, assigned to lbetz

[2017-07-10 18:36] kaprizki commented on #332
So - with more debugging it looks like the ticket that is generated by the module is incorrect.

In the puppet run I get:

[code]
However the correct ticket should be:

[code]

and when I pass it to the command it works fine:

[code]

Debugging further hoping to finally have a fix ....

I set salt to TicketSalt that is set in /etc/icinga2/constants.conf using the module

[code]

[2017-07-13 05:46] lbetz commented on #332
Ok, looks strange. What happens if you set the ticket_salt of icinga2::feature::api directly on the client?

[2017-07-19 14:15] baurmatt opened #338 "Unit tests broken for facter 2.5"
I followed https://github.com/Icinga/puppet-icinga2/blob/master/TESTING.md and unit tests are failing for master.

## Expected Behavior
Running `rake parallel_spec` should finish successfully.

## Current Behavior
Fails. A lot of the following messages are shown:

[code]

`rake spec` end output:

[code]

## Possible Solution
?

## Steps to Reproduce (for bugs)
Follow the installation procedure des

[2017-07-19 14:30] baurmatt commented on #338
Ah, this is related to https://github.com/camptocamp/facterdb/pull/44. Should i open a PR which fixes the Gemfile by using '< 2.5.0' for facter?

[2017-07-19 16:06] ghost commented on #327
Seems to work with Puppet 5.

[2017-07-26 15:16] yaron-idan opened #342 "Example and documentation for syncing hiera data to icinga objects"
## Expected Behavior
We have been using the puppet-icinga2-legacy module for a while now, and are in the process of upgrading to this module. We've been using the `icinga2::objects` class to sync between hiera and our icinga2 server, and it's been working great for us so far. Here's a link to the feature I'm referring to - https://github.com/Icinga/puppet-icinga2-legacy#hiera
## Current Behavior
C

[2017-07-26 15:34] ghost opened #343 "/etc/apt/sources.list.d entry for sources, too"
Hi,

it would be cool to have the option to install the

/etc/apt/sources.list.d

file with the URL for the source as well.

At the moment it's not possible to get the Icinga 2 source with

apt-get source icinga2

because there is not apt sources file and/or entry.

[2017-07-26 15:37] ghost commented on #343
Or just add the source URL by default as well. Shouldn't be harmful.

[2017-07-30 04:51] kaprizki commented on #332
I am not sure I understand the question. I set ticket_salt to the same value on both master and client using  icinga2::feature::api.

They are essentially identical.

The ticket generated by the ruby code embedded in the module for some reason returns different value that the direct call to icinga2 does.

[2017-07-31 05:50] lbetz commented on #342
We do less is more in this module. When you wanna have the same behavior do it on your on at your profile layer. Use the create_resource function for puppet 3 or the iteration in puppet 4.

[2017-07-31 05:52] lbetz commented on #332
Sorry I can't reproduce this. On my CentOS and Debian worked all fine. Please send your complete code.

[2017-07-31 08:34] yaron-idan opened #344 "icinga2 service won't start when enable_ssl = false"
## Expected Behavior
Configuring the ido feature should allow the icinga2 service to start successfully.

## Current Behavior
When configuring the ido feature with this module, the icinga2 service fails to start with this error log (produced with the `service icinga2 status` command -
[code]

## Possible Solution
Removing enable_ssl from the default configuration seems to solve the issue

## Steps

[2017-07-31 09:32] lbetz commented on #344
Works the example init_idomysql.pp from the directory examples?

[2017-07-31 11:44] lazyfrosch commented on #344
This is likely an old Icinga 2 version, which does not support the parameter...

[2017-07-31 12:00] yaron-idan commented on #344
That's true, my class did not use `manage repo => true`, which probably resulted in installing an older version. Thanks for the help, it works now.

[2017-07-31 12:00] #344 closed, assigned to nobody

[2017-07-31 13:33] baurmatt opened #345 "Puppet 3 Support/Data type"
This is a question regarding the Puppet 3 support. I'm currently implementing our new Icinga setups and realized that i have to improve the performance of the icinga2::object* classes dramatically to get a compile time within a acceptable time frame. After doing some testing i realized that I could get a 30%-50% improvement by switching to native data types instead of the validate_* functions.

Wh

[2017-08-01 12:22] rgevaert opened #347 "Documentation to set up mysql grants is incorrect."
See #346

[2017-08-01 14:33] josy1024 opened #348 "undefined method `keys' for []:Array at /config.pp:26"
try to basic setup puppet-icinga2 and get an syntax error:
undefined method `keys' for []:Array at /etc/puppet/modules/icinga2/manifests/config.pp:26

[code]

## Expected Behavior
should run and do setup without errors

## Current Behavior
currently not doing anything cause of syntax error.

## Possible Solution
changed depecies to met requirements for centos7 and puppet 3.8.7

## Steps to Reprodu

[2017-08-01 14:55] baurmatt commented on #345
Tests also show that the defined() function is really slow and shouldn't be used in classes which could get included into the catalog hundreds/thousands of times.

[2017-08-02 05:50] lbetz commented on #348
please checkout #267

[2017-08-02 05:50] #348 closed, assigned to nobody

[2017-08-02 05:52] lbetz commented on #343
If you like to manage the source manage the repos on your own. The source tree isn't needed by this module.

[2017-08-02 05:52] #343 closed, assigned to nobody

[2017-08-02 06:07] lbetz commented on #338
Update to facterdb 0.3.12, facter 2.5 supported is added.

[2017-08-02 06:07] #338 closed, assigned to lbetz

[2017-08-02 06:08] #327 closed, assigned to nobody

[2017-08-02 07:10] baurmatt commented on #338
Thanks! :)

[2017-08-04 12:43] linuxmail opened #351 "Review and update puppetlabs-concat dependency"
Hi,

just a question: must the Concat version older than 3.0.0 ? I had to change it, otherwise I wasn't able to upgrade Concat to the latest version for other modules.

cu denny

    { "name": "puppetlabs/concat", "version_requirement": ">= 2.0.1 < 3.0.0" },

[2017-08-04 14:44] lbetz commented on #351
Should work but our tests are broken at the moment.

[2017-08-04 14:47] lazyfrosch commented on #351
Also see #330

[2017-08-05 14:16] yaron-idan commented on #342
What about reusing the objects class that was present in the legacy module? Should it work out of the box if I point it at the object classes of the new module or was it removed for a specific reason and isn't compatible with the current module?
Thanks.

[2017-08-07 15:11] cfoehrdes commented on #351
We are also experiencing lots of conflicts due to the restriction to this old concat release

[2017-08-16 11:15] baurmatt opened #352 "Update documentation about += operator"
## Expected Behavior
Generate a configuration like this with Puppet:

[code]

The `vars += config` part is the part i'm missing.

## Current Behavior
As stated in https://github.com/Icinga/puppet-icinga2/blob/master/README.md#what-isnt-supported this is currently not possible as the icinga2_attributes/Puppet::Icinga2::Utils.attributes function doesn't support it.

## Possible Solution
Fix icinga2_

[2017-08-16 13:33] bobapple opened #353 "Align documentation for duplicate repository"
Add hint in documentation to disable repository management if the Icinga Web 2 module is used on the same server.

Ref: https://github.com/Icinga/puppet-icingaweb2/issues/131

[2017-08-16 15:23] yaron-idan commented on #342
When using iterations like suggested in this issue I've encountered some strange behavior -
The following hiera document -
[code]
Is being transformed into the following icinga object -
[code]
I figured something is wrong with the way we are escaping the string, but eventually I found out the extra quotes are being added by the icinga2::object::<resource> class.
When I remove the quotes entirely,

[2017-08-16 15:35] lbetz commented on #342
That’s not strange, it’s the expected behavior.

Use:
["host.name != Yahoo && host.name != icinga2-win1"]
The parser decides what elements to be quoted.

[2017-08-16 15:39] lbetz commented on #342
have a look at the documentation to Object Config, Parsing Configuration.

[2017-08-17 07:45] yaron-idan commented on #342
True, I've missed that part of the docs, thanks for the reference.
I'm building a new version of the missing objects class to fit our use case, would you be interested in adding it to this module or are you keen on keep doing more with less?
I find it's nice to have a way of syncing hiera and icinga, and since the old module supported this I don't see why the new one shouldn't.

[2017-08-17 13:37] altona93 commented on #291
Icinga does not start on Ubuntu when installed via Puppet due to the wrong permissions of /etc/icinga2. Fix should be easy.

either
  file { $conf_dir:
    ensure  => directory,
    owner   => $user,
    group   => $group,
  }
or remove the file resource completely as the dir will be created by the package with correct permissions anyway.

[2017-08-17 13:38] baurmatt commented on #352
From documentation of icinga2::object::service (https://github.com/Icinga/puppet-icinga2/blob/master/manifests/object/service.pp#L152)
[code]

Does this actually work? This would generate a configuration like this:

[code]

Is this the same as?

[code]

[2017-08-17 14:02] baurmatt opened #354 "Implement conditional statements/loops parameter for icinga2::object::*"
## Expected Behavior
puppet-icinga2 allows to add a Service like this:

[code]

The important part for us is the `if () {} else {}` part

## Current Behavior
Its currently not possible to add conditional statements/loops by using the icinga2::object::* classes

## Possible Solution
Due to the (could be) complex nature of conditional statements/loops I suggest to only add a `custom` parameter to th

[2017-08-17 14:16] lbetz commented on #352
Correct. vars += config is the short syntax for vars = vars + config. Both is correct Icinga syntax. The module supports only the long version.

[2017-08-17 14:19] lbetz commented on #354
How the module should know at what position the custom snippet has to be added?

[2017-08-17 14:22] lbetz commented on #332
Ok, so I close this issue.

[2017-08-17 14:22] #332 closed, assigned to nobody

[2017-08-17 14:24] lbetz commented on #324
We should use a dedicated parameter, I think.

[2017-08-17 14:30] lbetz opened #355 "Separate unit tests for functions"
Move parser tests from icinga2::object class to its own.

[2017-08-17 14:32] lbetz opened #356 "Use beaker for acceptence tests and replace boxes with bento"

[2017-08-17 15:26] baurmatt commented on #352
Ha, alright this was easier then i thought. Thanks! :) Could this please be documented? Perhaps somewhere around https://github.com/Icinga/puppet-icinga2/blob/master/README.md#parsing-configuration? Because the following sounds like its just not possible:

[2017-08-17 15:30] baurmatt commented on #354
Not sure yet :( The best solution would probably be something like the concat::fragment order parameter but this is surely really hard to implement. Perhaps we just try it after `import`?

[2017-08-18 08:09] rgevaert opened #358 "Fix small typos"
See #357

[2017-08-18 08:56] ghost opened #359 "Ruby error in lib/puppet/parser/functions/icinga2_attributes.rb"
## Current Behavior
[code]

## Steps to Reproduce
* download, place module in modules/, call class {‘icinga2’ }
[code]

## Context
* Right now I use Version 1.1.1 of icinga2 puppetmodule
* I wanted to test the latest stable version 1.3.0

## Your Environment

* Module version:
 puppetlabs-concat (v2.1.0)
 puppetlabs-stdlib (v4.11.0)
 icinga-icinga2 (v1.3.0)
* Puppet version: 3.8.7
* Operating Syst

[2017-08-22 10:49] gunnarbeutner opened #360 "The puppet module does not validate the master's X.509 certificate"
The puppet module fetches the master's certificate using the `icinga2 pki save-cert` CLI command but does not in any way validate that this certificate actually belongs to the correct Icinga master.

This presents an MITM vulnerability where an attacker could associate Icinga agents with a rogue Icinga master. Once that's done it can:

a) Retrieve check results from the agent
b) send commands to t

[2017-08-23 11:18] mika opened #361 "adapt for new mail notification script as of icinga >=v2.7.0"
With icinga v2.7.0 notifications per mail are broken if the changes as documented at https://github.com/Icinga/icinga2/commit/bd7d7ef84560f250aa6bccb8393a945d61783fd1 + https://www.icinga.com/2017/08/23/advisory-for-icinga-2-v2-7-update-and-mail-notification-scripts/ aren't applied.

[2017-08-28 13:45] #358 closed, assigned to nobody

[2017-08-28 13:49] #351 closed, assigned to lazyfrosch

[2017-08-28 14:41] lazyfrosch commented on #359
Hey @qaunz,
this sounds like an ordering problem we've seen before #232

When you define a resource, before actually including `icinga2` this can break.

Not sure where our include is missing.

[2017-08-30 07:41] lbetz commented on #354
That's not stable. What will be done if you wanna use attribute set by the same object?

[2017-08-30 07:43] #347 closed, assigned to nobody

[2017-08-30 07:47] lbetz commented on #342
Inspired by you I wrote a blog post. It's in german sorry for that but the code say it all, I think.

https://blog.netways.de/2017/08/18/icinga-2-monitoring-automatisiert-mit-puppet-teil-5-konfiguration-ii/

I will write an example and a short documentation.

[2017-08-30 07:50] lbetz commented on #324
#325

[2017-08-30 07:50] #324 closed, assigned to nobody

[2017-08-30 11:30] baurmatt commented on #354
Not sure what you mean, sorry. Can you give an example please?

[2017-08-30 13:41] lazyfrosch commented on #354
Conditional statements require context and order.

At the moment the object config is rendered from a Hash, where the order doesn't matter.

We could offer a `custom_code` string field. But still, the best way should be to handle special cases via a separate config file. (out of scope of icinga2::object)

[2017-08-30 13:45] lbetz commented on #354
In my opinion this should be the only way.

[2017-08-30 14:06] baurmatt commented on #354
`custom(_code)` would be fine with me. I definitely prefer it over a custom made `icinga2::config::fragment` because i can use all the `object.conf.erb` logic.

[2017-08-30 14:10] lbetz commented on #354
No you can't, lazyfrosch explained it.

[2017-08-30 14:11] bobapple commented on #354
We had this discussion many times over the time. It does not make sense for us to add this kind of complexity to the module. I think even these complex types of configuration are already covered in an acceptable way. I'll close this issue since we had this topic for many times now, thank you for your effort.

[2017-08-30 14:11] #354 closed, assigned to nobody

[2017-08-31 09:16] bobapple commented on #345
Refer to :
* https://github.com/Icinga/puppet-icingaweb2/issues/164
* https://github.com/Icinga/puppet-icinga2/pull/362

[2017-08-31 11:05] bobapple commented on #342
I agree with @lbetz, adding an example and docs is sufficient. Thanks for the effort @yaron-idan

[2017-08-31 11:10] bobapple commented on #361
The mentioned changes are problematic when updating Icinga 2. I don't see how we could catch this with the Puppet module, can you give some more details about the changes you request?

[2017-08-31 16:30] cristianbalan-mf opened #363 "Updated to support puppetlabs/chocolatey 3.0.0?"
https://forge.puppet.com/puppetlabs/chocolatey/changelog#2017-06-02-supported-release-300
Should probably work with no changes needed but it would be great to fix the dependency doc then.

[2017-09-01 13:35] cristianbalan-mf commented on #351
@lazyfrosch, concat released a mix 3.0.0 and 4.0.0. While 4 can be seen as a port to P5, there's no reason for Icinga's module not to satisfy at least concat 3.
Concat 2 is just P3... :(
[code]

[2017-09-04 13:49] lbetz commented on #359
Sounds like a caching problem. We changed the number of arguments for this function. If you update to a new Version, all puppet master must be restarted.

[2017-09-04 13:53] lbetz commented on #361
We only manage icinga2 objects not the content of an object. You have to mange the content on your own.

[2017-09-04 13:54] #361 closed, assigned to nobody

[2017-09-04 13:57] lbetz commented on #363
We will implement this in our next major release when puppet3 support will be dropped.

[2017-09-04 14:04] cristianbalan-mf commented on #363
Thanks @lbetz . Is there a deadline for that?

[2017-09-04 15:18] ghost commented on #359
Problem does not occur anymore after restart. So @lbetz seems to be right. Thank you and closing.

[2017-09-04 15:18] #359 closed, assigned to nobody

[2017-09-04 15:32] ghost opened #364 "Ruby Error in lib/puppet_x/icinga2/utils.rb. Its an Array not a Hash!"
On a fresh puppet run with icinga2 using Puppet 3.8 I get

[code]

The class is defined as follows

[code]

## Expected Behavior

It works :)

## Current Behavior

It seems that somehow the Hash of $constants and $::icinga::constants are being mixed and merged within lib/puppet_x/icinga2/utils.rb. At the end, $constants are not a Hash anymore. Suddenly they are an Array..

## Possible Solution

Le

[2017-09-05 07:01] dnsmichi opened #365 "Use the Icinga 2 API action `/v1/actions/generate-ticket` to retrieve a client's ticket"
## Expected Behavior

The Puppet master should query the Icinga 2 Master for a client's ticket.

## Current Behavior

The Puppet module uses its own hashing function which might break if the Icinga 2's hashing algorithm is changed for tickets.

https://github.com/Icinga/puppet-icinga2/blob/master/lib/puppet/parser/functions/icinga2_ticket_id.rb

## Possible Solution

Use the API action implemented

[2017-09-05 07:39] lbetz commented on #364
What kind of a ruby version is used on your master? See #267

[2017-09-05 07:40] lbetz commented on #363
Not yet. We're working on a roadmap.

[2017-09-05 08:24] #333 closed, assigned to lbetz

[2017-09-05 09:39] lbetz opened #366 "Error: Parameter user failed on Exec[icinga2 pki create key]: Unable to execute commands as other users on Windows at manifestsfeature/api.pp:317"
Problem at line 192:
 Exec {
    user => 'root',
    path => $::path,
  }

[2017-09-05 09:48] lbetz opened #367 "Could not find command Icinga2 on windows"
Error: Could not find command 'icinga2'
==> andromeda: Error: /Stage[main]/Icinga2::Feature::Api/Exec[icinga2 pki create key]/returns: change from 'notrun' to ['0'] failed: Could not find command 'icinga2'

[2017-09-05 11:26] ghost commented on #364
My master uses ruby version 1.8.7. But the ruby plugins are running on the client, so there should be no dependencies with the master's version, or?

[2017-09-05 11:53] mika commented on #361
Well, the provided example config is broken with >2.7.0 AFAICS: https://github.com/Icinga/puppet-icinga2/blob/f9165ba556a3c2d9713fb17c0932b0cc81aa3927/examples/example_config.pp#L223

[2017-09-05 11:56] lbetz commented on #364
But functions are running on the master only.

[2017-09-05 11:57] lbetz commented on #361
But it is just an example....

[2017-09-05 17:43] #364 closed, assigned to nobody

[2017-09-05 17:44] lbetz commented on #366
related to #367

[2017-09-06 02:24] #367 closed, assigned to nobody

[2017-09-06 02:25] #366 closed, assigned to nobody

[2017-09-06 09:34] cfoehrdes opened #371 "Icinga2 binary not found on Debian and FreeBSD"
Currently the icinga2 binary is not found on Debian jessie. Caused by the changes merged with PR #369 which sets `$bin_dir = '/sbin'` for all Linux distributions but the binary is located in `/usr/sbin`.

This results in errors like:

[code]

[2017-09-06 09:37] lbetz commented on #275
https://forge.puppet.com/puppetlabs/stdlib
shows: Note: This function is compatible only with Puppet 4.4.0 (PE 2016.1) and later.

So we'll lose puppet 3 compatibility.

[2017-09-06 09:47] lbetz commented on #371
Thx. Has to be done for Suse and FreeBSD, too.

[2017-09-06 10:28] cfoehrdes commented on #371
Are you on it? If you want I can submit a PR

[2017-09-06 10:30] lbetz commented on #371
yes, I'm working on it. But I donno the path of icinga2 on freebsd?

[2017-09-06 10:37] cfoehrdes commented on #371
Sorry, no idea what it is on BSD

[2017-09-06 10:39] lbetz commented on #371
done. pr ##372

[2017-09-06 10:41] #325 closed, assigned to lbetz

[2017-09-07 06:50] hboetes opened #373 "apt-key keeps getting refreshed on Debian"
On Debian 9 strech when I run puppet I notice that the icinga repo key is getting updated:

[code]

But it's already installed!

[code]

Just to double check I removed the key and then ran puppet agent -t again, twice. But still the key is reinstalled even though it's already there.

This doesn't happen on ubuntu xenial systems nor on OpenBSD systems.

[2017-09-07 15:09] baurmatt commented on #373
Sounds like a bug in http://github.com/puppetlabs/puppetlabs-apt. Which version do you use?

[2017-09-08 13:20] hboetes opened #374 "Error: Could not find command 'icinga2' on SLES-11"
While installing icinga2 on sles-11 I ran into

[code]

After this rather blunt change the installation went on again:

[code]
So I'm not proposing it as a fix, merely a suggestion on what the cause is.

[2017-09-08 13:43] baurmatt commented on #374
#372 should fix this.

[2017-09-08 14:03] hboetes commented on #374
That looks like the fix indeed.

[2017-09-08 14:03] #374 closed, assigned to nobody

[2017-09-08 22:33] #371 closed, assigned to lbetz

[2017-09-11 06:41] hboetes commented on #373
You're right, I had to git pull to get this fix:
https://github.com/puppetlabs/puppetlabs-apt/pull/665/files

[2017-09-11 06:46] #373 closed, assigned to nobody

[2017-09-11 11:58] lbetz commented on #282
resolved by #369
setting user = undef on Windows

[2017-09-11 11:58] #282 closed, assigned to lbetz

[2017-09-11 13:18] yaron-idan opened #375 "Objects created but not removed"
## Expected Behavior
When removing an object resource, the object should be removed from icinga2
## Current Behavior
When removing an object resource, it stays in icinga2 unless it's explicitly instructed to `ensure => absent` for this resource.
## Possible Solution
The legacy module used to support this behavior, I wonder if there is a way to add this as an optional behavior in this module as wel

[2017-09-11 13:51] lbetz commented on #291
Management of $conf_dir is removed with #369.

[2017-09-11 13:59] lbetz commented on #375
All objects are stored in files, exactly in concat resources. When you remove a object resource from your code it is also removed from the concat resource if there is at least one object to this concat resource. In this case puppet has the problem to know that this object/concat resource isn't managed anymore because the resource is also gone.

[2017-09-11 14:08] lbetz commented on #375
Using a directory resource for your config with purge => true, recurse => true should solve this problem.

[2017-09-11 14:56] yaron-idan commented on #375
This solved my problem indeed. Thanks for the quick reply!

[2017-09-11 14:56] #375 closed, assigned to nobody

[2017-09-11 14:58] lbetz commented on #375
You're welcome.

[2017-09-12 11:49] stefanandres opened #376 "Allow specificing icinga2 version"
## Expected Behavior
puppet-icinga2 should support specific version support.

## Current Behavior
The README.md proposes to set $manage_package to false and maintain your own set of `package { 'icinga2': ensure => $version }` resources.

## Possible Solution
* Add $version parameter (default: installed)

## Context
In a big (>3000 hosts, >45k services) setup, you want to pin the specific version t

[2017-09-12 15:48] baurmatt commented on #376
I've found https://github.com/Icinga/puppet-icinga2/issues/244 in which this issue was discussed before. I think the `manage_package` solution isn't sufficient as i would expect the main Puppet module of a software to handle this itself. The currently implemented way expects from the user to build a profile around this module in which he handle the package installation them self. This isn't needed

[2017-09-13 12:11] lbetz commented on #376
What more I can say? No. See #244 especially the problem of updating db schemes.

[2017-09-13 12:11] #376 closed, assigned to nobody

[2017-09-13 12:49] baurmatt commented on #376
Schema update is normally a problem of master/satellites. It's perfectly reasonable to build parts of your update management into Puppet. We usually do this by adding an apt::pin for the package + version.
Upgrades are then done by just updating the package version to the new one. Which then updates the pin and the `package` resource updates the package automatically.

Lets say $someone would have

[2017-09-13 14:31] stefanandres commented on #376
To add to the list of other modules where it is useful and was missing. @dnsmichi was so kind to implement it too: https://github.com/elastic/puppet-kibana/pull/5

[2017-09-18 08:37] lbetz commented on #307
You can do the following for your case:

file { '/etc/icinga2/tracks-available':
  ensure => directory,
  ...
}
-> file { '/etc/icinga2/tracks-enabled':
  ensure => directory,
  tag       => 'icinga2::config::file',
  ...
}

file { '/etc/icinga2/tracks-enabled/A':
  ensure => link,
  tag       => 'icinga2::config::file',
  target   => '/etc/icinga2/tracks-available/A',
  ...
}

class { '::icinga2'

[2017-09-18 12:17] bobapple opened #378 "Install package before creating config files"
The module tries to create `constants.conf`, `icinga2.conf` and `features-enabled/` before the package is installed.

## Expected Behavior
The `icinga2` package should be installed before creating config files

[code]

## Possible Solution
Manage `conf_dir`
Revert https://github.com/Icinga/puppet-icinga2/commit/58095b98c4b5cda3cfb5e23d3903d4b699b55f3c#diff-a276806bea2dfcf1f57c33aee19c7309L36

[2017-09-18 12:18] bobapple opened #379 "Deprecate `icinga2::config::file` tag"
We collect config files tagged with `icinga2::config::file`. We should deprecate this and only collect files tagged with `icinga2`, since this tag is set by default.

[2017-09-19 06:14] #378 closed, assigned to lbetz

[2017-09-22 14:45] baurmatt opened #381 "document manage_package with manage_repo"
The docs state that the following code should be used if you want to specify the package version as the icinga2 module doesn't allow it.

[code]

## Expected Behavior
Using the above code and adding `manage_repo => true` for the icinga class one would expect that Puppet installs the package from the icinga2 repository.

## Current Behavior
[This](https://github.com/syseleven/puppet-icinga2/blob/ma

[2017-09-23 17:29] lbetz commented on #379
If we'll do that it's no longer possible to manage file resources in icinga2::install.

[2017-09-23 17:29] #379 closed, assigned to nobody

[2017-09-23 17:38] lbetz commented on #381
This behavior is described:

[*manage_repo*]
 When set to true this module will install the packages.icinga.com repository. With this official repo you can get the latest version of Icinga. When set to false the operating systems default will be used. As the Icinga Project does not offer a Chocolatey repository, you will get a warning if you enable this parameter on Windows. Defaults to false. NOT

[2017-09-23 17:40] lbetz commented on #381
But we'll correct the example and add the management of a repository before installing the package.

[2017-09-23 18:04] lbetz commented on #363
chocolatey 3.0.0 requires puppet >= 4.7.0

[2017-09-23 18:08] lbetz commented on #275
refers to:

#350
#362

[2017-09-23 18:09] lbetz commented on #219
done

[2017-09-23 18:09] #219 closed, assigned to lbetz

[2017-09-25 08:20] stefanandres commented on #376
To workaround this issue (also see #381) - one can use resource collector to implement a $version for the package in a role/profile:
[code]

[2017-09-25 14:11] lbetz commented on #291
Management of cons_dir is back again, and now with ownership and group.

[2017-09-25 14:11] #291 closed, assigned to nobody

[2017-09-26 08:17] TechnoTaff opened #382 "What am I doing wrong? (Found 1 dependency cycle)"
I've included the icinga2 class from another module but I cannot seem to get past the following error:

[code]
This is after including the class from our general "monitoring server" module:
[code]

- We are managing collect and influxdb config from our "monitoring" module.
- None of our other classes manage files or folders under /etc/icinga2.

Thanks for any assistance.
]-[

[2017-09-26 08:45] TechnoTaff commented on #382
I've gone back to the last release version of this module (v1.3.0) but the problem persists.

I have stripped back the parent module to *only* include:
[code]

I have also tried only including the icinga2 module directly with the same results.

[2017-09-26 08:58] TechnoTaff commented on #382
This issue is resolved:

We had a very old version of puppetlabs-concat installed.

Sorry for any wasted time, hopefully this will serve as a pointer for users in the future.

]-[

[2017-09-26 08:58] #382 closed, assigned to nobody

[2017-09-27 10:31] lbetz commented on #381
if you use manage_package=>false and you manage the package in front of the icing class you also have to manage a repo within an icing package before. It's not possible to use icinga2 with manage_repo because of dependency cycles.

[2017-09-27 10:48] #381 closed, assigned to lbetz

[2017-09-27 10:54] #352 closed, assigned to lbetz

[2017-09-28 16:19] ghost opened #383 "Icinga 2 Puppet and NodeName and Zonename settings in constants.conf"
Hi,

I cannot find a way to set

NodeName and ZoneName

explicitely with the Icinga 2 Puppet module. Is it not possible with this module or did I overlook it?

It always sets the name the hostname -f command reports and that reported FQDN is in that case not right.

[2017-09-28 17:08] baurmatt commented on #383
This should work:

[code]

[2017-09-29 11:21] cristianbalan-mf commented on #363
Is puppet-icinga2 still supporting Puppet 3? Many modules dropped already their support to it including puppetlabs/concat and puppetlabs/apt which you depend on.

[2017-09-29 11:25] lbetz commented on #363
We will release v1.3.1 still have puppet3 support in a few days. With the coming v2.0.0 we'll remove this support.

[2017-09-29 11:31] #307 closed, assigned to lbetz

[2017-09-29 12:59] #342 closed, assigned to lbetz

[2017-09-29 14:10] ghost commented on #383
Thank you. I'll try it out.

[2017-09-29 14:14] #383 closed, assigned to nobody

[2017-09-30 19:17] lbetz opened #384 "tag and deploy v1.3.1"

[2017-10-05 11:40] #353 closed, assigned to nobody

[2017-10-05 12:31] #384 closed, assigned to bobapple

[2017-10-05 13:55] lazyfrosch opened #386 "SLES should use service pack repository"
SUSE Enterprise Linux uses Service Packs to release major updates for its base distribution.

While be built packages for the current supported releases, these releases are not compatible under each other.

Some changes between for example `12.2` und `12.3` are so major, that icinga2 packages need to be rebuilt explicitly for the target releases.

Now the module here uses a symlink we want to remo

[2017-10-05 13:57] lazyfrosch commented on #386
Same applies for `puppet-icingaweb2`, but the incompatibility problem will show up to `icinga2`

[2017-10-06 07:03] #386 closed, assigned to nobody

[2017-10-09 15:04] rgevaert opened #388 "Update docs how to pass package version"
Hi,

The module currently only installs the icinga2 packages.  It would be good if there was a way to pass the package version.  Default could stay 'installed'.

https://github.com/Icinga/puppet-icinga2/blob/master/manifests/install.pp#L30

What is your idea about this?  I could provide a PR...

[2017-10-09 17:28] lazyfrosch commented on #388
See #244

[2017-10-09 22:16] lbetz commented on #388
You can use some code like this:

package { 'icinga2':
  ensure => latest,
}
~>
class { '::icinga2':
  manage_package => false,
}

Notice: manage_package will disable the management of the repository too. You have to manage your favorite repository on your own.

[2017-10-09 22:16] lbetz commented on #388
We should add this to our documentation.

[2017-10-09 22:42] lbetz commented on #388
Sorry this also documented at the top of the documentation under usage. So I close this ticket.

[2017-10-09 22:42] #388 closed, assigned to nobody

[2017-10-10 01:34] baurmatt commented on #388
This seems to be an often (#244 / #376) requested feature. Please consider implementing it.

[2017-10-19 11:57] spaolo opened #390 "Icinga2 binary not found on Redhat/Centos 6 family"
The icinga2 binary is not found while installing on Centos/RedHat 6, problem history seems related to issue #371 and PR #369
which sets $bin_dir = '/sbin' for all RedHat family while binary is located in /usr/sbin.

This results in errors like:

Error: Could not find command 'icinga2'
Error: /Stage[main]/Icinga2::Feature::Api/Exec[icinga2 pki create key]/returns: change from 'notrun' to 0 failed:

[2017-10-19 19:02] #390 closed, assigned to lbetz

[2017-10-20 11:57] baurmatt opened #392 "Performance issues with larger setups"
## Expected Behavior
A Puppet run on a config master server should be fast for larger setups.

## Current Behavior
We're currently importing about 2500 `icinga2::object::host` objects by leveraging the exported resources feature of Puppet. Additionally we're generating another ~1000 icinga2::object::* resources for various (hostgroups, services, commands, ...) other configuration. Currently this l

[2017-10-20 12:58] bobapple commented on #392
I can verify the behaviour you are describing, I've seen this in the wild a couple of times. Using exported resources to create objects in bigger environments doesn't scale. I think the actual problem is deeper than this module. Even if we implement some improvements and somehow manage to create 3500 objects in under 3 minutes, that will only work a certain amount of time. Most likely your environ

[2017-10-20 13:56] baurmatt commented on #392
I'm not sure about this. I think it heavily depends on what you are trying to import/export. If importing means that the compiler has to additionally generate 4 objects and a complex template, yes this doesn't scale.
If you're importing finalized objects (e.g. a file resource) it should be way faster as the compiler would have to only generate a resource with some parameters.

We have considered u

[2017-10-23 11:27] spaolo commented on #390
thank you

[2017-10-27 15:23] hboetes opened #393 "missing /etc/pki directory"
On my system `/etc/pki` is not available, therefore this patch. I'm not entirely sure this is the best possible fix.

[code]

[2017-10-27 20:21] lbetz commented on #393
Hm, interesting. But we can't manage resource from outside of our module. That means /etc/pki doesn't belong to the Icinga application.

As workaround handle the directory before the icinga2 module, i.e.

file { '/etc/pki':
  ensure => directory,
}
-> class { 'icinga2':
  manage_repo => true,
}

[2017-11-02 13:24] baurmatt commented on #393
I've implemented a workaround for this problem a couple of years ago into [puppet-logstash](https://github.com/elastic/puppet-logstash):

https://github.com/elastic/puppet-logstash/blob/18c285fa8feb1c84643d7bd1b5cc83a101fdc52e/manifests/repo.pp#L66-L73
[code]

This completely removes the need to download the GPG key fo /etc/pki.

[2017-11-08 13:59] elderorange opened #394 "manage repo trough proxy"
I want to add icinga2 repo and getting the following message:

Error: /Stage[main]/Icinga2::Repo/File[/etc/pki/GPG-KEY-icinga]: Could not evaluate: Could not retrieve file metadata for http://packages.icinga.com/icinga.key: getaddrinfo: Name or service not known

So, it hangs in repo.pp at:
[code]
How does puppet get the source? The better question is how can I setup the puppet client node to do t

[2017-11-08 14:02] dnsmichi commented on #394
I'd suggest to manage the repo on your own (manage_repo => false) and handle http proxies and such over there.

[2017-11-08 14:13] elderorange commented on #394
Okay, an exec getting the key by wget works for me. If I want to do it as written at the top, how is "source" getting the file? It uses wget also, or is it curl?

I am asking because it´s not so simple to define proxy settings and noproxy settings for different linux applications. A also tried zypprepo but this as proxy options only for yum repos

[2017-11-08 21:58] lbetz commented on #394
You should configure your zypper to use a proxy before declaring the class icinga. If you'll do this by puppet you can use icinga with manage_repo => true.

[2017-11-09 08:45] elderorange commented on #394
I made this already by setting up /etc/sysconfig/proxy with all necessary noproxy entries.
I found out that entreing authentication for proxy creates a .curlrc in root home directory. I think puppet doesn´t load this file executing zypper. And without the credentials it´s not possible to cross our proxy.

[2017-11-09 10:31] lesinigo opened #395 "allow multiple *Writer objects of the same type"
Icinga2 has support for multiple `GraphiteWriter` / `InfluxdbWriter` / `*Writer` config objects out of the box, but `puppet-icinga2` versions >= 1.3.1 make it impossible to configure them without resorting to use resources external to the module.

## Expected Behavior

I'd like to be able to configure two `InfluxdbWriter` objects, or two `GraphiteWriter` objects, and so on. It is a rare use case b

[2017-11-13 14:01] rick-pri opened #396 "$bin_dir path incorrect for FreeBSD in params.pp"
The `params.pp` has an incorrect value for FreeBSD when it comes to the binary directory.
We receive the below error on FreeBSD 11.1 and the latest version `1.3.3` of this module:

[code]

The error occurs because ` puppet-icinga2/manifests/params.pp` has the following:

[code]

Which should be the following (after changing this locally on the puppet server I can get past this error):

[code]

Our

[2017-11-13 16:30] lbetz commented on #396
Do you know the path on FreeBSD 10, it's the same like on version 11?

[2017-11-13 16:48] lbetz commented on #395
We implemented all feature in class to manage the files in features-available. The common use is that you declare every object of a feature once. For special setups we prefer the way you used. We will not replace the feature class with a defined resource. But maybe we can add a dedicated object defined resource like icinga2::object::influxdbwriter?

[2017-11-13 17:16] lbetz commented on #394
Sorry, my mistake. The fiel resource that handle the key isn't involved by zypper. But zypper has an property gpgkey to handle the key. So maybe we can replace the the file resource with this property.

As a workaround for your problem please use manage_repo => false and manage the zypper resource before the icinga2 class by your own. Let me now if you need additional help to implement it.

[2017-11-13 17:21] lbetz opened #397 "Replace gpgkey handling for suse"
The gpgkey is managed by a file resource to download the key. After that we use an exec to import the key. So it's impossible to download the key thru a proxy because the proxy config of zypper is bypassed.

The puppet/zypper (version 2.0.0 and higher) module has a property gpgkey... use it.

[2017-11-13 17:21] lbetz commented on #394
related to #397

[2017-11-13 17:22] lbetz commented on #393
related to #397

[2017-11-13 17:22] #393 closed, assigned to nobody

[2017-11-13 17:42] lbetz opened #398 "How we should handle certificates in icinga2 2.8.0"
The location for the certificates stuff is moved from /etc/icinga2/pki to /var/lib/icinga2/certs.

[2017-11-13 17:43] lbetz opened #399 "Add feature elasticsearch"
comming in icinga2 2.8.0

[2017-11-13 17:46] dnsmichi commented on #398
The migration path was added with automation in mind, keeping different versions around. Right now you should not need to do anything, if you keep the *_path variables in the ApiListener object intact and the certificates in pki/. Icinga 2 copies the requires certificates to /var/lib/icinga2/certs on its own during startup.

Long term migration should be using the new paths and dropping the deprec

[2017-11-13 19:34] lesinigo commented on #395
Having something in the module to be able to handle special cases is a good idea.
Simple things should be simple, complex things should be possible :)

I would have thought about letting users actually access `icinga2::object` because that is the single most generic resource... why not removing `assert_private()` from that one and just stating clearly in the documentation that is should be used on

[2017-11-14 02:01] lbetz commented on #398
Check. I worried about managing a CA but this path is untouched and the cert paths for the cli commands in pki/ca.pp and feature/api.pp are absolut to the pki dir.

[2017-11-14 10:30] rick-pri commented on #396
Hi @lbetz I've checked this on `FreeBSD 10.4-RELEASE` and the behaviour is the same as `11.1-RELEASE`.

I'd not noted this before, but this is with package version `icinga2-2.7.1_2`

[2017-11-14 11:21] ekeih opened #400 "Boolean 'false' custom variables do not appear in configuration"
We use boolean custom variables in our configuration. They work fine if they are `true` but they never end up in the configuration file if set to `false`.

## Expected Behavior
`false` variables should be appear in the generated configuration.

## Current Behavior
`false` variables are ignored. Only `true` values and non-booleans are used.

## Possible Solution
I think the changes in https://githu

[2017-11-16 05:50] lbetz opened #402 "puppet4"
With version 2.0.0 we will kick puppet3 support. What version should be the lowest we support?

[2017-11-16 08:27] dnsmichi commented on #402
I'd say the same as puppet-icingaweb2 v2, >= 4.7.0

[2017-11-16 08:29] lbetz commented on #402
And the reasons?

[2017-11-16 08:32] dnsmichi commented on #399
https://www.icinga.com/docs/icinga2/snapshot/doc/14-features/#elasticsearch-writer
https://www.icinga.com/docs/icinga2/snapshot/doc/09-object-types/#elasticsearchwriter

The tricky part will be using the same TLS methods as the influxdb feature.

[2017-11-16 08:36] dnsmichi commented on #402
Mainly keeping it the same with other puppet-* modules which are likely used in combination with this one.
I don't mind if you bump it to 4.10 being the latest and greatest. I do have a special use case for this module inside the Vagrant boxes, my opinion here counts less.

[2017-11-16 08:43] lbetz commented on #402
I posted this question in forecast that you answers....:) My idea was version 4.9 and higher to use hiera 5 and replace params.pp with module data.

[2017-11-16 08:53] dnsmichi commented on #402
Ok then ;)

- from a feature point of view, use the version which fits best for development and speed.
- upgrading 4.x is "easier" from a maintenance POV, since there's this AIO package, no OS specific dependencies and forecasts on upgrade anymore.
- same goes for 5.x, if you can make exceptions here too. 5.3 is current, might be worthwhile to not support 5.0 if it got missing features.

I cannot

[2017-11-16 10:17] #396 closed, assigned to lbetz

[2017-11-16 21:26] rick-pri commented on #402
I like this idea.  However, you're going to need to update the examples I think; and I think that they really need some work.

I've spent the last 5 working days trying to understand the examples and to implement a working system in FreeBSD; I've only just managed to get a client and a master set up with a CA...and I'm getting a warning about the CA being self signed...which I'm hoping is just a w

[2017-11-16 22:05] baurmatt commented on #402
I think you're referring to [this](https://puppet.com/products/capabilities/platform-support-lifecycle) document, right? I pretty sure that this document doesn't describe the EOL of a specific Puppet version, but more the support of Puppet in general for the platform. Because, if it would describe the EOL of a specific Puppet version, they need to support Puppet probably until 2025....

[2017-11-17 17:17] jasonsattler opened #403 "repository.d missing after install"
repository.d missing after install

In your templates you add the following to the icinga2.conf
[code]

## Issue
The issue is that if that folder doesn't exist the icinga2 daemon will not start.  Not sure when they removed that directory from being created by default.

## Workaround
[code]

[2017-11-17 18:52] lbetz commented on #403
What kind of version of icinga2 you used?

[2017-11-17 20:54] jasonsattler commented on #403
Just installed it today
[code]

[2017-11-17 21:49] zznathans commented on #403
Also noticing this with the latest version. The workaround for creating the folder (either manually or via puppet) works to let things run.

Using defaults from "example2"

[2017-11-18 08:49] lbetz commented on #403
It's gone with Icinga 2 v2.8. We will it also remove in the future.... for now we'll handle the directory inside this module and use a parameter repositoryd with default to true. In puppet-icinga2 v2.0 we'll change it to false.

[2017-11-18 09:13] lbetz commented on #403
I tried to fix it in branch bug/repository.d-missing-after-install-403 but I still testing.

[2017-11-18 09:19] lbetz commented on #403
@jasonsattler please note use a file resource with icinga config or a directory in this context:

  file {'add-repository.d':
    ensure  => directory,
    path    => '/etc/icinga2/repository.d',
    owner   => 'icinga',
    group   => 'icinga',
    mode    => '0750',
    tag.       => 'icinga2::config::file',
  }

Have a look at the documentation under 'Custom configuration'.

[2017-11-18 14:02] lbetz commented on #403
Parameter repositord is added. Set it to false will remove the directory if exists.

[2017-11-18 15:13] #403 closed, assigned to lbetz

[2017-11-18 18:40] mngoe opened #405 "icinga2 option generates self signed certificates that are rejected by master"
Hello ,

I have exactly the same issue as here : https://github.com/Icinga/icinga2/issues/4728
I already have a dozen of icinga2 working node (configured without problem with the icinga2 node wizard).

But one of my node is not working.

Here is my version :
[code]

In my icinga2.log file , here is my error :
[code]

My request ticket generated on my Icinga 2 master seems to work fine, but my conf

[2017-11-19 09:07] #400 closed, assigned to lbetz

[2017-11-20 09:09] lbetz commented on #397
Doesn't work, maybe https://github.com/voxpupuli/puppet-zypprepo/issues/10. So we haven't a chance to offer an alternative method as the module uses now.

For SuSE use manage_repo => false and manage the repository on your own, i.e. with gpgcheck => false....

[2017-11-20 13:07] baurmatt commented on #392
After a lot of testing we decided to go with a custom import. We basically replaced the import of exported resources (`Icinga2::Object::Host<<| |>>`) with a `puppetdb_query()` query which then iterates throw the objects and puts the result in one template. It looks like this:

[code]

[code]

This brought us down from about 6min to 2,5min

I'm aware that this solution is way to specific to be impl

[2017-11-20 13:28] lbetz commented on #392
quite nice. But we'd need a more generic function to import all attributes... Maybe I've time at the upcoming Hackaton on friday at OSMC.

[2017-11-21 08:12] baurmatt commented on #397
How about something like this:

[code]

This works perfectly fine for the logstash module and removes the need of /etc/pki/

[2017-11-21 09:05] hboetes commented on #397
Looks ok, but please don't use **/tmp** since anyone can create a symlink to anywhere.

[2017-11-21 16:46] ThoTischner opened #407 "Tag v1.3.4"
Hey,

can you please release the Tag v1.3.4
Our new installed clients will not start because of:
https://github.com/Icinga/puppet-icinga2/commit/4a67dfb38b7b5f66e935b28d1ff1c1722e1b59af
missing in the generated config.

Thanks =)

[2017-11-21 18:53] bplunkert commented on #407
👍

[2017-11-22 13:48] #407 closed, assigned to nobody

[2017-11-22 15:40] ThoTischner commented on #407
Thanks

[2017-11-27 12:46] elderorange commented on #394
I made it. Zypper take the credentials from /root/.curlrc not in every situation. I had to enter the credentials to HTTP_PROXY in /etc/sysconfig/proxy as well.
HTTP_PROXY="http://<user>:<password>@<proxy>:<port>"

[2017-11-27 12:46] #394 closed, assigned to nobody

[2017-11-27 16:44] dnsmichi commented on #402
Observation from standard Puppet modules in icinga/icinga-vagrant#56 - they use >= 4.7.0 through out.

[2017-12-01 08:29] lbetz opened #408 "Add feature Elasticsearch"
For Icinga 2 v2.8.0 was a new feature implemented, object type ElasticsearchWriter.

[2017-12-01 08:33] lbetz commented on #408
doubled. #399

[2017-12-01 08:33] #408 closed, assigned to nobody

[2017-12-01 14:19] lesinigo commented on #402
also: Puppet itself has removed online documentation for [opensource versions](https://puppet.com/docs/puppet/) lower than 4.6 and [enterprise versions](https://puppet.com/docs/pe/) lower than 2016.4.x (which [goes from Puppet 4.7 up to Puppet 4.10](https://puppet.com/docs/pe/2016.4/overview_version_table.html)).

Puppet >= 4.7 is also what some widely used modules are currently requiring, such as

[2017-12-06 13:58] baurmatt commented on #392
FYI: Upgrading from 4.10.1 to 5.3.3 brought us down to ~2min.

[2017-12-07 14:14] bjakubiak opened #409 "icinga2 binary is wrong on rhel5"
Module looks for icinga2 in /sbin directory, while icinga2-bin package puts it into /usr/sbin/ directory.

Up to 1.3.0 module used system PATH to locate icinga2 binary. Then it was changed to /sbin for all the linuxes in #369. The change was followed by fixes for some linux distributions: Debian: #371, RHEL 6: #390,   FreeBSD: #396.
Now it doesn't work on RHEL5.
It works on RHEL7 just because the

[2017-12-07 14:27] lbetz commented on #409
RHEL 5 isn't support by this module.

[2017-12-07 14:41] dnsmichi commented on #409
Neither is it by Icinga 2 anymore. RHEL5 is EOL for a while now.

[2017-12-07 16:17] #409 closed, assigned to nobody

[2017-12-08 10:41] Faffnir opened #411 "Setting up icinga2 with a different port than default for idodb leads to an error"
When icinga2 is configured with a postgresql database which is served on a different port than 5432 it leads to errors as this command tries only to connect to port 5432. https://github.com/Icinga/puppet-icinga2/blob/6926e01409af7719841b179c8c20f661defd5fca/manifests/feature/idopgsql.pp#L159

[2017-12-11 14:03] lbetz opened #414 "Import IDO DB schema for mysql over SSL isn't supported"
You can configure the connection via SSL but the connection over SSL is not supported if you import the schema.

Referes to #411

[2017-12-12 14:56] ghost opened #415 "Icinga resource doesn't create ca directory and required files"
Puppet version: 5.1.4-1stretch
Icinga 2.8
Module version 1.3.4

[code]

I am playing around with the Icinga 2 puppet module and wanted to create a master Icinga 2 node.

The problem is it creates only the

/var/lib/icinga2/certs

with the files

_ca.crt  imaster.someurl.de.crt  imaster.someurl.de.key_

but no

/var/lib/icinga2/ca

Shouldn't the CA files be in that directory and shouldn't the modul

[2017-12-12 19:24] lbetz commented on #415
When you wanna have a CA, you have to declare the class icinga::pki::ca. This class manage /var/lib/icinga2/ca and will create a certificate for itself. But this requires pki => 'none' in icinga2::feature::api. Please consult the documentation.

[2017-12-12 19:30] ghost commented on #415
Thanks for the clarification.

[2017-12-12 19:30] #415 closed, assigned to nobody

[2017-12-15 12:16] spali opened #416 "escaping broken with double quotes?"
started to just throw the whole facts into vars.facts (I know probably not required, but take it as possible usecase ;))
[code]
generates invalids strings in vars when they contain `"`

concrete example to reproduce with hard coded facts and the problematic string:
[code]
generates:
[code]
and throws the error on icinga restart:
[code]

[2017-12-15 13:01] spali commented on #416
just tested a but, and it doesn't make a difference how "deep" the wrong string is.
I assume the escaping just can't handle the double quotes?
[code]
results in
[code]

[2017-12-15 13:25] spali commented on #416
for the sake of completeness:

puppet version: `5.3.3`
modules:
[code]

[2017-12-15 14:32] spali commented on #416
Did some additional test:
[code]
generated:
[code]

- `(` generates an additional `"` after it in lsbdistdescription1 and lsbdistdescription2
- `)` produces an additional  `"` before it
- `"` is just not escaped in lsbdistdescription3
- `\` is not escaped.

[2017-12-16 17:47] spali commented on #416
ok, got now, that is seems to be expected, due the fact, that the module parses the strings as icinga expressions.
used now a function to convert the whole facts into a icinga dictionary (as string) and used `-:` to prevent parsing.

Two problems that I still have and hopefully someone can lead me to the right path:
- A dollar sign in a fact string. If I replace a single `$` with `$$` i get a vali

[2017-12-19 17:02] dnsmichi commented on #399
I'm testing a patch for this atm.

[2018-01-03 08:48] #411 closed, assigned to nobody

[2018-01-03 08:52] lbetz opened #419 "Support disabling of parsing for an dictionary or array"
for all items inside of course....

[2018-01-03 08:52] lbetz commented on #416
Thx 4 your hard work. I'm not sure how to solve this problem in the future... current version supports only disabling of parsing for strings and not elements in an array or dictionary.

refers to #419

[2018-01-03 08:53] lbetz commented on #419
refers to #416

[2018-01-03 10:02] spali commented on #419
Currently I can only imagine, to solve this by two separate parameters. Because I don't think it's possible to put the current "parsing" feature and this in the same and keep it easy to use.
Except you would differentiate the parameter at top level by type.
If a hash is provided, then just don't parse. If a string is provided use the current parsing functionality.
But this would be a breaking chan

[2018-01-08 13:45] bobapple commented on #360
references #365

[2018-01-08 14:20] baurmatt opened #421 "Remove deprecated ApiListener options key_path, ca_path and cert_path"
## Expected Behavior
Icinga2 shouldn't throw deprecation warnings on reload

## Current Behavior
[code]

## Possible Solution
Remove deprecated settings from icinga2::feature::api -> https://github.com/Icinga/puppet-icinga2/blob/master/manifests/feature/api.pp#L354-L356

## Steps to Reproduce (for bugs)
Pseudo Puppet Code:
[code]

[code]

## Context

## Your Environment

* Module version (`puppet

[2018-01-08 14:21] baurmatt commented on #421
Any objection from the core developers? I'm not quite sure if this will break support for older Icinga2 versions.

[2018-01-08 14:29] dnsmichi commented on #421
This breaks everything < 2.8 where these attributes are required. This change needs a bump in the least supported version in this module, e.g. future major version v2.0.0.

[2018-01-08 14:29] dnsmichi commented on #398
#421 is related.

[2018-01-11 08:20] lbetz commented on #421
We will do this in the future when Icinga < v2.7 isn't support anymore.

[2018-01-11 08:22] lbetz commented on #405
Sorry that no one could help you. I close the ticket.

[2018-01-11 08:22] #405 closed, assigned to nobody

[2018-01-11 08:27] lbetz commented on #392
@baurmatt Have you implemented some of your ideas to increase the speed?

[2018-01-11 08:34] lbetz commented on #402
We're going to support puppet v4.9 and higher with puppet-icinga2 v2.0.0

[2018-01-11 08:34] #402 closed, assigned to nobody

[2018-01-11 08:38] lbetz opened #423 "Rework examples and docs"

[2018-01-11 08:39] dnsmichi commented on #402
Awesome, thank you 👍

[2018-01-11 08:48] #421 closed, assigned to nobody

[2018-01-11 08:49] #416 closed, assigned to nobody

[2018-01-11 08:52] #345 closed, assigned to nobody

[2018-01-11 08:57] baurmatt commented on #392
Yes, we're using the example above in our profile for the production setup and it works really well.

We're now down to ~2 min for:
* ~3200 hosts
* ~5800 other resources in the catalog

Our profiling showed that one should avoid the following things for better performance:
(from higher to lower impact)

* validate_* function
* concat especially with a lot of exported objects
* include/require stat

[2018-01-12 09:00] lbetz commented on #356
refs #278

[2018-01-20 09:23] lbetz commented on #399
refers #418

[2018-01-20 09:24] #399 closed, assigned to nobody

[2018-01-21 20:35] kwisatz commented on #423
@lbetz it'd be nice if the Changelogs could also feature required configuration changes.
I've been trying to upgrade from 1.0.2 to 1.3.4 (I know, quite a leap of faith) and I ran into the following issue:

[code]

As far as I can tell, this has something to do with constants, but I haven't had the chance to fully look into it yet.

[2018-01-22 07:26] lbetz commented on #423
Sorry, we missed that. Because the only thing you have to do is flush the cache on the master machines, i.e. do a restart.

[2018-01-29 10:49] deric commented on #421
Wouldn't it be easier to introduce a fact with a Icinga2 version number? On Linux you can get a semantic version with something like this:
[code]
and then decide the configuration based on release version.

[2018-01-29 10:51] baurmatt commented on #421
On the first run this fact would be empty.

[2018-01-29 10:59] deric commented on #421
@baurmatt Right, when the version is set to `undef` we can't take any action. I think it's better when the configuration applies on the second Puppet run, than waiting for 2.7 to become deprecated.

[2018-02-01 15:21] remy1991 opened #427 "Applying services to hostgroups"
Is there a way to assign services to hostgroups and not just hosts?
I went through icinga2 objects types and through this puppet module code as well but couldnt find anything substantial.

[2018-02-02 13:50] lbetz commented on #427
Assign a service to a hstgroup is the old way. Icinga 1/Nagios work this way. For Icinga 2 that's not necessary. You assign to attribute or custom attributes.
Or maybe you also wanna do it by hostgroups, use an apply rule like
apply where "foo" in host.groups

[2018-02-02 14:02] remy1991 commented on #427
Yep. We are in process of migrating from icinga1 to icinga2. Because of this transition and keeping the puppet code similar, was looking for something like that. Makes things easier anyway. Thanks for the help.

[2018-02-02 14:02] #427 closed, assigned to nobody

[2018-02-06 18:20] ekohl commented on #275
I'd be happy to write a patch. Is dropping Puppet 3 a problem?

[2018-02-06 18:34] baurmatt commented on #275
It's (more or less) done with #350

[2018-02-07 09:24] lbetz commented on #275
We start with dropping it after acceptence tests are implemented.

[2018-02-14 11:30] pgassmann opened #428 "overriding thresholds of individual disks"
The example vars do not work as expected. What is the correct way to raise the thresholds for single disks?

https://github.com/Icinga/puppet-icinga2/blob/6412e421cbfac31b696fa1bca81d6f6f9af1d899/examples/example4/hieradata/nodes/example.domain.org.yaml#L2-L7

Adding these host vars results in following object for the host:
[code]

Setting the disk_cfree value directly raises the threshold for all

[2018-02-14 11:34] dnsmichi commented on #428
[code]

excepts you to use the apply for rules, not a single apply rule. Your example with the apply rule expects the flattened custom attributes for single services.

The correct usage example is here:
https://github.com/Icinga/puppet-icinga2/blob/6412e421cbfac31b696fa1bca81d6f6f9af1d899/examples/example4/profile/manifests/master.pp#L68

[2018-02-14 11:35] lbetz commented on #428
Take a look at the eamples.

https://github.com/Icinga/puppet-icinga2/blob/master/examples/example_config.pp

[...]
::icinga2::object::service { 'disk':
  target        => '/etc/icinga2/example.d/services.conf',
  apply         => 'fs => config in host.vars.disks',
  import        => [ 'generic-service' ],
  check_command => 'disk',
  vars          => 'vars + config',
}
[...]

[2018-02-14 13:55] pgassmann commented on #428
Thanks for the support.

So **with our current setup it is not possible to define exceptions per disk** because it is one shared check?
To enable that, we would need to refactor the config so that all disks are defined explicitly on the host and then we would have separate checks for each disk and could define separate thresholds.

To automatically monitor all filesystems one could use `$facts['mo

[2018-02-15 10:53] dnsmichi commented on #428
You need to understand the concept of the underlaying apply rules. If you want to make exceptions to the one and only apply rule, you need 2 or more which deal with different patterns. If you can control it on the host level, set specific service thresholds inside the nested dictionary for the service apply for rule. More on that in the Icinga 2 documentation.

Apart from that, I suggest to ask th

[2018-02-15 13:16] rick-pri opened #429 "Using apply in a service causes service_name not to be applied to service leading to duplicate resource issues"
When using apply in an exported icinga2::object::service resource the resulting service does not have a service name meaning if you want to use the same variable sets for different service check commands you get duplicate resource issues.

[code]

Should result in something like the following because the resource title is used for the service name:

[code]

But actually results in:

[code]

I can

[2018-02-15 15:21] lbetz commented on #429
Looks completly correct for me. The 'name' to an 'apply for' acts as an prefix to the service name. In your case the service name is given by the content of backends or cache. And this depends on the dictionaries you use.

[2018-02-15 15:25] lbetz commented on #429
By the way you're use the same dictionary to apply two differnet services, set the prefix attribute to get different names.

[2018-02-15 15:29] lbetz commented on #428
Yes, that isn't trivial.

[2018-02-15 15:32] lbetz opened #430 "Attribute prefix for services is not documented"

[2018-02-16 09:13] rick-pri commented on #429
Hmmm, okay, if I change the puppet code to this:

[code]

I have a different problem then, I get an error saying that the service doesn't match anywhere:

[code]

As you can see it doesn't get a name here either.  I think that I'm not understanding something about how the hashed data is accessed.  This is my structure in yaml:

[code]

And my hosts' vars look like this:

[code]

Yet I can see that

[2018-02-16 10:21] lbetz commented on #429
Please use the parameter prefix of service.

[2018-02-16 10:31] rick-pri commented on #429
Sorry I posted this comment and then I went and checked the prefix parameter out and this is exactly what I needed.  Many thanks @lbetz

[2018-02-16 10:31] #429 closed, assigned to nobody

[2018-02-16 11:47] zilchms opened #431 "Directory not automatically created on first runthrough"
On the first runthrough of puppet agent -t on the client, the directory /etc/icinga2/features-available doesnt get created in time for dependent icinga files, which leads to a non succeeding runthrough.

## Expected Behavior
All directories that are dependencies for icinga files and have to be created in time, should do so.

## Current Behavior
Dependency is not created in time. Leading to a not s

[2018-02-16 12:50] lbetz commented on #431
Both directories are manage by the icinga2 package. We won't manage feature-availabe in puppet, repository.d is  necessary because it's removed in 2.8 and is now manage by puppet for compatibility.

[2018-02-17 09:26] lbetz opened #432 "Add crl_path to feature api"
At the moment the module isn't able to manage a CRL.

[2018-02-19 14:40] reduardo7 commented on #332
I have the same error!

[2018-02-19 14:44] dnsmichi commented on #332
How does your configuration look like?

[2018-02-20 08:27] dnsmichi commented on #332
I mean the Puppet configuration/manifests, in order to reproduce the error.

[2018-02-25 15:31] deric commented on #332
I'm having similar problems. Using
[code]
turned out to be quite helpful. The command should return:
[code]
Due to misconfiguration some of the certificates were issued by an incorrect master.

[2018-03-01 10:18] rgevaert opened #433 "don't quote null"
I noticed that null is always quoted.  Which is something you would normally not want. Right?

I appreciate the way to make it possible to not automatically quote the full string, but shouldn't we add null to the excluded list?

https://github.com/Icinga/puppet-icinga2/blob/master/lib/puppet_x/icinga2/utils.rb#L89

[2018-03-02 11:53] lbetz opened #434 "Changes on concat resource for objects does not trigger a refresh on puppet3"

[2018-03-02 11:56] #431 closed, assigned to nobody

[2018-03-02 12:13] #433 closed, assigned to nobody

[2018-03-02 12:40] rgevaert commented on #433
Thanks Lennart!

[2018-03-02 12:42] lbetz commented on #433
you're welcome. That was simple. But I donno whenever we'll release 1.3.6.

[2018-03-19 15:54] linuxmail commented on #398
hi,

I switching my instances to the new CA / proxy setup, but I'm asking, what should I use for the DMZ clients, behind the satellites.

Should I use:

[code]
and execute the node wizard with the satellite as parent ?

or
[code]

cu denny

[2018-03-19 23:20] linuxmail commented on #398
hi,
found it. Was easier than I thought :-) It is the second example without the "ticket_salt". It makes so much fun :-) I had always trouble with using the CA from Puppet, because the Master is managed by a different Puppet, than our datacenters :-)

Thanks a lot !

[2018-03-29 01:15] MelanieGault opened #437 "Windows : owner and group"
Hello,

Is there any reason why owner and group are not parametrised for windows ? (object.pp and config/fragment.pp)
https://github.com/Icinga/puppet-icinga2/blob/16a317b4d056993f0c450ef49e6809eaa4500240/manifests/object.pp#L84

I have some windows server (I'm not a windows administrator but I have to do some stuff on windows...) and they are installed in a french version.
"Administrators" is "Ad

[2018-04-13 17:37] #434 closed, assigned to nobody

[2018-04-13 17:43] lbetz opened #439 "replace deprecated validation functions"

[2018-04-17 14:32] mphilipps commented on #439
hi,
I would like to use puppet-icinga2, but due to our puppet server running with strict=error I am unable to use it.
Apparently you are planning to replace them  for v1.4.0,  but how is that different from the pull request #350 that is sheduled for v2.0? I assume v2.0 is a way off in the future?

[2018-04-17 18:51] lbetz commented on #439
duplicate issue and assigned to wrong version

[2018-04-17 18:51] #439 closed, assigned to nobody

[2018-04-25 01:30] paladox opened #442 "Is there a way to purge exported resources?"
## Expected Behavior

It should work without throwing a puppet error

## Current Behavior
When I do:

‘’’
resources { 'icinga2::object::host': purge => true, }
 resources { 'icinga2::object::service': purge => true, }
‘’’

It fails with it cannot find this resource “icinga2::object::host” same for service.

## Possible Solution

## Steps to Reproduce (for bugs)

1. Do the class like https://github

[2018-04-25 12:54] lbetz commented on #442
Uff, where I should start to explain... don't use this terrible implemented class.

To your problem and your question. I can't see no such objects like icinga2::object::host or icinga2::object::service so using resource doesn't make any sense.

Furthermore all icinga2 objects are implemented with concat resources. That mean if you delete an object from your code it's also removed from your icinga2

[2018-05-01 10:53] triforce opened #443 "Using a reference to icinga variable in icinga2::object::notification $interval"
There is a regex validation check on the $interval variable in the icinga2::object::notification resource type, however this could potentially contain just a string with reference to an icinga variable, such as "service.vars.notification.interval" causing the validation check to fail.

## Current Behavior
validate_re() on $interval fails when checking against reference to icinga variable.

## Poss

[2018-06-04 14:59] zilchms opened #444 "Missing of if else functionality in serviceconfiguration as icinga2 would normally allow"
Feel free to correct me if I am wrong, but I havent found any Issues on this matter up to now.
Normally icinga2 allows for configurations such as this:

[code]
No matter how I look at it, I cant seem to find a way to work this if else structure into an acceptable puppet configuration, in a way that the results looks as the one mentioned above

## Expected Behavior

In my opinion, it should be poss

[2018-06-04 15:27] lbetz commented on #444
This such of code has to be written outside any icinga2 object class like service, have a look at icinga2::config::fragment at https://github.com/Icinga/puppet-icinga2/blob/master/manifests/config/fragment.pp.

[2018-06-06 16:42] greenaar commented on #332
Also observing the same issue. The certs are coming up self signed instead of signed by the ca.  I've confirmed the ca.crt in /etc/icinga2/pki and /var/lib/icinga2/certs are the same (in this case, from the puppet master), and the client certs in both locations are self signed.

[2018-06-10 13:42] zilchms commented on #444
The icinga2::config::fragment surely is helpful. In my current setup all Services are located in one file services.conf looking like this:
[code]

Now i would like to add to every service the checkperiod as stated in the first comment.
If i understand this correctly then i still have to add one fragment for each service, right? Or is there a way to simply write one fragment and simply apply it to

[2018-06-11 04:52] lbetz commented on #444
To both - yes. The fragments based on concat fragments and it's not permiited to use one fragement in more than one concat resource.

[2018-06-11 04:52] #442 closed, assigned to lbetz

[2018-06-11 04:53] #428 closed, assigned to nobody

[2018-06-12 15:32] zilchms commented on #444
Okay. I can work with that on my setup.

The inital problem still persists though. In my opinion it should be possible to build "standard" icinga2 config files with the puppet module. The way it is handled now is more complicated than it needs to be.
If I recall correctly it is possible to parse multi-line strings in puppet. In that case why not add another string parameter to the service.pp, some

[2018-06-12 16:12] lbetz commented on #444
Next will be, 'but I need a different order.'

service testservice {
    import "template"
    if(test){
        check_period = "test"
    }
  check_command = "test"
}

That's a never ending story. We discussed that at the start of the project.

[2018-06-12 16:14] lbetz commented on #444
We wanted simple classes and all all complex things shall configure by config::fragment.

[2018-06-12 16:48] zilchms commented on #444
Ok i see where you are going with this.

[2018-06-12 16:48] #444 closed, assigned to nobody

[2018-06-13 14:30] rgevaert opened #447 "ensure absent on object doesn't remove the full file"
Hi,

I just found out that you can remove all the files created by icinga2::object.  (like icinga2::object::notification)

The fragment is removed, but the file still exists with the header. This is because of

https://github.com/Icinga/puppet-icinga2/blob/0e21436a051f6e42dd6406fe5c540333daa75521/manifests/object.pp#L134

I ran into this because I was removing the parent directory but the object s

[2018-06-13 15:15] lbetz commented on #447
Hi,

ensure is for the object. The concat resource is created for the first define resource of object thru compilation. That mean if you set ensure to absent for one of your objects it could be the first. Then you get a concat with ensure to absent and a lot of fragments with your object definitions.

No that doesn't work, I think.

But of course the problem is known.

Bye Lennart

[2018-06-14 14:34] mphilipps commented on #416
This issue is closed, but is it supposed to be fixed?

[code]

generates:
[code]

I am not sure I understood @spali, why would Icinga have to parse an expression in a check command?

[2018-06-15 06:10] lbetz commented on #419
Maybe we could use a special key like 'unparse' into a hash to make sure the values of the hash aren't parsed.

[2018-06-15 06:10] lbetz commented on #416
please use the related #419

[2018-06-15 07:01] mphilipps commented on #419
I have tried working around that by using icinga2::config::fragment instead of icinga2::object::checkcommand, but now Icinga fails with Bad escape sequence found: \(.

Presumably I need to escape backslashes? Is there anything else I need to escape in a command string?

E: Found https://www.icinga.com/docs/icinga2/latest/doc/17-language-reference/#string-literals-escape-sequences

[2018-06-15 07:50] mphilipps commented on #419
The config generation is even more broken than I expected..
The puppet String `"APT Update - dist-upgrade"` when passed to icinga2::config::service as the display_name turns into `display_name = "APT Update" - "dist-upgrade"` which leads to icinga2 complaining that I can't substract strings from each other.
Could it be that this puppet module is doing a bit to much magic? I am inclined to bin this

[2018-06-15 08:27] lbetz commented on #419
Yes you're right. The parsing is like some magic. The reason was to do simple configuration easy. In the old module you had to quote and escape everything i.e.

vars.custom = "\"foobar\""

to get

vars.custom = "foobar"

quoted. But we won't to implement a complete icinga2 config parser. All complex things we do without parsing.

1) with a file resource  tagged by 'icinga2::config::file'
2) using

[2018-06-15 08:29] lbetz commented on #419
"APT Update" - "dist-upgrade"

The parsing split off by every blank and the dash (-) is interpreted as an arithmetic symbol.

[2018-06-15 08:33] mphilipps commented on #419
For now I am working around that by directly using icinga2::config::fragment and using {{{ }}} for my strings. {{{ }}} Strings don't require any additional parsing and none of my checks/descriptions contain }}}. Actually I should probably write a check for that.

[2018-06-19 12:46] mphilipps opened #448 "Incorrect example for icinga2::object::apiuser"
hi
icinga2::object::apiuser expects an array of strings or hashes for it's permission argument. The example
[code]
does neither and as such doesn't work.
I suggest changing it to:
[code]

[2018-06-25 03:43] MelanieGault opened #449 "Windows service permissions and update-windows check"
Hello

I try to have "update-windows" check working on windows 2008 and 2012.
Out of the box, It says that I don't have permissions (as noted in https://www.icinga.com/docs/icinga2/latest/doc/10-icinga-template-library/#update-windows) .

After some checks, I see that the service must be running with 'local user account' not 'network services'. (https://monitoring-portal.org/woltlab/index.php?thre

[2018-06-25 06:55] lbetz commented on #449
Hi Melanie,

that's all right. The following should work on windows plattforms:

manage the icinga2 package before the class icinga2 (manage_package => false) notify to

an exec resource with a command like 'sc.exe config icinga2 obj= "NT AUTHORITY\NetworkService" password= dummy' (of course with a local user) notify to class icinga2

Keep in mind I didn't test that....

let us now if it works or

[2018-06-26 04:21] MelanieGault commented on #449
Hello,

Thanks !
I have something working, but not idempotent for now...

[code]
I found this information :
[code]

But it does not seems to be a return code as expected... (I'm a linux sysadmin and I never did any windows scripting...)
So I need some more improovement to be clean !

Regards,
Mélanie

[2018-06-29 14:31] triforce commented on #443
I can make this code change - Any of those solutions work for you? If not please suggest another.

[2018-07-05 06:38] rudexi commented on #364
@qaunz Thanks for troubleshooting it saved me a lot of time.

Since the functions are running on the master, the `Hash.select` of ruby 1.8 returns an Array, while in ruby >1.9, it returns a Hash.

I believe the icinga2 module won't support 1.8 (too much effort to do).

If  you're in the same situation as me and want to patch it regardless, you can use the following trick described here:
https://bi

[2018-07-22 16:52] hammondr commented on #331
Sorry for the very late reply.  Which puppet components need to run ruby >= 1.9 for the ordering to work?  The puppetmaster process (e.g. via rvm'd passenger) or the agent, or both?

[2018-07-23 10:55] SimonHoenscheid commented on #331
If you update to puppet >=4, you get a bundled ruby version. This might be less painful.

[2018-07-24 10:41] hammondr commented on #331
Thanks.  We do understand that and we desperately want to move to puppet 5 but we are looking for a way to get this functionality before then.  For us -- if it solved the problem -- using RVM with puppet 3 is much easier than migrating to puppet 4.

[2018-07-24 10:58] lbetz commented on #331
The requirement of Ruby >=1.9 is for the master servers only. To parse the icinga2 configuration we use a function and function are just executed on a master. But note if you use puppet apply on an 'agent' it's simulate a master and then you have to install ruby >=1.9 on this host too.

[2018-08-14 12:20] lbetz opened #451 "Parameter order of concat resource has to be a string"
Branch 2.x

define icinga2::config::fragment(
  String               $content,
  Stdlib::Absolutepath $target,
  String               $code_name = $title,
  Pattern[/^\d+$/]     $order     = '0',
) {

[2018-08-14 12:24] lbetz opened #452 "Remove icinga2::pki::ca"
Branch 2.x

::icinga2::pki::ca

is deprecated we should remove it in 2.0

[2018-08-14 12:37] lbetz opened #453 "Rework param data types of icinga2::feature::api"
Branch 2.x

e.g. tls_protocolmin as Enum, access_control_allow_origin as Array of URLs, Zone and Endpoint as Struct, ...

[2018-08-14 12:40] lbetz commented on #453
Optional:

  Boolean                                 $access_control_allow_credentials = true,
  String                                  $access_control_allow_headers     = 'Authorization',
  Array[String]                           $access_control_allow_methods     = ['GET', 'POST', 'PUT', 'DELETE'],

[2018-08-14 12:43] lbetz opened #454 "Rework param datatype of icinga2::feature::compatlog"
Branch 2.x
 Optional, default is undef

  Stdlib::Absolutepath                         $log_dir         = "${::icinga2::params::log_dir}/compat",
  Enum['DAILY', 'HOURLY', 'MONTHLY', 'WEEKLY'] $rotation_method = 'DAILY',

[2018-08-14 12:49] lbetz opened #455 "Rework param data types of icinga2::feature::elasticsearch"
Branch 2.x

- Optional parameters as Optional data type.
- Missing pki 'icinga2'?

[2018-08-14 12:50] lbetz opened #456 "Rework param datatypes of icinga2::feature::gelf"
Branch 2.x

Optinal parameters as Optional data type, defaults undef.

[2018-08-14 12:52] lbetz opened #457 "Rework param data types of icinga2::feature::graphite"
Branch 2.x

Optinal parameters as Optional data type, defaults undef.

[2018-08-14 12:54] lbetz opened #458 "Rework param data types of icinga2::feature::idomysql"
Branch 2.x

- Optinal parameters as Optional data type, defaults undef.
- Missing pki 'icinga2'?

[2018-08-14 12:56] lbetz opened #459 "Rework param data types of icinga2::feature::idopgsql"
Branch 2.x

Optinal parameters as Optional data type, defaults undef.

[2018-08-14 12:58] lbetz opened #460 "Rework param data types of icinga2::feature::influxdb"
Branch 2.x

Optinal parameters as Optional data type, defaults undef.

[2018-08-14 12:59] lbetz opened #461 "Rework param data types of icinga2::feature::livestatus"
Branch 2.x

Optinal parameters as Optional data type, defaults undef.

[2018-08-14 13:01] lbetz opened #462 "Rework param data types of icinga2::feature::opentsdb"
Branch 2.x

Optinal parameters as Optional data type, defaults undef.

[2018-08-14 13:02] lbetz opened #463 "Rework param data types of icinga2::feature::perfdata"
Branch 2.x

Optinal parameters as Optional data type, defaults undef.

[2018-08-14 13:03] lbetz opened #464 "Rework param data types of icinga2::feature::statusdata"
Branch 2.x

Optinal parameters as Optional data type, defaults undef.

[2018-08-14 13:05] lbetz opened #465 "Rework param data types of icinga2::feature::syslog"
Branch 2.x

- Optinal parameters as Optional data type, defaults undef.
- Add missing parameter 'facility'

[2018-08-14 13:06] lbetz commented on #451
define icinga2::object::apiuser(
  Stdlib::Absolutepath      $target,
  Array                     $permissions,
  Enum['absent', 'present'] $ensure       = present,
  String                    $apiuser_name = $title,
  Optional[String]          $password     = undef,
  Optional[String]          $client_cn    = undef,
  Pattern[/^\d+$/]          $order        = '30',
) {

[2018-08-16 09:05] tkoeck opened #466 "Debian 9/Stretch support"
Hi,

as Debian 9/Stable is released for several months now you should think about officially supporting it as well. :)

[2018-08-16 11:20] lbetz commented on #466
Is tested and supported but docs wasn't updated.

[2018-08-16 11:21] lbetz commented on #451
... and all other objects.

[2018-08-16 11:26] lbetz opened #467 "Default of parameter import of icinga2::object::checkcommand is outdated"
Branch 2.x

If remove then set needed min version.

[2018-08-16 11:39] lbetz opened #468 "Default of parameter import of icinga2::object::eventcommand is outdated"
Branch 2.x

If remove then set needed min version.

[2018-08-16 11:41] lbetz opened #469 "Parameter host_name icinga2::object::host is not optional"
Branch 2.x

[2018-08-16 11:45] lbetz opened #470 "Parameter prefix of icinga2::object::notification is not a boolean only"
Boolean                                    $prefix            = false,

=>

Variant[Boolean, String]        $prefix            = false,

[2018-09-13 10:25] lbetz opened #472 "Parameter prefix of icinga2::object::service is not a boolean only"
Boolean $prefix = false,

=>

Variant[Boolean, String] $prefix = false,

[2018-09-13 10:27] #470 closed, assigned to lbetz

[2018-09-13 11:47] #472 closed, assigned to lbetz

[2018-09-13 11:55] lbetz opened #473 "Attribute vars of object type service can be also a string"
Error: Evaluation Error: Error while evaluating a Resource Statement, Icinga2::Object::Service[http]: parameter 'vars' expects a value of type Undef or Hash, got String  at /root/puppetcode/modules/icinga2/examples/example_config.pp:97 on node centos7.localdomain

::icinga2::object::service { 'http':
  target        => '/etc/icinga2/example.d/services.conf',
  apply         => 'vhost => config in

[2018-09-13 12:02] #473 closed, assigned to lbetz

[2018-09-13 12:06] lbetz opened #474 "Attribute vars of all object types can be also a string"
This types are concered: user, eventcommand, service (fixed #473), host, notification, notificationcommand and checkcommand

[2018-09-13 12:15] #474 closed, assigned to lbetz

[2018-09-13 12:16] #469 closed, assigned to nobody

[2018-09-13 13:17] #451 closed, assigned to lbetz

[2018-09-13 14:35] lbetz opened #475 "Remove default apply_target from service object"
A service always has the target 'to Host' but it hasn't to be printed.

[2018-09-13 14:36] #475 closed, assigned to lbetz

[2018-09-13 14:48] lbetz opened #476 "Rework dependency list of modules"
Ensure only modules with support for puppet 4 are added to the list of dependencies.

[2018-09-13 15:06] #443 closed, assigned to lbetz

[2018-09-13 15:09] lbetz opened #477 "Looking for attributes that can assign other host or service attributes"
described in #443

[2018-09-13 15:12] lbetz commented on #430
It's documented.

[2018-09-13 15:12] #430 closed, assigned to nobody

[2018-09-13 15:20] #432 closed, assigned to lbetz

[2018-09-13 19:35] lbetz commented on #453
Remove deprecated for ssl_*_path.

[2018-09-13 19:36] #453 closed, assigned to lbetz

[2018-09-13 19:47] #448 closed, assigned to lbetz

[2018-09-14 08:12] #467 closed, assigned to lbetz

[2018-09-14 08:15] #468 closed, assigned to lbetz

[2018-09-14 08:16] lbetz opened #478 "Default of parameter import of icinga2::object::notificationcommand is outdated"
Branch 2.x

If remove then set needed min version.

[2018-09-14 08:16] #478 closed, assigned to lbetz

[2018-09-14 08:45] #465 closed, assigned to lbetz

[2018-09-14 08:55] #464 closed, assigned to lbetz

[2018-09-14 09:01] #454 closed, assigned to lbetz

[2018-09-14 09:07] lbetz commented on #452
do not forget to add a notice in README

[2018-09-14 09:12] lbetz commented on #398
#421 removed these parameters for v2.x because we support Icinga 2 >= v2.8.0 only.

[2018-09-14 09:12] #398 closed, assigned to nobody

[2018-09-14 09:23] #463 closed, assigned to lbetz

[2018-09-14 09:32] #462 closed, assigned to lbetz

[2018-09-14 09:39] #461 closed, assigned to lbetz

[2018-09-14 10:01] #457 closed, assigned to lbetz

[2018-09-14 10:05] #456 closed, assigned to lbetz

[2018-09-14 15:46] lbetz opened #479 "Remove management of repository.d in install.pp"
Warning: Unknown variable: '_ensure'. at /etc/puppetlabs/code/modules/icinga2/manifests/install.pp:42:16

[2018-09-14 15:50] #479 closed, assigned to lbetz

[2018-09-14 15:51] #455 closed, assigned to lbetz

[2018-09-14 16:01] lbetz opened #480 "Duplicate key HOSTDISPLAYNAME in example_config.pp"
Warning: The key 'HOSTDISPLAYNAME' is declared more than once at /root/puppetcode/modules/icinga2/examples/example_config.pp:231:30
Warning: The key 'HOSTDISPLAYNAME' is declared more than once at /root/puppetcode/modules/icinga2/examples/example_config.pp:250:30

[2018-09-14 16:02] #480 closed, assigned to lbetz

[2018-09-14 16:18] #459 closed, assigned to lbetz

[2018-09-14 17:12] dnsmichi opened #481 "Deprecated features in 2.9: statusdata & compatlog"
Just a short note, that the features `statusdata` and `compatlog` have been deprecated with 2.9, and will be removed in 2.11.

Depending on when you plan for 2.0 for this module, you might want to decide the base supported version and features then.

[2018-09-17 11:28] lbetz opened #482 "Change storing of certificate for elasticsearch feature"
Current state is we save key and certificates into a dedicated managed directory by default.

To remove the management of this directory we're going to store key and certificate directly into the icinga cert directory and use as name the puppet resource type + resource name.

[2018-09-17 11:29] lbetz commented on #482
Do not forget to add this new behaivor to the documentation.

[2018-09-17 12:17] #458 closed, assigned to lbetz

[2018-09-17 12:18] lbetz opened #483 "Change storing of certificate for influxdb feature"
Current state is we save key and certificates into a dedicated managed directory by default.

To remove the management of this directory we're going to store key and certificate directly into the icinga cert directory and use as name the puppet resource type + resource name.

[2018-09-17 12:31] #482 closed, assigned to lbetz

[2018-09-17 13:54] #460 closed, assigned to lbetz

[2018-09-17 14:04] #483 closed, assigned to lbetz

[2018-09-18 07:17] #452 closed, assigned to lbetz

[2018-09-18 07:30] lbetz commented on #481
The release of 2.0 is planed before OSMC. We wanna support 2.8 and higher of Icinga 2 so these feature are needed. The user has to enable the features if he wants to use one of these.

But we should documentate that.

[2018-09-18 09:59] lbetz opened #484 "Change location of the CA and the cert"
icinga2::pki::ca change to /var/lib/icinga2/ca and /var/lib/icinga2/certs

[2018-09-18 10:04] #484 closed, assigned to lbetz

[2018-09-18 10:22] lbetz opened #485 "Remove include of params from object class"
refs #392

[2018-09-18 10:22] #485 closed, assigned to lbetz

[2018-09-19 08:24] SimonHoenscheid commented on #484
Whats about setting the path depending on Icinga2 version?

[2018-09-19 12:36] #466 closed, assigned to nobody

[2018-09-19 12:39] lbetz commented on #484
When you install icinga2 the first time (with ensure => installed) how you determine what version was installed?

[2018-09-19 12:45] lbetz opened #486 "Rework rspec tests"
Current state is to test config files generated by attributes via class rspec tests (object types). We wanna replace it by using dedicated tests fpr functions.

[2018-09-20 08:00] dnsmichi commented on #481
Okidoki, just wanted to let you know :-)

[2018-09-20 08:20] dnsmichi commented on #484
v2.0 will support 2.8+ as I've learned in #481, so I don't think that such a change is necessary :)

[2018-09-20 09:07] SimonHoenscheid commented on #484
Thx @dnsmichi

[2018-09-21 08:03] lbetz commented on #486
... and remove the associated tests from classes and defined resources.

[2018-09-24 21:38] lbetz opened #488 "Remove define resource compatlogger"
The CompatLogger has to be implemented as feature only like all other Icinga 2 objects use in features.

[2018-10-01 11:47] lbetz opened #489 "Parameter ca_port has no effect to api feature"
If you choice icinga2 as pki and set a port to connect the ca this port isn't used to get a certificate from the ca.

[2018-10-01 12:05] lbetz commented on #489
sorry, works correct.

[2018-10-01 12:05] #489 closed, assigned to nobody

[2018-10-02 14:08] lbetz commented on #355
refs #486

[2018-10-02 14:37] #486 closed, assigned to lbetz

[2018-10-02 14:38] #355 closed, assigned to lbetz

[2018-10-06 13:53] lbetz opened #490 "Move to module data"
instead of a dedicated params class.

[2018-10-07 05:56] #488 closed, assigned to lbetz

[2018-10-07 06:04] #275 closed, assigned to nobody

[2018-10-07 06:09] lbetz commented on #365
dnsmichi described a problem:
"This requires to have a fully provisioned Icinga 2 master before any client deployments, which might be a problem with Puppet here."

The same must be done when we use the icinga ca and a ticket to authentificate the cert request.

[2018-10-08 09:03] htj opened #491 "InfluxWriter: Optional parameters are forced by module"
Hi

I'm exporting icinga data to an influx instance with the influxdbwriter feature.

The puppet module has some rather strong assumptions on what options need to be set.

## Expected Behavior

When `enable_ssl` is set, .e.g:
[code]

I'd expect the variables `ssl_enable` and `ssl_ca_cert` to pop up in configuration file.

BUT NOT the variables `ssl_cert` and `ssl_key`. The are optional, and having

[2018-10-10 10:45] #490 closed, assigned to lbetz

[2018-10-10 10:48] lbetz opened #493 "Path to key, cert and cacert are not configurable anymore"
Rework classes icinga2::feature::api ans icinga2::pki::ca. Certificates and keys now are stored to var/lib/icinga2/certs

[2018-10-10 11:13] lbetz opened #494 "Missing documentation of class icinga::globals"

[2018-10-10 12:46] #493 closed, assigned to lbetz

[2018-10-10 12:47] #447 closed, assigned to nobody

[2018-10-10 12:50] lbetz commented on #419
This won't be fixed, we have to use the prefix -: in every item of an array or values in a hashes.

[2018-10-10 12:50] #419 closed, assigned to nobody

[2018-10-10 14:02] lbetz commented on #494
Only documented inline because this for advanced users only.

[2018-10-10 14:02] #494 closed, assigned to lbetz

[2018-10-10 14:13] lbetz commented on #363
refs #476

[2018-10-10 14:13] #363 closed, assigned to nobody

[2018-10-10 14:49] #476 closed, assigned to lbetz

[2018-10-12 10:07] lbetz opened #495 "API change to icinga2 CA as default"
The class icinga2::feature::api uses the Puppet Cert as default. We change it to icinga2.

[2018-10-12 10:09] lbetz commented on #365
We wanna implement api requests authenticated by basic auth und cert validation (refs #360)

[2018-11-03 15:51] lbetz opened #496 "Unknown variable ido_mysql_package on debian"
Warning: Unknown variable: '::icinga2::globals::ido_mysql_package'. (file: /etc/puppetlabs/code/environments/production/modules/icinga2/manifests/debian/dbconfig.pp, line: 21, column: 51)

[2018-11-03 15:56] lbetz commented on #496
same for pgsql, name must hase _name at the end

[2018-11-03 15:56] #496 closed, assigned to lbetz

[2018-11-03 17:41] lbetz opened #497 "Unknown variable _ssl_key"
Warning: Unknown variable: '_ssl_key'. (file: /etc/puppetlabs/code/environments/production/modules/icinga2/manifests/pki/ca.pp, line: 105, column: 16)

[2018-11-03 17:44] #497 closed, assigned to lbetz

[2018-11-03 18:26] lbetz opened #498 "pki::ca require dependency to config class"
require ::icinga2::config

was removed for v2.x, put it back to icinga2::pki::ca for correct ordering

[2018-11-03 18:35] #498 closed, assigned to lbetz

[2018-11-22 11:56] netzwerkgoettin opened #499 "Some comments when using on Windows"
Hi,

as discussed with @lbetz - here's my issue.

I'm about to manage Linux hosts without any problems; but on Windows, I ran into several issues. It might be interesting that the host is not a newly installed icinga2 instance - it was previously configured to get monitored by the old icinga2 master, and via puppet it then gets its configuration for the new monitoring master. Here's what I noticed

[2018-11-22 18:00] lbetz opened #500 "ido-pgsql db import fails on debian"
Importing db schema of ido-pgsql fails on debian systems

Notice: /Stage[main]/Icinga2::Feature::Idopgsql/Exec[idopgsql-import-schema]/returns: psql: FATAL:  password authentication failed for user "icinga2"
Notice: /Stage[main]/Icinga2::Feature::Idopgsql/Exec[idopgsql-import-schema]/returns: FATAL:  password authentication failed for user "icinga2"
Error: 'psql -h '127.0.0.1' -U 'icinga2' -p '543

[2018-11-26 11:53] lbetz commented on #500
On debian 8 (jessie) the problem still exists. Looks like a bug in the package.

Using:
icinga2-ido-pgsql	icinga2-ido-pgsql/dbconfig-install	boolean	false
icinga2-ido-pgsql	icinga2-ido-pgsql/enable		boolean	false

still configures the database via dbconfig.

[2018-11-27 07:14] #500 closed, assigned to lbetz

[2018-11-29 09:38] lbetz opened #501 "Incomplete list of supported operatingssystems"
Add:
- Debian 9
- Ubuntu 18.04
- Oracle Linux 6

to README.md

[2018-12-08 02:50] paladox opened #504 "Evaluation Error: Error while evaluating a Function Call, Class[Icinga2::Globals]:"
Hi, upgrading to the latest commit under the 2.x branch, I'm getting:

[code]

[code]

## Expected Behavior
The values to be prefilled with defaults.

## Current Behavior
It's fataling with the error in the description.

## Possible Solution
Fill in the defaults.

## Steps to Reproduce (for bugs)

## Context

## Your Environment

* Module version (`puppet module list`):
* Puppet version (`puppet -

[2018-12-08 06:24] lbetz commented on #504
For branch v2.x puppet 4.10 or higher is required. Data in modules as feature is needed:
https://puppet.com/docs/puppet/4.10/hiera_migrate_modules.html

  "requirements": [
    { "name": "puppet", "version_requirement": ">= 4.10.0 < 6.0.0" }
  ],

But this info is missed in the documentatition yet.

[2018-12-11 13:50] rychannel opened #505 "Puppet 6 Support"
Has anyone tried this on Puppet 6 or PE 2019 yet?

[2018-12-28 17:45] rdagum commented on #505
I'm not able to install icinga2 with P6. We had to upgrade to P6 because of other modules and now we are stuck unable to deploy icinga.

[2018-12-29 08:09] lbetz commented on #505
Did you checkout branch v2.x?

[2018-12-29 20:53] gasperno commented on #505
Puppet version: 6.1.0
Icinga Version: r2.10.2-1

I tried with v2.x this morning.  I have the following resources configured for icinga master role.
[code]
Actual Behavior:

[code]

Expected Behavior: I call this expected because I get the following with puppet5 so I expect something similar with puppet6.

[code]

This causes icinga2 validation to fail so icinga2 does not start.

[2018-12-29 21:36] lbetz commented on #505
puppet apply example/init_master.pp

I get with puppet 6.1.0 and puppet-icinga2 1.3.7:

object ApiListener "api"  {
  cert_path = "/etc/icinga2/pki/master.localdomain.crt"
  key_path = "/etc/icinga2/pki/master.localdomain.key"
  ca_path = "/etc/icinga2/pki/ca.crt"
  accept_commands = false
  accept_config = false
  ticket_salt = TicketSalt
}

with branch v2.x:

object ApiListener "api"  {
  ticket

[2018-12-30 13:02] #501 closed, assigned to lbetz

[2019-01-01 20:54] dagobert opened #509 "Allow dots in data structures of object attributes"
I have setup a host object as follows. The problem is that `bond1.50 is translated wrongly to the icinga2 configuration file.

[code]
It is double quoted twice.

[code]

## Expected Behavior
The correct behaviour should be only double quoted once.

## Possible Solution
I have tried to use the `'-:"abc"` method but it did not work as I also already expected.
Not using single quotes in the puppet co

[2019-01-02 07:43] lbetz commented on #509
That's not a bug. At the moment just a string of a-zA-Z0-9_ is permitted as attribute or custom attribute names.

-: only works for values of attributes or custom attributes not for itself.

[2019-01-02 10:25] lbetz commented on #509
Sorry, my answer was too fast. You describe an error outside of any attribute or custom attribute.

Please checkout the related branch and test your config.

[2019-01-02 21:18] dagobert commented on #509
I would be happy to test the fix. I have installed the module using `puppet module install`. Can you tell me which `--version` I have to specify to install the fix / branch?

[2019-01-02 21:52] lbetz commented on #509
The branch is only available on github.

cd modules
git clone https://github.com/Icinga/puppet-icinga2.git icinga2
cd icinga2
git checkout bug/Allow-dots-in-data-structures-of-object-attributes-509

what's all

[2019-01-09 07:45] netzwerkgoettin opened #510 "API configuration on Windows systems"
Hi Lennart,

according to #499 there's another thing I noticed: I wrote a small class `icinga2_Client` like this:

[code]

It creates a syntactically correct `features-available/api.conf` but it **does not** enable it – I have to manually put it into `features-enabled`. I also tried to put it into `features` like this just for trial and error:
[code]

But then it complains about `duplicate` and `a

[2019-01-09 08:01] lbetz commented on #510
Moin,

what do you mean with 'put into features'? Did you move it or put it additional to features? For the last case then it's clear that you got a 'duplicate declaration'.

Is '<$myhostname>' the real code?

Bye
Lennart

[2019-01-09 08:04] netzwerkgoettin commented on #510
Hi,

I put it additional to features and deleted the entry when it didn't work. And <$myhostname> is of course **not** real code but by hostname goes here which I can't publish here.

Cheers, Marianne

[2019-01-09 08:13] lbetz commented on #510
How does the icinga2 config files look like? What daos 'icinga2 daemon -C' says?

[2019-01-11 21:28] gasperno commented on #505
I had to update dependency version and 2.x worked as expected with puppet 6. Thanks @lbetz

[2019-01-12 02:27] rychannel commented on #505
The issue I see is that when optional parameters aren’t specified, the code specified blank strings in the config files for the parameters. This causes things to break as Icinga doesn’t like having parameters set to blank. Not sure if this is an issue with the puppet version or bad code.

[2019-01-13 18:34] #509 closed, assigned to lbetz

[2019-01-14 06:52] lbetz opened #511 "Problem with ownership NETWORK on non-english Windows"
On Windows with other languages as english the user Administrator or the group NETWORK does not exist and the puppet run fails.

These are used in object.pp and config/fragment.pp remove the concat defaults for Windows may fix this problem.

     Concat {
        owner => 'Administrators',
        group => 'NETWORK SERVICE',
        mode  => '0770',
     }

On Windows files and directories inherit

[2019-01-14 06:53] lbetz commented on #510
refs #511

[2019-01-14 06:54] lbetz commented on #499
refs #511

[2019-01-14 06:55] lbetz commented on #437
refs #511

[2019-01-14 08:20] lbetz commented on #505
I'm using the v1.3.7 and the upcoming v1.4.0 also with puppet6.

[2019-01-14 08:28] lbetz commented on #505
Regarding the blank string problem: all icinga attributes are stored in a hash in puppet and are delivered via every object define resource to class object itself. And important all undef values are deleted by using the function delete_undef_values out from the stdlib module.

e.g. manifests/object/user.pp:
  # create object
  icinga2::object { "icinga2::object::User::${title}":
    ensure      =>

[2019-01-14 15:26] #511 closed, assigned to lbetz

[2019-01-14 15:28] #510 closed, assigned to lbetz

[2019-01-14 15:28] #499 closed, assigned to lbetz

[2019-01-14 15:29] #437 closed, assigned to lbetz

[2019-01-14 15:40] benningm commented on #505
You need to update your stdlib module to at least 5.1.0 because it fixes the function for puppet6:

https://github.com/puppetlabs/puppetlabs-stdlib/commit/792bcd478abd1076691047a9e4ea54c3535fe7b8

[2019-01-14 15:59] lbetz commented on #505
thx

[2019-01-14 21:00] benningm commented on #505
It may be gentle to add a check like:

[code]

[2019-01-16 12:34] benningm opened #512 "Feature Request: Allow to pass ticket_id to API Feature"
Currently it is only possible to pass the ticket_salt to generate the ticket_id.
If you dont have access to the servers ticket_salt it would be good if you can directly
pass the ticket_id to obtain the certificate.

[code]

## Expected Behavior

When a ticket_id is given then it should use the ticket_id instead of generating it
from the ticket_salt and fqdn.

## Current Behavior

The ticket_id is

[2019-01-18 17:22] #512 closed, assigned to nobody

[2019-01-18 18:47] lbetz opened #515 "Fix init_spec test"
Failures:

  1) icinga2 on windows-2012 R2-x64 with all default parameters should contain File[] with content =~ /^const NodeName = \".+\"\n/
     Failure/Error:
       it { is_expected.to contain_file(@constants_conf)
         .with_content %r{^const NodeName = \".+\"\n} }

     ArgumentError:
       No title provided and "File" is not a valid resource reference
     # ./spec/classes/init_spec.rb

[2019-01-18 19:46] #515 closed, assigned to lbetz

[2019-01-18 20:33] lbetz opened #516 "rework unit test for objects_spec.rb"

[2019-01-18 20:42] lbetz opened #517 "fix unit test functions/attributes_spec.rb"
1) icinga2_attributes raises a ArgumentError if there is less than 1 arguments
     Failure/Error: require ::icinga2::globals

     Puppet::PreformattedError:
       Evaluation Error: Error while evaluating a Function Call, Class[Icinga2::Globals]:
         expects a value for parameter 'user'
         expects a value for parameter 'group'
         expects a value for parameter 'icinga2_bin' at /U

[2019-01-18 21:11] #516 closed, assigned to lbetz

[2019-01-18 21:11] #517 closed, assigned to lbetz

[2019-01-20 18:08] benningm opened #518 "OS facts clutter with recent ruby versions in spec tests"
I have problems running the unit tests on recent ruby versions.

I have an environment with a stable Debian that is able to successfully execute the tests in `api_spec.rb`:

[code]
And an environment running testing Debian/buster:

[code]

On this environment most tests in `api_spec.rb` (and in other test cases) fail.
A lot of errors are about wrong file paths. Some errors report paths with 'C:\..

[2019-01-20 20:27] lbetz commented on #518
Yes, I did it in v2.x as I rework the test. We don't will spent time on that for v1.x I think.

[2019-01-21 06:24] lbetz commented on #518
Hm,

~/puppetcode/modules/icinga2:master±$ rake spec_standalone SPEC=spec/classes/api_spec.rb
/Users/lbetz/.rbenv/versions/2.5.3/bin/ruby -I/Users/lbetz/.rbenv/versions/2.5.3/lib/ruby/gems/2.5.0/gems/rspec-support-3.8.0/lib:/Users/lbetz/.rbenv/versions/2.5.3/lib/ruby/gems/2.5.0/gems/rspec-core-3.8.0/lib /Users/lbetz/.rbenv/versions/2.5.3/lib/ruby/gems/2.5.0/gems/rspec-core-3.8.0/exe/rspec spec/cla

[2019-01-30 14:56] gasperno commented on #505
@lbetz I noticed that v2.x branch is deleted. Any timelines on when v2.0 will be pushed to Puppet forge?

[2019-01-30 14:57] lbetz commented on #505
@gasperno v2.x moved to the master branch.

[2019-01-30 15:11] lbetz commented on #449
Did you try puppetlabs-dcs? Exactly the resource dcs_service?

[2019-02-03 18:48] lbetz opened #519 "Remove repos info to data in module hiera"
Something like that:

// allow to overwrite some key/value pairs by users, e.g. the proxy statement
$repo =  lookup('icinga2::repo', Hash, 'deep', {})

 yumrepo { 'icinga-stable-release':
    * => $repo,
 }

[2019-02-03 18:51] #519 closed, assigned to lbetz

[2019-02-03 19:17] omerlh opened #520 "Create vars.foo["bar"] objects in Hiera"
## Expected Behavior
I'm trying to create an apply rule based on host vars. I tried to achieve something similar to the [documentation](https://icinga.com/docs/icinga2/latest/doc/03-monitoring-basics/#using-apply-for-rules). This is the relevant hiera vars section:
[code]
This should end up as `object["blah"] = value`.

## Current Behavior
Puppet does not ignore quotes when translating hiera JSON

[2019-02-03 19:20] lbetz commented on #520
Please past your code or your hiera files.

[2019-02-03 19:21] omerlh commented on #520
I updated my comment - the first snippet is the relevant part of hiera. Does this helps?

[2019-02-03 19:27] lbetz commented on #520
Did you check the current version 1.4.0 of the module? That should solve the problem with double double quotes.

But what to hell this "<>" thing means? Do you know where it comes from?

[2019-02-03 19:28] omerlh commented on #520
My bad redacting :) I'll upgrade module version and report if it will fix the issue

[2019-02-03 20:29] omerlh commented on #520
Thanks! I can confirm that upgrading the version solve the issue, closing.

[2019-02-03 20:29] #520 closed, assigned to nobody

[2019-02-03 21:01] lbetz commented on #397
May someone wanna test branch 'bug/Replace-gpgkey-handling-for-suse-397' (note requires puppet 4.10 and higher).

Adding the following to hiera

icinga2::repo:
  proxy: https://host.example.org:3128

will use the proxy to download the gpg key and add it to a new line to the repo file.

[2019-02-04 08:12] lbetz commented on #520
thx for feedback.

[2019-02-04 10:35] #505 closed, assigned to lbetz

[2019-02-04 13:08] #481 closed, assigned to lbetz

[2019-02-04 13:09] #504 closed, assigned to lbetz

[2019-02-04 13:29] #495 closed, assigned to lbetz

[2019-02-04 13:55] #397 closed, assigned to lbetz

[2019-02-04 14:03] #518 closed, assigned to nobody

[2019-02-11 14:11] lbetz commented on #278
refs #356

[2019-02-11 14:11] #278 closed, assigned to lbetz

[2019-02-11 14:16] #356 closed, assigned to lbetz

[2019-02-11 15:14] lbetz opened #521 "Add some custom data types"
e.g. an interval for
- check_interval
- retry_interval
- log_duration
- ...

e.g. a logseverity and logfacility

[2019-02-11 15:17] #521 closed, assigned to lbetz

[2019-02-11 15:28] lbetz commented on #491
Ok, key and certificate arn't needed if no client auth is required.

So these parameters has to be optional. And remove pki as parameter.

[2019-02-11 16:22] lbetz opened #522 "ElasticsearchWriter: Optional parameters are forced by module"
ssl_key, ssl_cert, see #491

[2019-02-11 16:23] lbetz opened #523 "IdoMysqlConnection: Optional parameters are forced by module"
ssl_key, ssl_cert, see #491

[2019-02-11 16:24] lbetz commented on #414
refs #523

[2019-02-11 18:02] #522 closed, assigned to lbetz

[2019-02-12 08:39] #523 closed, assigned to lbetz

[2019-02-12 11:28] #414 closed, assigned to lbetz

[2019-02-12 11:49] lbetz opened #524 "Add an example for idomysql via SSL"

[2019-02-12 11:51] lbetz opened #525 "Cannot use localhost as host in feature idomysql"
Error: 'mysql -h localhost -P 3306 -u icinga2 -p'supersecret' icinga2 < /usr/share/icinga2-ido-mysql/schema/mysql.sql' returned 1 instead of one of [0]
Error: /Stage[main]/Icinga2::Feature::Idomysql/Exec[idomysql-import-schema]/returns: change from 'notrun' to ['0'] failed: 'mysql -h localhost -P 3306 -u icinga2 -p'supersecret' icinga2 < /usr/share/icinga2-ido-mysql/schema/mysql.sql' returned 1 in

[2019-02-12 11:52] lbetz commented on #525
appears only if import_schema is used

[2019-02-12 12:31] #525 closed, assigned to lbetz

[2019-02-12 12:32] lbetz opened #526 "Set default of host to localhost for feature idopgsql"

[2019-02-12 12:55] #526 closed, assigned to lbetz

[2019-02-12 15:22] #524 closed, assigned to lbetz

[2019-02-12 15:47] lbetz opened #527 "Syntax error custom data type logfacility"
Syntax error at end of input (file: /Users/lbetz/puppetcode/modules/icinga2/spec/fixtures/modules/icinga2/types/logfacility.pp)

[2019-02-12 15:49] #527 closed, assigned to lbetz

[2019-02-14 14:03] lbetz opened #528 "Convert to pdk"

[2019-02-25 11:31] kbabioch commented on #332
Has this been addressed at some point? I'm also running into this issue, and so are many other people (at least according to Google search results). Not sure what to do about it, no real solution has been proposed so far.

[2019-02-25 12:01] SimonHoenscheid commented on #332
if you set  $ticket_salt to the Ticket salt of the master node, the ticket on the node should be generated correctly.

[2019-02-25 12:34] lbetz commented on #332
The procedure to configure a distributed setup is described in the docs. But the structure of the info could be better.

See:
Create a new CA with the icinga2 CLI command and a certificate signed by this new CA. This is useful especially when setting up a new Icinga 2 master.

class { '::icinga2':
  constants => {
    'TicketSalt'   => '5a3d695b8aef8f18452fc494593056a4',
  }
}

class { '::icinga2:

[2019-02-25 13:10] kbabioch commented on #332
Something about this does not work for me. I've wiped the old PKI (CA and other certificates) and now try to setup everything from scratch. The ticket salt is set, and the CA cert is correctly retrieved and shown to me in the `node wizard`. Then I'm asked for the salt. I'm executing the command on the master node and copy & paste the ticket salt over the the client, but after a while all I get is:

[2019-02-25 13:13] lbetz commented on #332
Please post your manifest.

[2019-02-25 14:48] Caprico85 opened #530 "Unable to define endpoint with custom port number"
## Expected Behavior
Being able to define an endpoint with a custom port number like this
[code]

## Current Behavior
Above statement results in error message:
[code]

## Possible Solution
In manifests/object/endpoint.pp:

[code]

I guess $port should not be of type Service.

[2019-02-25 20:16] #530 closed, assigned to lbetz

[2019-02-26 21:12] kbabioch commented on #332
What exactly do you need and/or where do I find this manifest?

What is really strange in my case is, that it works for one node, but not for the other. I've setup the whole environment multiple times now, just to be sure, but I can reproduce this and I'm not exactly sure how to best debug this.

So what I did so far, is the following:

- Install `icinga2` on `mon1`
- Run `icinga2 node wizard` on

[2019-02-26 22:34] kbabioch opened #531 "icinga2 pki request does not invoke JSON RPC request"
I've noticed that getting certificates signed using the `pki` subcommand and the API on the master node, is unreliable and often times out. Invoking the same command multiple times will eventually work.

The basic setup looks like this. I'm not using any tickets here on purpose, to keep it as simple as possible.

Icinga 2 running on `mon1` with `api` feature, which looks something like this:

- In

[2019-02-26 22:35] #531 closed, assigned to nobody

[2019-02-26 22:35] kbabioch commented on #531
Sorry, opened the bug in the wrong repository :-/.

[2019-02-26 22:38] kbabioch commented on #332
I've narrowed this bug down somewhat, but only now realized that this repository is dedicated to the Puppet module, but my bug is within Icinga 2 itself: https://github.com/Icinga/icinga2/issues/6981

[2019-03-04 13:53] jmuecke opened #536 "Failed to apply catalog: One or more resource dependency cycles"
## Expected Behavior
When the icinga2 module is loaded icinga2 should be installed.

## Current Behavior
Applying my configuration returns:
[code]
## Steps to Reproduce (for bugs)
Load the icinga2-module:
[code]

## Context
I can't install nor manage icinga2. It doesnt seem to be linked to: https://github.com/Icinga/puppet-icinga2/issues/224 as I have a fresh concat module. See below.

## Your Env

[2019-03-04 20:18] lbetz commented on #536
Did an apply on examples/init_repo.pp and got no dependency cycle. Please, check this on your environment if there is a difference to classifying by hiera.

[2019-03-06 16:37] s-johansson opened #537 "Documentation of default values for InfluxWriter is outdated"
## Expected Behavior
Defaults are applied as documented

[code]

## Current Behavior
Defaults are not applied

[code]
## Possible Solution
* Rework documentation
 or
* Restore defaults as they they were removed after v1.4.0

## Steps to Reproduce (for bugs)
Just declare the class without mentioned options
[code]

## Context

## Your Environment
Using v2.0.1 and comparing result with v1.4.0

[2019-03-06 17:21] s-johansson commented on #537
Added default values to icinga2::feature::influxdb

[2019-03-12 19:20] jmuecke commented on #536
You're right it is still an issue with an old concat. Which was hidden in our configuration. Thank you!

[2019-03-12 19:20] #536 closed, assigned to lbetz

[2019-03-27 09:23] martinseener opened #540 "Puppet runs now fail on Debian Jessie due to removed backports repo"
## Expected Behavior
I expect puppet to run through without throwing an error on apt::backports due to a missing repository

## Current Behavior
Since the jessie-backports repo is no longer existing (and i haven't found an archive for it either) the module now fails - also apt-get runs since the repo is 404.

## Possible Solution
I have no real solution but the question is more like: What we can d

[2019-03-27 11:51] dnsmichi commented on #540
There was an announcement in the last days that backports was removed from mirrors and now is in the archive.

https://lists.debian.org/debian-devel-announce/2019/03/msg00006.html
https://unix.stackexchange.com/questions/508724/failed-to-fetch-jessie-backports-repository

[2019-04-08 06:36] lbetz commented on #540
How you can handle that is fully described in the documentation under 'Icinga 2 Installation'. The param 'manage_repo' is off by default so you're able to manage your own repositories.

[2019-04-08 06:36] #540 closed, assigned to lbetz

[2019-04-08 06:48] martinseener commented on #540
Oops, i think i missed that one. Thanks for clarification!

[2019-04-08 06:49] lbetz commented on #540
You're welcome and sorry for taking so long.

[2019-04-24 09:46] lbetz opened #541 "Rework feature classes to define resources"
Motivation is to use more than one backend/object like for InfluxDbWriter

refs #395

or for IdoMysqlConnection to use as exported resources in a dedicated database scenario.

[2019-04-25 05:41] lbetz commented on #537
Default to:

object InfluxdbWriter "influxdb" {
  host_template = {
    measurement = "$host.check_command$"
    tags = {
      hostname = "$host.name$"
    }
  }
  service_template = {
    measurement = "$service.check_command$"
    tags = {
      hostname = "$host.name$"
      service = "$service.name$"
    }
  }
}

[2019-04-25 05:45] #537 closed, assigned to lbetz

[2019-04-25 05:51] #449 closed, assigned to nobody

[2019-04-25 06:41] lbetz commented on #360
Add an optional parameter to check the fingerprint and/or compare the trusted certificate with the parent cert.

[2019-04-29 07:16] lbetz commented on #360
The fingerprint ends with one or more whitespaces.

On Windows use
| findstr /R /C:"...[ ]*$"

On *nix use
| grep "...\s*$"

[2019-04-29 09:03] lbetz opened #542 "Path on Windows does not work"
Error: Could not find command 'C:/Program'
Error: /Stage[main]/Icinga2::Feature::Api/Exec[icinga2 pki create key]/returns: change from 'notrun' to ['0'] failed: Co
uld not find command 'C:/Program'
Notice: /Stage[main]/Icinga2::Feature::Api/Exec[icinga2 pki get trusted-cert]: Dependency Exec[icinga2 pki create key] h
as failures: true
Warning: /Stage[main]/Icinga2::Feature::Api/Exec[icinga2 pki ge

[2019-04-29 13:11] #542 closed, assigned to lbetz

[2019-04-30 08:21] #360 closed, assigned to lbetz

[2019-05-13 12:46] mamiral opened #543 "Icinga2 custom config dir (not /etc/...)"
Hi,
i have my custom built icinga2 rpm (for reasons beyond my paygrade), which gets installed into /home/myuser/myusers-monitoring-system. All configs, certs and everything is under this directory (basically i'm setting CMAKE_INSTALL_SYSCONFDIR when building). Is there a way to tell the puppet-icinga2 module that sysconfdir is not /etc but in /home/myuser/...?

And thanks for this puppet module!

[2019-05-13 12:57] mamiral commented on #543
Ok, nvm, i think I've found it in the globals.pp. Just need to figure out where to set the $conf_dir variable.

[2019-05-13 13:20] lbetz commented on #543
Correct, we split this. Not everyone should do that... and we won't support that.

[2019-05-13 13:29] mamiral commented on #543
Is there a way i can add into data/ directory? So, i could have my .yaml for our linux distro. Think this would be the best way. Can't find where it's selected which .yaml to use for global cofig.

tnx

[2019-05-13 21:03] lbetz commented on #543
Depends on your hierarchy. All key has to be like

icinga2::globals::conf_dir: /etc/icinga2

see data/*.yaml of the module itself.

[2019-05-14 07:18] mamiral commented on #543
Hi,
yes, I'm editing data/Linux-kernel.yaml according to my setup. Think it's the most easy way to do it.
Think we can close this one.

Thanks for the help and for the module also!

br
mm

[2019-05-14 10:42] lbetz commented on #543
Thx for using the module and for yout feedback.

[2019-05-14 10:42] #543 closed, assigned to nobody

[2019-05-16 11:50] baurmatt commented on #495
Is there a specific reason why this was done? Puppet certs was IMHO easier to set up.

[2019-05-16 13:02] dnsmichi commented on #495
Re-using the Puppet CA for a different application implies a security problem in some scenarios with opening the matter of trust to Puppet _and_ Icinga. Agreed on the easiness, but security matters these days and we should follow best practices imho.

[2019-05-16 16:49] lbetz commented on #495
Michi is right of course. With the certificate from puppet you're able to get a catalog, maybe with passwords.

[2019-05-17 09:02] baurmatt commented on #495
Thanks for explaining your decision, that's everything i wanted ;)

[2019-05-20 06:58] lbetz opened #545 "Fix spec test of feature api"
expected that the catalogue would contain Exec[icinga2 pki create key] with command set to "/usr/local/sbin/icinga2 pki new-cert --cn host.example.org --key /var/lib/icinga2/certs/host.example.org.key --cert /var/lib/icinga2/certs/host.example.org.crt" but it is set to "\"/usr/local/sbin/icinga2\" pki new-cert --cn host.example.org --key /var/lib/icinga2/certs/host.example.org.key --cert /var/lib/

[2019-05-20 07:29] #545 closed, assigned to lbetz

[2019-05-20 11:47] lbetz opened #546 "Fix spec tests for feature idomysql"
expected that the catalogue would contain Exec[idomysql-import-schema] with command set to "mysql -u icinga -p'foo' icinga < /usr/local/share/icinga2-ido-mysql/schema/mysql.sql" but it is set to "mysql -u icinga -p'foo' icinga < \"/usr/local/share/icinga2-ido-mysql/schema/mysql.sql\""

Quoting was new in version 2.1.0.

[2019-05-20 12:12] #546 closed, assigned to lbetz

[2019-05-20 12:13] lbetz opened #547 "Fix spec tests for feature idopgsql"
expected that the catalogue would contain Exec[idopgsql-import-schema] with command set to "psql -h 'localhost' -U 'icinga' -p '5432' -d 'icinga' -w -f /usr/local/share/icinga2-ido-pgsql/schema/pgsql.sql" but it is set to "psql -h 'localhost' -U 'icinga' -p '5432' -d 'icinga' -w -f \"/usr/local/share/icinga2-ido-pgsql/schema/pgsql.sql\""

Quoting was new in version 2.1.0.

[2019-05-20 12:15] #547 closed, assigned to lbetz

[2019-05-20 12:28] lbetz opened #548 "Fix spec tests for class pki"
expected that the catalogue would contain Exec[create-icinga2-ca] with command set to "/usr/local/sbin/icinga2 pki new-ca" but it is set to "\"/usr/local/sbin/icinga2\" pki new-ca"

expected that the catalogue would contain Exec[icinga2 pki create certificate signing request] with command set to "/usr/local/sbin/icinga2 pki new-cert --cn host.example.org --key /var/lib/icinga2/certs/host.example.o

[2019-05-20 12:28] #548 closed, assigned to lbetz

[2019-05-20 12:35] lbetz opened #549 "Fix spec tests of icinga objects"
expected that the catalogue would contain Concat[/bar/baz] with owner set to "nagios" but it is set to "root"

[2019-05-20 12:36] #549 closed, assigned to lbetz

[2019-05-21 09:17] lbetz opened #550 "Fix tests for Puppet 6"
Puppet 6 isn't used for tests yet.

[2019-05-21 09:19] #550 closed, assigned to lbetz

[2019-05-21 11:47] lbetz opened #553 "Fix some lint issues in api, idomysql, globals"
manifests/feature/api.pp:342:trailing_whitespace:ERROR:trailing whitespace found
manifests/feature/api.pp:342:2sp_soft_tabs:ERROR:two-space soft tabs not used
manifests/feature/idomysql.pp:259:trailing_whitespace:ERROR:trailing whitespace found
manifests/globals.pp:106:variable_scope:WARNING:top-scope variable being used without an explicit namespace
manifests/globals.pp:106:trailing_whitespace:ER

[2019-05-21 11:48] #553 closed, assigned to lbetz

[2019-05-23 09:59] fredjupp commented on #504
Hello!
I see the same error message, but only on windows systems. On RHEL, it works fine.
I never defined constants myself and i older version, they can be found in the params.pp which does not exist any more in v2.1.0
Can you explain this to me

[2019-05-23 11:00] fredjupp commented on #504
I found a fix myself. The data/Windows-kernel.yaml does not match the case, which is returned by the facter -p kernel command. This returns windows as lower case, whereas the yaml file is written with a capital W.
So, i linked the Windows-kernel.yaml to windows-kernel.yaml and it worked.
So, please include this fix to an upcoming release, I can also push my branch, if i have the permission.
A good

[2019-05-24 18:15] lbetz opened #556 "Fact kernel on windows has to be lower case"
'facter kernel' returns 'windows' but data in module uses Windows-kernel.yaml as file name.

[2019-05-24 18:27] lbetz commented on #504
thx @fredjupp, I opened #556

[2019-05-24 18:27] lbetz commented on #556
refs #504

[2019-05-24 18:27] #556 closed, assigned to lbetz

[2019-05-24 19:32] lbetz opened #559 "Set default of all optional parameters in globals to undef"
and remove all null values from Hiera data.

[2019-05-24 19:40] #559 closed, assigned to lbetz

[2019-05-24 19:55] lbetz opened #560 "Rework travis batch and enable check for puppet 6"

[2019-05-24 19:56] #560 closed, assigned to lbetz

[2019-05-24 20:31] lbetz opened #561 "Fix and update TESTING documentation"
It's outdated since v2.0.0 as beaker tests take place of ServerSpec.

Add the missing 'bundle exec' calls in front of all rake execs.

[2019-05-24 20:31] #561 closed, assigned to lbetz

[2019-06-05 07:40] #528 closed, assigned to nobody

[2019-06-06 09:37] pieterjanpintens opened #566 "Allow to specify both vars + config as custom vars using hash"
We are currently working on puppet migration for icinga.
We came need to migrate service objects that specify both:

[code]

I tried some combinations but it seems that this is not possible yet using a proper `icinga2::object::service`. Would it be possible to make this work with an empty key in the hash? For example:

[code]

At the moment this would generate:
[code]
This is of course invalid syn